<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<h:body>

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="content">

            <h:form>

                <h:panelGroup style="padding: 1.5vw 15vw" styleClass="column">

                    <h1 style="margin-bottom: 0;">Relatórios</h1>
                    <p:separator style="margin-top: 0; margin-bottom: 2em; border-color: #5188E4;"/>
                    
                    <h:panelGroup styleClass="inline">
                        <h:commandLink styleClass="botaoFoot column" action="/relatorios/relatorioLAI"
                        style="width:200px; height:200px; text-decoration: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;" >
                            <p class="titulo" style="color: #1a5699; width: -moz-max-content; width: -webkit-max-content; width: max-content;">LAI</p>
                            <p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/lai.png" width="100"  />
                        </h:commandLink>
                        
                        <h:commandLink styleClass="botaoFoot column" action="/relatorios/relatorioOuvidoria"
                        style="width:200px; height:200px; text-decoration: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;" >
                            <p class="titulo" style="color: #1a5699; width: -moz-max-content; width: -webkit-max-content; width: max-content;">Ouvidoria</p>
                            <p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/computer.png" width="100"  />
                        </h:commandLink>
                        
                        <h:commandLink styleClass="botaoFoot column" action="/relatorios/relatorioAtendimento" rendered="#{loginBean.responsavel.entidade.sigla eq 'AGRESE'}"
                        style="width:200px; height:200px; text-decoration: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;" >
                            <p class="titulo" style="color: #1a5699; width: -moz-max-content; width: -webkit-max-content; width: max-content;">Atendimento AGRESE</p>
                            <p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/talk.png" width="100"  />
                        </h:commandLink>
                    </h:panelGroup>

                </h:panelGroup>

            </h:form>

        </ui:define>

    </ui:composition>

</h:body>

</html>