<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>

<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
								
				<h:form id="form" style="padding: 1.5vw 15vw">
				
				<h:inputHidden id="orgao_impressao" value="#{chartExport.orgao_impressao}" />
				<h:inputHidden id="periodo_impressao" value="#{chartExport.periodo_impressao}" />
				<h:inputHidden id="exibirOrgao" value="#{relatorioAtendimento.exibirOrgao}"/>
				<h:inputHidden id="exibirPeriodo" value="#{relatorioAtendimento.exibirPeriodo}"/>
				
				<h:panelGroup styleClass="column">
					<h1 style="margin-bottom: 0;">Relatório de Atendimento - #{relatorioAtendimento.exibirOrgao} #{relatorioAtendimento.exibirPeriodo}</h1>
					<p:separator styleClass="separator"/>
					
<!-- 					<p:outputLabel value="Órgão / Entidade: " for="orgao" rendered="true"  />  -->
<!-- 					<p:selectOneMenu id="orgao" required="true" filter="true" filterMatchMode="contains" style="margin-bottom: 2em;border-radius:10px;" styleClass="input-icon-relatorio"> -->
<!-- 						 <f:selectItem itemLabel="Selecione" noSelectionOption="" /> -->
<!-- 						 <f:selectItems value="#{relatorioAtendimento.listEntidades}" var="ent" itemLabel="#{ent.sigla} - #{ent.nome}" itemValue="#{ent.idEntidade}"/> -->
<!-- 					</p:selectOneMenu> -->

					<h:panelGroup styleClass="inline" >
						<h:panelGroup styleClass="inline">
							<p:outputLabel value="Período:"  style="margin-right:10px; margin-top:0 !important;"/>
        					<p:datePicker required="true" size="10" id="dataInicial" locale="pt_BR" value="#{relatorioAtendimento.dataInicialConsulta}" showIcon="true" style="min-width: 9em!important;" styleClass="input-date-relatorio input-icon-relatorio" numberOfMonths="3"/>
        					<p:outputLabel value="a" style="margin-left:10px;margin-right:10px; margin-top:0 !important;"/>
        					<p:datePicker required="true" size="10" id="dataFinal" locale="pt_BR" value="#{relatorioAtendimento.dataFinalConsulta}" showIcon="true" style="min-width: 9em!important;" styleClass="input-date-relatorio input-icon-relatorio" numberOfMonths="3"/>
						</h:panelGroup>
						
						<p:commandLink ajax="true" id="botaoPesquisar" style="border-radius:7px;margin-left:1em;padding: 7px 9px;" styleClass="botaoLinkIcon" actionListener="#{relatorioAtendimento.loadGraficos()}" update="@all">
							<i class="fa fa-search" />
						</p:commandLink>
					
					</h:panelGroup>
					
				 	<h3>Atendimento Agrese</h3>
					<div id="graficos">
						
						<h:inputHidden id="b64" value="#{relatorioAtendimento.base64Str}" />
					
						<input type="hidden" id="chart_mensal_base64"/>
						
						<h:panelGroup style="width:100%;display:flex;justify-content:flex-end">
						    <h:commandLink onclick="exportRelatorioBean()" styleClass="botaoLink" actionListener="#{chartExport.gerarRelatorioAtendimento()}" style="position: absolute;z-index: 1000;">
						        <p:fileDownload value="#{chartExport.file}" />
						        <i class="fa fa-file-text-o" />
						        <h:outputText value="Gerar Relatório" style="margin-left:5px;font-variant:small-caps;" />
						    </h:commandLink>
					    </h:panelGroup>
					    
						<h:inputHidden id="mensalB64" value="#{chartExport.chart_atendimento_mensal}" />
						<h:commandLink onclick="exportChartBean('chart_mensal_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioAtendimento.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioAtendimento.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_mensal" style="margin-top:-50px; width:70vw; height:600px"/>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="orgaoB64" value="#{chartExport.chart_atendimento_orgao}" />
						<input type="hidden" id="chart_orgao_base64"/>
						<h:commandLink onclick="exportChartBean('chart_orgao_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioAtendimento.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioAtendimento.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_orgao" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="canalB64" value="#{chartExport.chart_atendimento_canal}" />
						<input type="hidden" id="chart_canal_base64"/>
						<h:commandLink onclick="exportChartBean('chart_canal_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioAtendimento.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioAtendimento.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_canal" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="situacaoB64" value="#{chartExport.chart_atendimento_situacao}" />
						<input type="hidden" id="chart_situacao_base64"/>
						<h:commandLink onclick="exportChartBean('chart_situacao_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioOuvidoria.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioOuvidoria.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_situacao" style="margin-top:-50px; width:70vw; height:600px;"></div>
					</div>
					
				</h:panelGroup>
				
				
				</h:form>
			<!--Load the AJAX API-->
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
		    
		    <script type="text/javascript">
			    function exportChartBean(chart) {
			        // exportAsImage() will return a base64 png encoded string
// 			        console.log(document.getElementById('chart_mensal_base64').value);
// 			        console.log(document.getElementById('chart_tipologia').baseURI);
 			        document.getElementById('form:b64').value = document.getElementById(chart).value;
//  			        console.log(document.getElementById('form:b64').value);
			    }
		    </script>
		    
		    <script type="text/javascript">
				function exportRelatorioBean(){
					document.getElementById('form:orgao_impressao').value = document.getElementById('form:exibirOrgao').value;
					document.getElementById('form:periodo_impressao').value = document.getElementById('form:exibirPeriodo').value;
					
					document.getElementById('form:mensalB64').value = document.getElementById('chart_mensal_base64').value;
					document.getElementById('form:orgaoB64').value = document.getElementById('chart_orgao_base64').value;
					document.getElementById('form:canalB64').value = document.getElementById('chart_canal_base64').value;
					document.getElementById('form:situacaoB64').value = document.getElementById('chart_situacao_base64').value;
				}
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Teste - Mensal");
		      // Load the Visualization API and the piechart package.
		      //google.charts.load('current', {'packages':['bar']});
		      google.charts.load("current", {packages:["corechart"]});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Periodo');
		        data.addColumn('number', 'Manifestações');
		        
			    var columnManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.columnManifPorMes}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    
			    var dataManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.dataManifPorMes}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    console.log(columnManifPorMes);
			    console.log(dataManifPorMes);
			    for(var i = 0; i &lt; columnManifPorMes.length; i++){
					data.addRow([columnManifPorMes[i],Number(dataManifPorMes[i])]);
					//console.log(dataManifPorMes[i])
				}

			    var view = new google.visualization.DataView(data);
		        view.setColumns([0, 1,
		                       { calc: "stringify",
		                         sourceColumn: 1,
		                         type: "string",
		                         role: "annotation" }
		                       ]);
		        
		        var options = {
		          title: 'Manifestações por data',
		          legend: { position: "none" },
		          bars: 'horizontal', // Required for Material Bar Charts.
		          colors:['#6897cd'],
		          backgroundColor: { fill:'transparent' }
		        };

		        
		        // Instantiate and draw our chart, passing in some options.
		        //var chart = new google.charts.Bar(document.getElementById('chart_mensal'));
		        var chart = new google.visualization.BarChart(document.getElementById("chart_mensal"));

// 		        var chart_div = document.getElementById('chart_mensal_base64');

// 		        var chart_div = document.getElementById('chart_mensal_base64');g
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_mensal_base64').value = chart.getImageURI();
		          });
		          
		        chart.draw(view, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Teste - Orgao");
		      // Load the Visualization API and the piechart package.
		      //google.charts.load('current', {'packages':['bar']});
		      google.charts.load("current", {packages:["corechart"]});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Orgao');
		        data.addColumn('number', 'Manifestações');
		        
			    var columnManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.columnManifPorOrgao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    
			    var dataManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.dataManifPorOrgao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    console.log(columnManifPorMes);
			    console.log(dataManifPorMes);
			    for(var i = 0; i &lt; columnManifPorMes.length; i++){
					data.addRow([columnManifPorMes[i],Number(dataManifPorMes[i])]);
					//console.log(dataManifPorMes[i])
				}

			    var view = new google.visualization.DataView(data);
		        view.setColumns([0, 1,
		                       { calc: "stringify",
		                         sourceColumn: 1,
		                         type: "string",
		                         role: "annotation" }
		                       ]);
		        
		        var options = {
		          title: 'Manifestações por órgão (5 maiores)',
		          legend: { position: "none" },
		          bars: 'horizontal', // Required for Material Bar Charts.
		          colors:['#6897cd'],
		          backgroundColor: { fill:'transparent' }
		        };

		        
		        // Instantiate and draw our chart, passing in some options.
		        //var chart = new google.charts.Bar(document.getElementById('chart_mensal'));
		        var chart = new google.visualization.BarChart(document.getElementById("chart_orgao"));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_orgao_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(view, options);
		      }
		    </script>
		    
		    
		  <script type="text/javascript">
		    console.log("Teste - Canal");
		     var data;
		     var chart;
		      // Load the Visualization API and the piechart package.
		      google.charts.load('current', {'packages':['corechart']});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        data = new google.visualization.DataTable();
		        data.addColumn('string', 'Canal');
		        data.addColumn('number', 'Quantidade');
			    var columnManifPorTipo = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.columnManifPorCanal}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    var dataManifPorTipo = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.dataManifPorCanal}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    //console.log(columnManifPorTipo);
			    //console.log(dataManifPorTipo);
			    for(var i = 0; i &lt; columnManifPorTipo.length; i++){
					data.addRow([columnManifPorTipo[i]+" - "+dataManifPorTipo[i],Number(dataManifPorTipo[i])]);
					//console.log(dataManifPorTipo[i])
				}
		        // Set chart options
		        var options = {title:'Manifestações por canal de atendimento',
		                       pieHole: 0.5,
		                       //colors: ['#9fabdb', '#B5EAD7', '#BCDC86', '#ffc59e', '#FFB7B2', '#FF9AA2']
		        				colors: ['#add67d', '#9575cd', '#61b689', '#6897cd', '#0a814b', '#28bbb6'],
// 		        				width: 900,
// 		        				height: 600,
		          backgroundColor: { fill:'transparent' }
		                       };
		        // Instantiate and draw our chart, passing in some options.
		        chart = new google.visualization.PieChart(document.getElementById('chart_canal'));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_canal_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(data, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Teste - Situação");
		     var data;
		     var chart;
		      // Load the Visualization API and the piechart package.
		      google.charts.load('current', {'packages':['corechart']});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        data = new google.visualization.DataTable();
		        data.addColumn('string', 'Tipo');
		        data.addColumn('number', 'Quantidade');
			    var columnManifPorTipo = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.columnManifPorSituacao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    var dataManifPorTipo = [
			    	<ui:repeat  var="teste" value="#{relatorioAtendimento.dataManifPorSituacao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    //console.log(columnManifPorTipo);
			    //console.log(dataManifPorTipo);
			    for(var i = 0; i &lt; columnManifPorTipo.length; i++){
					data.addRow([columnManifPorTipo[i]+" - "+dataManifPorTipo[i],Number(dataManifPorTipo[i])]);
					//console.log(dataManifPorTipo[i])
				}
		        // Set chart options
		        var options = {title:'Manifestações por situação',
		                       pieHole: 0.5,
		                       //colors: ['#9fabdb', '#B5EAD7', '#BCDC86', '#ffc59e', '#FFB7B2', '#FF9AA2']
		        				colors: ['#add67d', '#9575cd', '#61b689', '#6897cd', '#0a814b', '#28bbb6'],
// 		        				width: 900,
// 		        				height: 600,
		          backgroundColor: { fill:'transparent' }
		                       };
		        // Instantiate and draw our chart, passing in some options.
		        chart = new google.visualization.PieChart(document.getElementById('chart_situacao'));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_situacao_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(data, options);
		      }
		    </script>
		    
		</ui:define>
	</ui:composition>
</h:body>
</html>