<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
				
			<f:metadata>
			    <f:viewParam name="orgao" value="#{relatorioLAI.siglaOrgao}" />
			    <f:viewParam name="inicio" value="#{relatorioLAI.dataInicio}" />
			    <f:viewParam name="fim" value="#{relatorioLAI.dataFim}" />
			    <f:viewAction action="#{relatorioLAI.loadParametros()}" />
			</f:metadata>
								
			<h:form id="form" style="padding: 1.5vw 15vw">
				
				<h:inputHidden id="orgao_impressao" value="#{chartExport.orgao_impressao}" />
				<h:inputHidden id="periodo_impressao" value="#{chartExport.periodo_impressao}" />
				<h:inputHidden id="exibirOrgao" value="#{relatorioLAI.exibirOrgao}"/>
				<h:inputHidden id="exibirPeriodo" value="#{relatorioLAI.exibirPeriodo}"/>
				
				<h:panelGroup styleClass="column">
					<h1 style="margin-bottom: 0;">Relatórios Estatísticos - #{relatorioLAI.exibirOrgao} #{relatorioLAI.exibirPeriodo}</h1>
					<p:separator styleClass="separator"/>
					
					<p:outputLabel value="Órgão / Entidade: " for="orgao" rendered="true"  /> 
					<p:selectOneMenu id="orgao" value="#{relatorioLAI.idEntidade}" required="true" filter="true" filterMatchMode="contains" style="margin-bottom: 1em;border-radius:10px;" styleClass="input-icon-relatorio">
						 <f:selectItem itemLabel="Todos" itemValue="0" />
						 <f:selectItems value="#{relatorioOuvidoria.listEntidades}" var="ent" itemLabel="#{ent.sigla} - #{ent.nome}" itemValue="#{ent.idEntidade}"/>
					</p:selectOneMenu>

					<h:panelGroup styleClass="inline">
						<h:panelGroup styleClass="inline">
							<p:outputLabel value="Período:"  style="margin-right:10px; margin-top:0 !important;"/>
	       					<p:datePicker required="true" size="10" id="dataInicial" value="#{relatorioLAI.dataInicialConsulta}" locale="pt_BR" showIcon="true" style="min-width: 9em!important;" styleClass="input-date-relatorio input-icon-relatorio" numberOfMonths="3"/>
	       					<p:outputLabel value="a" style="margin-left:10px;margin-right:10px; margin-top:0 !important;"/>
	       					<p:datePicker required="true" size="10" id="dataFinal" value="#{relatorioLAI.dataFinalConsulta}" locale="pt_BR" showIcon="true" style="min-width: 9em!important;" styleClass="input-date-relatorio input-icon-relatorio" numberOfMonths="3"/>
						</h:panelGroup>
						
						<p:commandLink ajax="false" id="botaoPesquisar" style="border-radius:7px;margin-left:1em;padding: 7px 9px;" styleClass="botaoLinkIcon" actionListener="#{relatorioLAI.loadGraficos()}" update="@all">
							<i class="fa fa-search" />
						</p:commandLink>
					
					</h:panelGroup>
					
				 	<h3>Lei de Acesso à Informação</h3>
				 	
				    <h:panelGroup styleClass="justify-end" style="z-index:1000;width:100%;">
					    <h:commandLink styleClass="fileBtn">
				    		<p:fileDownload value="#{relatorioLAI.exportarDados()}"/>
					        <i class="fa fa-table" />
					        <h:outputText value="CSV" style="margin-left:5px;" />
				    	</h:commandLink>
				    	
					    <h:commandLink onclick="exportRelatorioBean()" styleClass="fileBtn" actionListener="#{chartExport.gerarRelatorioLAI()}" style="margin-left: .5em;" >
							<p:fileDownload value="#{chartExport.file}" />
					        <i class="fa fa-file-pdf-o" />
					        <h:outputText value="PDF" style="margin-left:5px;" />
					    </h:commandLink>
				    </h:panelGroup>
				    
					<div id="graficos">
						<h:inputHidden id="b64" value="#{relatorioLAI.base64Str}" />
					
						<h:inputHidden id="mensalB64" value="#{chartExport.chart_lai_mensal}" />
					    
						
						<input type="hidden" id="chart_mensal_base64"/>
						<h:commandLink onclick="exportChartBean('chart_mensal_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}"/>
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_mensal" style="margin-top:-50px; width:70vw; height:600px"/>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="temaB64" value="#{chartExport.chart_lai_tema}" />
						<input type="hidden" id="chart_tema_base64"/>
						<h:commandLink onclick="exportChartBean('chart_tema_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_tema" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="situacaoB64" value="#{chartExport.chart_lai_situacao}" />
						<input type="hidden" id="chart_situacao_base64"/>
						<h:commandLink onclick="exportChartBean('chart_situacao_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_situacao" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="orgaoB64" value="#{chartExport.chart_lai_orgao}" />
						<input type="hidden" id="chart_orgao_base64"/>
						<h:commandLink onclick="exportChartBean('chart_orgao_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_orgao" style="margin-top:-50px; width:70vw; height:600px;"></div>
						
						<h:inputHidden id="faixaEtariaB64" value="#{chartExport.chart_lai_faixa_etaria}" />
						<input type="hidden" id="chart_faixa_etaria_base64"/>
						<h:commandLink onclick="exportChartBean('chart_faixa_etaria_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_faixa_etaria" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="rendaB64" value="#{chartExport.chart_lai_renda}" />
						<input type="hidden" id="chart_renda_base64"/>
						<h:commandLink onclick="exportChartBean('chart_renda_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_renda" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="sexoB64" value="#{chartExport.chart_lai_sexo}" />
						<input type="hidden" id="chart_sexo_base64"/>
						<h:commandLink onclick="exportChartBean('chart_sexo_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_sexo" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="escolaridadeB64" value="#{chartExport.chart_lai_escolaridade}" />
						<input type="hidden" id="chart_escolaridade_base64"/>
						<h:commandLink onclick="exportChartBean('chart_escolaridade_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorioLAI.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_escolaridade" style="margin-top:-50px; width:70vw; height:600px;"></div>
						<p:separator styleClass="separator"/>
						
						<h:inputHidden id="estadoB64" value="#{chartExport.chart_lai_estado}" />
						<input type="hidden" id="chart_estado_base64"/>
						<h:commandLink onclick="exportChartBean('chart_estado_base64')" styleClass="botaoLink btnSimples" actionListener="#{relatorioLAI.submittedBase64Str}" style="padding: 2px 5px;position: absolute;z-index: 1000;">
					        <p:fileDownload value="#{relatorios.file}" />
					        <i class="fa fa-download" />
					        <h:outputText value="download" style="margin-left:5px;font-variant:small-caps;" />
					    </h:commandLink>
						<div id="chart_estado" style="margin-top:-50px; width:70vw; height:600px;"></div>
					</div>
					
				</h:panelGroup>
				
				
				</h:form>
			<!--Load the AJAX API-->
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
			    function exportChartBean(chart) {
 			        document.getElementById('form:b64').value = document.getElementById(chart).value;
			    }
		    </script>
		    
		    <script type="text/javascript">
				function exportRelatorioBean(){
					document.getElementById('form:orgao_impressao').value = document.getElementById('form:exibirOrgao').value;
					document.getElementById('form:periodo_impressao').value = document.getElementById('form:exibirPeriodo').value;
					
					document.getElementById('form:mensalB64').value = document.getElementById('chart_mensal_base64').value;
					document.getElementById('form:temaB64').value = document.getElementById('chart_tema_base64').value;
					document.getElementById('form:situacaoB64').value = document.getElementById('chart_situacao_base64').value;
					document.getElementById('form:orgaoB64').value = document.getElementById('chart_orgao_base64').value;

					document.getElementById('form:faixaEtariaB64').value = document.getElementById('chart_faixa_etaria_base64').value;
					document.getElementById('form:rendaB64').value = document.getElementById('chart_renda_base64').value;
					document.getElementById('form:sexoB64').value = document.getElementById('chart_sexo_base64').value;
					document.getElementById('form:escolaridadeB64').value = document.getElementById('chart_escolaridade_base64').value;
					document.getElementById('form:estadoB64').value = document.getElementById('chart_estado_base64').value;
				}
		    </script>
		    
		    
		    <script type="text/javascript">
		    console.log("Teste - Mensal");
		      // Load the Visualization API and the piechart package.
		      google.charts.load("current", {packages:["corechart"]});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Periodo');
		        data.addColumn('number', 'Manifestações');
		        
			    var columnManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnManifPorMes}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    
			    var dataManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataManifPorMes}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    console.log(columnManifPorMes);
			    console.log(dataManifPorMes);
			    for(var i = 0; i &lt; columnManifPorMes.length; i++){
					data.addRow([columnManifPorMes[i],Number(dataManifPorMes[i])]);
					//console.log(dataManifPorMes[i])
				}

			    var view = new google.visualization.DataView(data);
		        view.setColumns([0, 1,
		                       { calc: "stringify",
		                         sourceColumn: 1,
		                         type: "string",
		                         role: "annotation" }
		                       ]);
		        
		        var options = {
		          title: 'Manifestações por data',
		          legend: { position: "none" },
		          bars: 'horizontal', // Required for Material Bar Charts.
		          colors:['#6897cd'],
		          backgroundColor: { fill:'transparent' }
		        };

		        
		        // Instantiate and draw our chart, passing in some options.
		        //var chart = new google.charts.Bar(document.getElementById('chart_mensal'));
		        var chart = new google.visualization.BarChart(document.getElementById("chart_mensal"));

		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_mensal_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(view, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Teste - Tema");
		      // Load the Visualization API and the piechart package.
		      //google.charts.load('current', {'packages':['bar']});
		      google.charts.load("current", {packages:["corechart"]});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Tema');
		        data.addColumn('number', 'Manifestações');
		        
			    var columnManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnManifPorTema}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    
			    var dataManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataManifPorTema}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    console.log(columnManifPorMes);
			    console.log(dataManifPorMes);
			    for(var i = 0; i &lt; columnManifPorMes.length; i++){
					data.addRow([columnManifPorMes[i],Number(dataManifPorMes[i])]);
					//console.log(dataManifPorMes[i])
				}

			    var view = new google.visualization.DataView(data);
		        view.setColumns([0, 1,
		                       { calc: "stringify",
		                         sourceColumn: 1,
		                         type: "string",
		                         role: "annotation" }
		                       ]);
		        
		        var options = {
		          title: 'Manifestações por tema (5 maiores)',
		          legend: { position: "none" },
		          bars: 'horizontal', // Required for Material Bar Charts.
		          colors:['#6897cd'],
		          backgroundColor: { fill:'transparent' }
		        };

		        
		        // Instantiate and draw our chart, passing in some options.
		        //var chart = new google.charts.Bar(document.getElementById('chart_mensal'));
		        var chart = new google.visualization.BarChart(document.getElementById("chart_tema"));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_tema_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(view, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Teste - Situação");
		     var data;
		     var chart;
		      // Load the Visualization API and the piechart package.
		      google.charts.load('current', {'packages':['corechart']});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        data = new google.visualization.DataTable();
		        data.addColumn('string', 'Tipo');
		        data.addColumn('number', 'Quantidade');
			    var columnManifPorTipo = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnManifPorSituacao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    var dataManifPorTipo = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataManifPorSituacao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    //console.log(columnManifPorTipo);
			    //console.log(dataManifPorTipo);
			    for(var i = 0; i &lt; columnManifPorTipo.length; i++){
					data.addRow([columnManifPorTipo[i]+" - "+dataManifPorTipo[i],Number(dataManifPorTipo[i])]);
					//console.log(dataManifPorTipo[i])
				}
		        // Set chart options
		        var options = {title:'Manifestações por situação',
		                       pieHole: 0.5,
		                       //colors: ['#9fabdb', '#B5EAD7', '#BCDC86', '#ffc59e', '#FFB7B2', '#FF9AA2']
		        				colors: ['#add67d', '#9575cd', '#61b689', '#6897cd', '#0a814b', '#28bbb6'],
// 		        				width: 900,
// 		        				height: 600,
		          				backgroundColor: { fill:'transparent' }
		                       };
		        // Instantiate and draw our chart, passing in some options.
		        chart = new google.visualization.PieChart(document.getElementById('chart_situacao'));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_situacao_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(data, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Teste - Orgao");
		      // Load the Visualization API and the piechart package.
		      //google.charts.load('current', {'packages':['bar']});
		      google.charts.load("current", {packages:["corechart"]});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Orgao');
		        data.addColumn('number', 'Manifestações');
		        
			    var columnManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnManifPorOrgao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    
			    var dataManifPorMes = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataManifPorOrgao}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    console.log(columnManifPorMes);
			    console.log(dataManifPorMes);
			    for(var i = 0; i &lt; columnManifPorMes.length; i++){
					data.addRow([columnManifPorMes[i],Number(dataManifPorMes[i])]);
					//console.log(dataManifPorMes[i])
				}

			    var view = new google.visualization.DataView(data);
		        view.setColumns([0, 1,
		                       { calc: "stringify",
		                         sourceColumn: 1,
		                         type: "string",
		                         role: "annotation" }
		                       ]);
		        
		        var options = {
		          title: 'Manifestações por órgão (5 maiores)',
		          legend: { position: "none" },
		          bars: 'horizontal', // Required for Material Bar Charts.
		          colors:['#6897cd'],
		          backgroundColor: { fill:'transparent' }
		        };

		        
		        // Instantiate and draw our chart, passing in some options.
		        //var chart = new google.charts.Bar(document.getElementById('chart_mensal'));
		        var chart = new google.visualization.BarChart(document.getElementById("chart_orgao"));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_orgao_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(view, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Cidadao - Faixa Etária");
		      google.charts.load("current", {packages:["corechart"]});
		      google.charts.setOnLoadCallback(drawChart);
		      function drawChart() {
		        // Create our data table.
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Faixa Etária');
		        data.addColumn('number', 'Quantidade');
		        
			    var columnCidPorFaixaEtaria = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnCidPorFaixaEtaria}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    
			    var dataCidPorFaixaEtaria = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataCidPorFaixaEtaria}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    console.log(columnCidPorFaixaEtaria);
			    console.log(dataCidPorFaixaEtaria);
			    for(var i = 0; i &lt; columnCidPorFaixaEtaria.length; i++){
					data.addRow([columnCidPorFaixaEtaria[i],Number(dataCidPorFaixaEtaria[i])]);
				}

			    var view = new google.visualization.DataView(data);
		        view.setColumns([0, 1,
		                       { calc: "stringify",
		                         sourceColumn: 1,
		                         type: "string",
		                         role: "annotation" }
		                       ]);
		        
		        var options = {
		          title: 'Faixa Etária',
		          legend: { position: "none" },
		          bars: 'horizontal', // Required for Material Bar Charts.
		          colors:['#6897cd'],
		          backgroundColor: { fill:'transparent' }
		        };
		        
		        var chart = new google.visualization.BarChart(document.getElementById("chart_faixa_etaria"));
		        google.visualization.events.addListener(chart, 'ready', function () {
		        	document.getElementById('chart_faixa_etaria_base64').value = chart.getImageURI();
		          });
		        chart.draw(view, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Cidadão - Renda");
		     var data;
		     var chart;
		      // Load the Visualization API and the piechart package.
		      google.charts.load('current', {'packages':['corechart']});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        data = new google.visualization.DataTable();
		        data.addColumn('string', 'Renda');
		        data.addColumn('number', 'Quantidade');
			    var columnCidPorRenda = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnCidPorRenda}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    var dataCidPorRenda = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataCidPorRenda}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    //console.log(columnManifPorTipo);
			    //console.log(dataManifPorTipo);
			    for(var i = 0; i &lt; columnCidPorRenda.length; i++){
					data.addRow([columnCidPorRenda[i]+" - "+dataCidPorRenda[i],Number(dataCidPorRenda[i])]);
					//console.log(dataManifPorTipo[i])
				}
		        // Set chart options
		        var options = {title:'Renda',
		                       pieHole: 0.5,
		                       //colors: ['#9fabdb', '#B5EAD7', '#BCDC86', '#ffc59e', '#FFB7B2', '#FF9AA2']
		        				colors: ['#add67d', '#9575cd', '#61b689', '#6897cd', '#0a814b', '#28bbb6'],
// 		        				width: 900,
// 		        				height: 600,
	          					backgroundColor: { fill:'transparent' }
		                       };
		        // Instantiate and draw our chart, passing in some options.
		        chart = new google.visualization.PieChart(document.getElementById('chart_renda'));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_renda_base64').value = chart.getImageURI();
		          });
		        //google.visualization.events.addListener(chart, 'select', selectHandler);
		        chart.draw(data, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Cidadão - Sexo");
		     var data;
		     var chart;
		      // Load the Visualization API and the piechart package.
		      google.charts.load('current', {'packages':['corechart']});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        data = new google.visualization.DataTable();
		        data.addColumn('string', 'Sexo');
		        data.addColumn('number', 'Quantidade');
			    var columnCidPorSexo = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnCidPorSexo}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    var dataCidPorSexo = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataCidPorSexo}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    for(var i = 0; i &lt; columnCidPorSexo.length; i++){
					data.addRow([columnCidPorSexo[i]+" - "+dataCidPorSexo[i],Number(dataCidPorSexo[i])]);
				}
		        // Set chart options
		        var options = {title:'Sexo',
		                       pieHole: 0.5,
		        				colors: ['#add67d', '#9575cd', '#61b689', '#6897cd', '#0a814b', '#28bbb6'],
		      		          	backgroundColor: { fill:'transparent' }
		                       };

		        chart = new google.visualization.PieChart(document.getElementById('chart_sexo'));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_sexo_base64').value = chart.getImageURI();
		          });
		        chart.draw(data, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Cidadão - Escolaridade");
		     var data;
		     var chart;
		      // Load the Visualization API and the piechart package.
		      google.charts.load('current', {'packages':['corechart']});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        data = new google.visualization.DataTable();
		        data.addColumn('string', 'Escolaridade');
		        data.addColumn('number', 'Quantidade');
			    var columnCidPorEscolaridade = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnCidPorEscolaridade}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    var dataCidPorEscolaridade = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataCidPorEscolaridade}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    for(var i = 0; i &lt; columnCidPorEscolaridade.length; i++){
					data.addRow([columnCidPorEscolaridade[i]+" - "+dataCidPorEscolaridade[i],Number(dataCidPorEscolaridade[i])]);
				}
		        // Set chart options
		        var options = {title:'Escolaridade',
		                       pieHole: 0.5,
		        				colors: ['#add67d', '#9575cd', '#61b689', '#6897cd', '#0a814b', '#28bbb6'],
		      		          backgroundColor: { fill:'transparent' }
		                       };

		        chart = new google.visualization.PieChart(document.getElementById('chart_escolaridade'));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_escolaridade_base64').value = chart.getImageURI();
		          });
		        chart.draw(data, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Cidadão - Escolaridade");
		     var data;
		     var chart;
		      // Load the Visualization API and the piechart package.
		      google.charts.load('current', {'packages':['corechart']});
		      // Set a callback to run when the Google Visualization API is loaded.
		      google.charts.setOnLoadCallback(drawChart);
		      // Callback that creates and populates a data table,
		      // instantiates the pie chart, passes in the data and
		      // draws it.
		      function drawChart() {
		        // Create our data table.
		        data = new google.visualization.DataTable();
		        data.addColumn('string', 'Escolaridade');
		        data.addColumn('number', 'Quantidade');
			    var columnCidPorEscolaridade = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnCidPorEscolaridade}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    var dataCidPorEscolaridade = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataCidPorEscolaridade}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    for(var i = 0; i &lt; columnCidPorEscolaridade.length; i++){
					data.addRow([columnCidPorEscolaridade[i]+" - "+dataCidPorEscolaridade[i],Number(dataCidPorEscolaridade[i])]);
				}
		        // Set chart options
		        var options = {title:'Escolaridade',
		                       pieHole: 0.5,
		        				colors: ['#add67d', '#9575cd', '#61b689', '#6897cd', '#0a814b', '#28bbb6'],
		      		          backgroundColor: { fill:'transparent' }
		                       };

		        chart = new google.visualization.PieChart(document.getElementById('chart_escolaridade'));
		        google.visualization.events.addListener(chart, 'ready', function () {
			        document.getElementById('chart_escolaridade_base64').value = chart.getImageURI();
		          });
		        chart.draw(data, options);
		      }
		    </script>
		    
		    <script type="text/javascript">
		    console.log("Cidadao - Estado");
		      google.charts.load("current", {packages:["corechart"]});
		      google.charts.setOnLoadCallback(drawChart);
		      function drawChart() {
		        // Create our data table.
		        var data = new google.visualization.DataTable();
		        data.addColumn('string', 'Estado');
		        data.addColumn('number', 'Quantidade');
		        
			    var columnCidPorEstado = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.columnCidPorEstado}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    
			    var dataCidPorEstado = [
			    	<ui:repeat  var="teste" value="#{relatorioLAI.dataCidPorEstado}" varStatus="loop">
			    		"#{teste}"#{loop.last ? '' : ','}
			    	</ui:repeat>
			    ];
			    console.log(columnCidPorEstado);
			    console.log(dataCidPorEstado);
			    for(var i = 0; i &lt; columnCidPorEstado.length; i++){
					data.addRow([columnCidPorEstado[i],Number(dataCidPorEstado[i])]);
				}

			    var view = new google.visualization.DataView(data);
		        view.setColumns([0, 1,
		                       { calc: "stringify",
		                         sourceColumn: 1,
		                         type: "string",
		                         role: "annotation" }
		                       ]);
		        
		        var options = {
		          title: 'Estado (5 maiores)',
		          legend: { position: "none" },
		          bars: 'horizontal', // Required for Material Bar Charts.
		          colors:['#6897cd'],
		          backgroundColor: { fill:'transparent' }
		        };
		        
		        var chart = new google.visualization.BarChart(document.getElementById("chart_estado"));
		        google.visualization.events.addListener(chart, 'ready', function () {
		        	document.getElementById('chart_estado_base64').value = chart.getImageURI();
		          });
		        chart.draw(view, options);
		      }
		    </script>
		    
		</ui:define>
	</ui:composition>
</h:body>
</html>