<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition>

	<h:panelGroup id="navBar" styleClass="" rendered="#{loginBean.perfilLogado ne 'logoff'}">
		<h:form>
		
			<!-- ========== MENU CIDADÃO =========== -->
			<p:menubar rendered="#{loginBean.perfilLogado eq 'cidadao'}" styleClass="navBar">
				<p:menuitem value="Consulta Manifestações" icon="fa fa-desktop " action="/consulta/manifestacoes.xhtml"/>
				<p:menuitem value="Nova Manifestação" icon="fa fa-hand-o-up" action="/cadastro/manifestacao.xhtml"/>
			</p:menubar>
			
			<!-- ====== MENU OUVIDOR  ====== -->
			<p:menubar rendered="#{loginBean.perfilLogado ne 'cidadao' and loginBean.perfilLogado ne 'logoff'}" styleClass="navBar">
				<p:menuitem value="Consulta Manifestações" icon="fa fa-desktop" action="/consulta/manifestacoes.xhtml?faces-redirect=true" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'usciOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}"/>
				<p:menuitem value="Atendimento de Manifestação" icon="fa fa-hand-o-up" action="cadastro/atendimento.xhtml?faces-redirect=true" rendered="#{loginBean.perfilLogado eq 'atendenteOrgao' or loginBean.perfilLogado eq 'atendenteOGE' or loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"/>
				<p:menuitem value="Consulta Manifestações" icon="fa fa-desktop" action="/consulta/protocolo.xhtml" rendered="#{loginBean.perfilLogado eq 'atendenteOrgao' or loginBean.perfilLogado eq 'atendenteOGE'}"/>
				<p:menuitem value="Entidades" icon="fa fa-building" action="/consulta/entidades.xhtml" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}"/>
				<p:menuitem value="Responsáveis" icon="fa fa-user" action="/consulta/responsaveis.xhtml" rendered="#loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}"/>
				<p:menuitem value="Temas" icon="fa fa-th-list" action="/consulta/temas.xhtml" rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}"/>
			</p:menubar>
		
		</h:form>
	</h:panelGroup>
	
	<script language="javascript">  
	
	</script>

</ui:composition>

</h:body>
</html>