<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
	
	<h:panelGroup styleClass="column" style="padding: 3vw 15vw">
		<h:outputText value="A Ouvidoria" styleClass="tituloBox" />
		<p:separator styleClass="separator2"/>
		
		<p>A <strong>Ouvidoria-Geral do Estado de Sergipe - OGE/SE</strong>, criada pela
			Lei nº 8.496, de 28 de dezembro de 2018 e regulamentada pelo
			Decreto Governamental nº 40.370 de 30 de abril de 2019, subordinada
			diretamente à <strong>Secretaria de Estado da Transparência e Controle -
			SETC</strong>, e ao <strong>Governador do Estado</strong>.</p>

		<p>Tem por finalidade, com vistas à promoção do exercício da
			cidadania, receber, encaminhar e acompanhar manifestações,
			sugestões, reclamações e denúncias dos cidadãos, relativas à
			prestação de serviços públicos em geral e pedidos de Acesso à
			Informação, na forma da Lei Federal nº 12.527/2011, e demais normas
			regulamentares, assim como recomendar ações e medidas
			administrativas e legais contra o exercício negligente ou abusivo
			de cargos, empregos e funções do Poder Executivo Estadual, sem
			prejuízo das competências específicas de outros órgãos integrantes
			da administração.</p>

		<p>Com esta formatação, a <strong>Ouvidoria-Geral</strong> está apta a coordenar
			as ações da Rede de Ouvidorias do Poder Executivo Estadual, com o
			propósito de fomentar a participação popular, receber e processar
			as demandas dos cidadãos/usuários, além de contribuir na formulação
			de políticas públicas e na melhoraria das ações de controle interno
			e da qualidade dos serviços estaduais prestados à sociedade.</p>
		
	</h:panelGroup>

</ui:define>
</ui:composition>
</h:body>

</html>