<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
	
	<h:panelGroup styleClass="column" style="padding: 3vw 15vw">
		<h:outputText value="Competências" styleClass="tituloBox" />
		<p:separator styleClass="separator2"/>
		
		<h2>Compete à Ouvidoria Geral do Estado</h2>
				
		<ul style="list-style-type:square;margin-bottom:1em;margin-left:3em">
			<li>Receber, examinar e encaminhar manifestações, sugestões, reclamações e denúncias dos cidadãos relativas à prestação de serviços públicos em geral, referentes a procedimentos e ações de agentes, órgãos e entidades do Poder Executivo Estadual;</li>
			<li>Receber, examinar e encaminhar os pedidos de acesso à informação, na forma da Lei Federal nº 12.527/2011 e demais normas regulamentares;</li>
			<li>Ampliar e manter canais de comunicação entre a Administração Pública e a sociedade civil, expandindo a capacidade do cidadão de participar da fiscalização e avaliação das ações do Poder Executivo Estadual;</li>
			<li>Definir critérios para a promoção e o acompanhamento de procedimentos junto aos órgãos e entidades componentes do sistema de ouvidoria, informando os resultados aos interessados e garantindo ao cidadão, orientação, informação e resposta;</li>
			<li>Examinar, propor e promover mecanismos e instrumentos alternativos de coleta de manifestações, privilegiando os meios eletrônicos de comunicação;</li>
			<li>Sistematizar e consolidar as informações recebidas, através de relatórios periódicos;</li>
			<li>Instituir e organizar os indicadores de avaliação da satisfação dos cidadãos quanto ao fornecimento de informações e prestação de serviços públicos;</li>
			<li>Propor soluções para as questões apresentadas e oferecer informações gerenciais e recomendações às autoridades competentes, objetivando o aprimoramento da prestação dos serviços públicos;</li>
			<li>Recomendar ações e medidas, administrativas e legais, quando necessárias à prevenção, combate e correção dos fatos apreciados;</li>
			<li>Cientificar as autoridades competentes das questões que lhe forem apresentadas ou que, de qualquer outro modo, cheguem ao seu conhecimento, requisitando informações e documentos;</li>
			<li>Promover a implantação e gestão do sistema de ouvidoria;</li>
			<li>Exercer a coordenação, supervisão e direção do sistema de ouvidoria;</li>
			<li>Criar mecanismos e instrumentos de monitoramento, avaliação e controle dos procedimentos de ouvidoria;</li>
			<li>Promover, articular e apoiar outras ações para a difusão e divulgação de práticas de cidadania;</li>
			<li>Articular-se, fortalecendo os canais de comunicação com os diversos órgãos e entidades da Administração Pública Estadual.</li>
		</ul>
				
	</h:panelGroup>

</ui:define>
</ui:composition>
</h:body>

</html>