<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content">

			<h:form>
				
			<h:panelGroup styleClass="column" style="width:-webkit-fill-available;width:-moz-available;width:fill-available; padding: 0 3vw;-webkit-box-align: start;-ms-flex-align: start; align-items: flex-start;">
			
				<h1 style="margin-bottom: 0;">Contatos</h1>
				<p:separator styleClass="separator2"/>
				
				<h2 class="infoTxt" style="margin-bottom:0">Ouvidoria Geral do Estado</h2>
				<p:separator styleClass="separator2"/>
				
				<p><i class="fa fa-phone-square" style="font-size: 25px"></i><p:spacer height="15px" />0800 079 0162</p>
				
				<h3 class="infoTxt" style="margin:0">Horário de Atendimento</h3>
				<p>De Segunda a Sexta das 07:00h ás 13:00h</p>
				
				<h3 class="infoTxt" style="margin-bottom:0">Endereço</h3>
				<p>R. Vila Cristina, 1051 - Treze de Julho, Aracaju-SE, 49020-150</p>		
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1164.674175668856!2d-37.04770095497741!3d-10.926965187326978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71ab30124affcfb%3A0x16af64cfa198555b!2sOuvidoria+Geral+do+Estado+de+Sergipe!5e0!3m2!1spt-BR!2sbr!4v1484572155547" frameborder="0" style="border:0; width: 100%; height:-webkit-fit-content;height:-fit-content;height:fit-content; min-height: 350px; margin-bottom: 2em"></iframe>
				
				<h:panelGroup rendered="false">
					<h2 class="infoTxt" style="margin:0">Problemas no sistema SE-Ouv?</h2>
					<p:separator styleClass="separator2"/>
					<p><i class="fa fa-phone-square" style="font-size: 25px"></i><p:spacer height="15px" />(79) 3179-4910</p>
					<h3 class="infoTxt" style="margin:0">Horário de Atendimento</h3>
					<p>De Segunda a Sexta das 07:00h ás 13:00h</p>
				</h:panelGroup>
				
			</h:panelGroup>

			</h:form>

		</ui:define>

	</ui:composition>

</h:body>

</html>