<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
	
	<h:panelGroup styleClass="column" style="padding: 3vw 15vw">
		<h:outputText value="Legislação" styleClass="tituloBox" />
		<p:separator styleClass="separator2"/>
		
		<h:form>
			<h:outputLink styleClass="link"	value="http://arquivos.setc.se.gov.br/SE-Ouv/legislacao/Decreto-40370_2019.pdf">Decreto nº 40.370, de 30 de abril de 2019</h:outputLink>
			<p style="margin-left: 20px;">Regulamenta o funcionamento da
				Ouvidoria Geral do Estado - OGE, criada pela Lei nº 8.496, de 28 de
				dezembro de 2018</p>

			<h:outputLink styleClass="link"	value="http://arquivos.setc.se.gov.br/SE-Ouv/legislacao/Decreto-30947_2017.pdf">Decreto nº 30.947, de 28 de Dezembro de 2017</h:outputLink>
			<p style="margin-left: 20px;">Regulamenta o acesso a documentos
				e informações públicas, nos termos da Lei (Federal) nº 12.527, de
				18 de novembro de 2011, no âmbito do Poder Executivo Estadual, e dá
				outras providências.</p>

			<h:outputLink styleClass="link"	value="http://arquivos.setc.se.gov.br/SE-Ouv/legislacao/Portaria-02_2012.pdf">PORTARIA CONJUNTA N° 02/2012, de 02 de Julho de 2012</h:outputLink>
			<p style="margin-left: 20px;">Dispõe sobre a regulamentação de funcionamento do Grupo de Trabalho Técnico para a coordenação e implementação da Lei de Acesso à Informação Publica - LAIP, no âmbito do Poder Executivo Estadual, nos termos da Lei (Federal) n° 12.527, de 18 de novembro de 2011, e dá outras providências.</p>

			<h:outputLink styleClass="link"	value="http://arquivos.setc.se.gov.br/SE-Ouv/legislacao/Decreto-28560_2012.pdf">Decreto nº 28.560, de 13 de Junho de 2012</h:outputLink>
			<p style="margin-left: 20px;">Constitui Grupo de Trabalho Técnico encarregado de coordenar e implementar as ações necessárias à implantação da Lei de Acesso à Informação Pública - LAIP, no âmbito do Poder Executivo Estadual, nos termos da Lei (Federal) n° 12.527, de 18 de novembro de 2011, e dá providências correlatas.</p>

			<h:outputLink styleClass="link"	value="http://arquivos.setc.se.gov.br/SE-Ouv/legislacao/Decreto-7724_2012.pdf">Decreto nº 7.724, de 16 de Maio de 2012</h:outputLink>
			<p style="margin-left: 20px;">Regulamenta a Lei no 12.527, de 18 de novembro de 2011, que dispõe sobre o acesso a informações previsto no inciso XXXIII do caput do art. 5o, no inciso II do § 3o do art. 37 e no § 2o do art.216 da Constituição.</p>

			<h:outputLink styleClass="link"	value="http://arquivos.setc.se.gov.br/SE-Ouv/legislacao/Lei-12527_2011.pdf">Lei nº 12.527, de 18 de Novembro de 2011</h:outputLink>
			<p style="margin-left: 20px;">Regula o acesso a informações previsto no inciso XXXIII do art. 5º, no inciso II do § 3º do art. 37 e no § 2º do art. 216 da Constituição Federal; altera a Lei nº 8.112, de 11 de dezembro de 1990; revoga a Lei nº 11.111, de 5 de maio de 2005, e dispositivos da Lei nº 8.159, de 8 de janeiro de 1991; e dá outras providências.</p>
			
			<h:outputLink styleClass="link"	value="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2017/lei/l13460.htm">Lei nº 13.460, de 26 de Junho de 2017</h:outputLink>
			<p style="margin-left: 20px;">Dispõe sobre participação, proteção e defesa dos direitos do usuário dos serviços públicos da administração pública.</p>
		</h:form>

	</h:panelGroup>

</ui:define>
</ui:composition>
</h:body>

</html>