<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
	
	<h:panelGroup styleClass="column" style="padding: 3vw 15vw">
		<h:outputText value="Modelo de Atuação" styleClass="tituloBox" />
		<p:separator styleClass="separator2"/>
		
		<p>A Ouvidoria Geral do Estado de Sergipe destaca-se por atuar
			como instrumento de controle social, contribuindo para aumentar a
			confiabilidade do Governo perante a sociedade, configurando-se como
			um canal de participação do cidadão na gestão estadual.</p>

		<p>Para atender efetivamente os mais variados assuntos
			recebidos, que dizem respeito ao funcionamento das políticas e
			serviços executados pelos órgãos e entidades da administração
			pública estadual, tornou-se necessária a implementação efetiva da
			Rede de Ouvidorias do Poder Executivo Estadual.</p>

		<p>Essa rede é composta por ouvidorias setoriais e
			representantes designados pelos órgãos e entidades, com o objetivo
			de atuarem diretamente nas demandas relacionadas com as demandas de
			Ouvidoria.</p>

		<ul
			style="list-style-type: square; margin-bottom: 1em; margin-left: 3em">
			<li>Ouvidoria Geral do Estado – órgão central da rede de
				ouvidorias, com atribuições de propor as políticas e diretrizes de
				ouvidoria; implantar, integrar e coordenar a Rede de Ouvidorias,
				estabelecendo padrões de controle de qualidade, eficiência,
				procedimentos de trabalho e capacitação profissional; desenvolver
				análises, diagnósticos e indicadores, com o propósito de
				disponibilizar informações aos cidadãos e gestores públicos, entre
				outras.</li>
			<li>Ouvidoria Setorial – órgão interno formalmente instituído
				na estrutura básica organizacional da instituição a que pertence,
				responsável pelo desempenho das atividades de ouvidoria
				relacionadas com o respectivo local.</li>
			<li>Ouvidor Setorial – servidor diretamente subordinado ao
				dirigente da instituição a que pertence, designados para o
				desempenho das atividades de ouvidoria.</li>
		</ul>

		<p>A Ouvidoria-Geral atua diretamente na organização da Rede de
			Ouvidoria Estadual, criando condições para que sejam executadas as
			seguintes funções principais:</p>

		<ul
			style="list-style-type: square; margin-bottom: 1em; margin-left: 3em">
			<li>Em nível operacional, atuar como canal de comunicação
				entre a administração pública e os cidadãos/usuários, recebendo as
				demandas, processando as informações e respondendo ao usuário de
				forma eficiente e satisfatória, aumentando a confiabilidade do
				governo e fortalecendo a democracia;</li>
			<li>Em nível estratégico, atuar como instrumento de apoio
				gerencial, integrada ao controle interno, onde as informações
				encaminhadas pela sociedade serão utilizadas para produção de
				indicadores estratégicos visando subsidiar os gestores na
				elaboração de políticas públicas que permitam melhorar e ampliar
				os serviços prestados à sociedade.</li>
		</ul>

		<p>A atuação da Ouvidoria Geral deve pautar também pelo
			desenvolvimento de mecanismos de interação entre o controle social
			e o controle interno, de forma que a informação social disponível
			contribua para uma maior efetividade do sistema de controle
			interno, através de ações com foco em prevenção. Essa integração
			tende a ampliar a fiscalização das ações públicas e a contribuir
			para a redução das falhas na prestação dos serviços, bem como
			fortalecer os princípios éticos na condução dos negócios públicos.</p>

		<p>Nessa concepção de atuação, o modelo de funcionamento da OGE
			deve abranger, além da resposta ao cidadão, mecanismos para que se
			faça chegar aos gestores informações sociais para subsidiar a
			elaboração de políticas, projetos e ações públicas, bem como a
			utilização da informação cidadã para ampliar e qualificar as ações
			de controle interno.</p>

	</h:panelGroup>

</ui:define>
</ui:composition>
</h:body>

</html>