<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content">

			<h:form style="padding: 1.5vw 15vw">
			
				<h1 style="margin-bottom: 0;">Perguntas Frequentes (OUVIDORIA)</h1>
				<p:separator styleClass="separator2"/>

				<h2>Manifestações de Ouvidoria:</h2>
	
				<strong>1 - O que é Ouvidoria?</strong>
				<p style="margin: 1em 0 2em .5em;">Ouvidoria é um órgão que serve como canal de comunicação entre os cidadãos/usuários e o Governo. Por meio da Ouvidoria Geral, o cidadão pode registrar reclamações, denúncias, elogios, sugestões, solicitações ou realizar pedidos acesso à informação sobre os serviços públicos estaduais.</p>

				<strong>2 - Quais assuntos podem ser tratados e quem pode entrar em contato com a Ouvidoria? </strong>
				<p style="margin: 1em 0 2em .5em;">Qualquer assunto que seja da competência do Poder Executivo Estadual, como temas relacionados à área de segurança, saúde, educação, infraestrutura, meio ambiente, desenvolvimento, habitação entre outros. Podem entrar em contato pessoa física, jurídica, servidores, turistas.</p>
				
				<strong>3 - Que tipos de manifestações são recebidas pela Ouvidoria Geral do Estado?</strong>
				
				<ul style="list-style-type:square;margin-bottom:1em;margin-left:3em">
					<li><strong>Sugestão:</strong> proposição de ideia ou formulação de proposta de aprimoramento de políticas e serviços prestados pela Administração Pública federal;</li>
					<li><strong>Elogio:</strong> demonstração, reconhecimento ou satisfação sobre o serviço oferecido ou atendimento recebido;</li>
					<li><strong>Solicitação:</strong> requerimento de adoção de providência por parte da Administração;</li>
					<li><strong>Reclamação: </strong> demonstração de insatisfação relativa a serviço público;</li>
					<li><strong>Denúncias:</strong> comunicação de prática de ato ilícito cuja solução dependa da atuação de órgão de controle interno ou externo;</li>
					<li><strong>Pedidos de Acesso à Informação:</strong> solicitação de informação sobre serviços públicos prestados pelo Estado e pedido de acesso à informação pública e documentos produzidos pelos órgãos do Poder Executivo Estadual.</li>
				</ul>
				
				<strong>4 - Preciso me identificar?</strong>
				<p style="margin: 1em 0 2em .5em;">Você pode fazer uma manifestação anônima ou identificada. A identificação permite que a Ouvidoria Geral do Estado entre em contato com você, caso precise de informações ou esclarecimentos adicionais. Por força da Lei nº 12.527/11 (Lei de Acesso à Informação), os órgãos e entidades públicas devem proteger suas informações pessoais, restringindo o acesso a quaisquer dados relativos à intimidade, vida privada, honra e imagem. A não ser que você autorize expressamente a divulgação dessas informações. </p>
				
				<strong>5 - Quais informações devem constar na manifestação?</strong>
				<p style="margin: 1em 0 .5em .5em;">A OGE não exige que o cidadão siga um formato específico para se manifestar. Em geral, as manifestações devem conter as seguintes informações:</p>
				<ul style="list-style-type:square;margin-bottom:1em;margin-left:3em">
					<li>nome completo, e-mail, telefone (incluir DDD) e endereço (inclusive CEP, cidade e estado), bem como qualquer outra informação que facilite o contato da Ouvidoria Geral com os cidadãos/usuários;</li>
					<li>indicação das informações que deseja que a Ouvidoria Geral mantenha sob sigilo; </li>
					<li>identidade do órgão, unidade, entidade e servidor(es) ou equiparados do Poder Executivo Estadual envolvidos, se for o caso;</li> 
					<li>como foi ou tem possibilidade de ser afetado; </li>
					<li>os passos que foram dados na tentativa de solucionar o problema;</li> 
					<li>caso o problema tenha sido parcialmente resolvido, que aspectos ainda restam por resolver;</li> 
					<li>quando for verificado o não cumprimento de políticas, normas ou procedimentos, especificar os aspectos que tenham sido violados;</li> 
					<li>indicação clara do resultado que espera para a sua manifestação; e </li>
					<li>quaisquer outros fatos pertinentes (devem ser anexados quaisquer documentos ou material relevante que ofereça apoio às declarações ou comprovação dos fatos informados).</li>
				</ul>
				
				<p style="margin: 1em 0 2em .5em;">Em todas as situações, o problema deve ser exposto de forma clara, descrevendo datas, locais e fatos detalhadamente, inclusive identificando, quando possível, as pessoas envolvidas.</p>
				
				
				<strong>6 - Existe um modelo para a correspondência?</strong>
				<p style="margin: 1em 0 2em .5em;">Não. O cidadão/usuário pode escrever da forma como achar melhor, mas é fundamental que as suas informações sejam precisas e completas, para que não haja perda de tempo no encaminhamento a ser dado à questão. Escreva de próprio punho, caso não tenha máquina de escrever ou computador. Caso a manifestação inicial e documentos de apoio não sejam suficientes para podermos dar o encaminhamento adequado, a Ouvidoria Geral do Estado poderá solicitar informações adicionais antes de aceitar ou rejeitar a manifestação.</p>
				
				<strong>7 - Como a Ouvidoria Geral do Estado pode me ajudar?</strong>
				<p style="margin: 1em 0 2em .5em;">A Ouvidoria Geral do Estado atuará para identificar o interesse objeto da manifestação e para prestar esclarecimentos ao cidadão sobre os direitos envolvidos. Via de regra, a manifestação será encaminhada à Ouvidoria Setorial do órgão ou entidade no (a) qual ocorreram os fatos, a qual produzirá resposta específica aos cidadãos/usuários.</p>

				
				
				<h1 style="margin-bottom: 0;">Perguntas Frequentes (LAI – Lei de Acesso à Informação)</h1>
				<p:separator styleClass="separator2"/>

				<h2>Pedidos de Acesso à Informação:</h2>
				
				<strong>1 - Como posso fazer um pedido de acesso à informação? </strong>
				<p style="margin: 1em 0 2em .5em;">Para apresentar um pedido de acesso à informação a órgãos e entidades do Poder Executivo Estadual, acesse o Sistema de Ouvidorias do Estado de Sergipe (SE-OUV) ou dirija-se ao SIC físico do órgão ou entidade competente para fornecer a informação demandada. </p>
				
				<strong>2 - Como solicitar informações pelo e-SIC? </strong>
				<ul style="list-style-type:square;margin: 1em 0 2em 1.5em;">
					<li>Para solicitar uma informação pelo e-SIC, o usuário primeiramente deverá acessar o sistema SE-OUV. Caso seja o primeiro acesso do cidadão/usuário ao sistema, ele deverá efetuar seu cadastro;</li>
					<li>Para fazer um pedido de acesso à informação, o usuário deve entrar na seção “Registrar pedido” do e-SIC e preencher o formulário.</li>
					<li>Uma tela com o número de protocolo gerado será disponibilizada.</li>
				</ul>
				
				<strong>3 - Quem pode fazer um pedido de acesso à informação? </strong>
				<p style="margin: 1em 0 2em .5em;">De acordo com o art. 10 da Lei 12.527/2011, qualquer pessoa, natural ou jurídica, pode apresentar pedido de acesso a informações a órgãos e entidades públicos, devendo o pedido conter a identificação do requerente e a especificação da informação requerida. </p>
				
				<strong>4 - O meu pedido pode ser negado? </strong>
				<p style="margin: 1em 0 0 .5em;">Sim. Como regra, as informações produzidas pelo setor público são públicas e devem estar disponíveis à sociedade. No entanto, há alguns tipos de informações que, se divulgadas, podem colocar em risco a segurança da sociedade ou do Estado.</p>
				<p style="margin: 1em 0 0 .5em;">Em se tratando de informações pessoais e sigilosas, a LAI estabelece que o Estado tem o dever de protegê-las. Estas informações devem ter acesso restrito e serem resguardadas não só quanto à sua integridade, mas contra vazamentos e acessos indevidos. </p>
				<p style="margin: 1em 0 2em .5em;">Se o pedido de acesso for negado, é direito do requerente receber comunicação que contenha as razões da negativa e seu fundamento legal, as informações para recurso e sobre possibilidade de apresentação de pedido de desclassificação de informação sigilosa, quando for o caso (art. 11).</p>
				
				<strong>5 - Quais informações podem ser negadas? </strong>
				<p style="margin: 1em 0 .5em .5em;">Poderão ser negadas:</p>
				<ul style="list-style-type:square;margin: 0 0 1.5em 3em;">
					<li>Informações pessoais;</li>
					<li>Informações sigilosas classificadas segundo os critérios da LAI;</li>
					<li>Informações sigilosas com base em outros normativos.</li>
				</ul>
				<p style="margin: 1em 0 .5em .5em;">Ainda, de acordo com o art. 13 do decreto 7.724/2012, poderão não ser atendidos pedidos de acesso à informação:</p>
				<ul style="list-style-type:square;margin: 0 0 1.5em 3em;">
					<li>genéricos;</li>
					<li>desproporcionais ou desarrazoados; ou</li>
					<li>que exijam trabalhos adicionais de análise, interpretação ou consolidação de dados e informações, ou serviço de produção ou tratamento de dados que não seja de competência do órgão ou entidade.</li>
				</ul>
				
				<p style="margin: 1em 0 2em .5em;">Ainda, durante o processo de tomada de decisão ou de edição de ato administrativo, os documentos preparatórios utilizados como seus fundamentos poderão ter o acesso negado. Porém, com a edição do ato ou decisão, o acesso a tais documentos deverá ser assegurado pelo poder público (art. 20 da LAI).</p>
				
				<strong>6 - O que é pedido desproporcional, desarrazoado ou genérico?</strong>
				<p style="margin: 1em 0 .5em .5em;">O Decreto 7.724 (art. 13), que regulamenta a LAI no Poder Executivo Federal, também prevê que <strong>não serão atendidos pedidos de informação que sejam:</strong></p>
				<ul style="list-style-type:square;margin: 0 0 1.5em 3em;">
					<li>genéricos;</li>
					<li>desproporcionais ou desarrazoados; ou</li>
					<li>que exijam trabalhos adicionais de análise, interpretação ou consolidação de dados e informações, ou serviço de produção ou tratamento de dados que não seja de competência do órgão ou entidade.</li>
				</ul>
				
				<p style="margin: 1em 0 .5em .5em;"><strong>Veja a definição desses conceitos:</strong></p>
				<ul style="list-style-type:square;margin-left:3em">
					<li><strong>Genérico:</strong> É aquele que não é específico, ou seja, não descreve de forma delimitada (quantidade, período temporal, localização, sujeito, recorte temático, formato, etc.) o objeto do pedido de acesso à informação, o que impossibilita a identificação e a compreensão do objeto da solicitação. É um pedido que se caracteriza pelo seu aspecto generalizante, com ausência de dados importantes para a sua delimitação e atendimento.
						<ul>
							<li><strong>Exemplo: </strong>"Eu quero saber os contratos do governo com educação básica."</li>
						</ul>
					</li>
					<li><strong>Desproporcional: </strong>Analisa-se a adequabilidade do pedido de modo que seu atendimento não comprometa significativamente a realização das atividades rotineiras da instituição requerida, acarretando prejuízo injustificado aos direitos de outros solicitantes. O órgão deve indicar as razões de fato ou de direito da recusa total ou parcial da demanda, apresentando o nexo entre o pedido e os impactos negativos ao órgão.</li>
					<li><strong>Desarrazoado: </strong>É aquele que não encontra amparo para a concessão de acesso solicitado nos objetivos da LAI e tampouco nos seus dispositivos legais, nem nas garantias fundamentais previstas na Constituição. É um pedido que se caracteriza pela desconformidade com os interesses públicos do Estado em prol da sociedade, como a segurança pública, a celeridade e a economicidade da administração pública.
						<ul>
							<li><strong>Exemplo: </strong>"Gostaria obter cópia da planta da penitenciária Y"</li>
						</ul>
					</li>
				</ul>
				
				<p style="margin: 1em 0 2em .5em;"><strong>O que significa "trabalhos adicionais de análise, interpretação ou consolidação de dados e informações, ou serviço de produção ou tratamento de dados que não seja de competência do órgão ou entidade"?</strong></p>
				<h:panelGroup style="width:100%;display:flex">
					<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/imgPerguntasFrequentes.png" />
				</h:panelGroup>
			</h:form>
			
		</ui:define>

	</ui:composition>

</h:body>

</html>