<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
	
	<h:panelGroup styleClass="column" style="padding: 3vw 15vw">
		<h:outputText value="Prazos de Atendimento" styleClass="tituloBox" />
		<p:separator styleClass="separator2"/>
		
		<dl style="list-style-type:square;margin-bottom:1em;">
			<dt style="font-variant:small-caps"><strong>DENÚNCIA</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
				<dd>Manifestação que aponta irregularidades nos atos da Administração Pública Estadual e seus servidores, tendo em vista a inobservância das normas e procedimentos legais, acarretando prejuízo ao patrimônio público; ou manifestação que aponta irregularidades em atos praticados por pessoas jurídicas contra a Administração Pública Estadual.</dd>
			<dt style="margin-top:.5em;font-variant:small-caps"><strong>RECLAMAÇÃO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
				<dd>Trata-se de manifestação de insatisfação com o serviço público prestado pelos órgãos do Poder Executivo Estadual.</dd>
			<dt style="margin-top:.5em;font-variant:small-caps"><strong>ELOGIO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
				<dd>Manifestação que demonstra a satisfação com o serviço prestado pela Administração Pública Estadual.</dd>
			<dt style="margin-top:.5em;font-variant:small-caps"><strong>SUGESTÃO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
				<dd>Manifestação que apresenta propostas e ideias para a melhoria da gestão pública estadual.</dd>
			<dt style="margin-top:.5em;font-variant:small-caps"><strong>SOLICITAÇÃO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
				<dd>Requerimento de adoção de providência por parte da administração pública estadual.</dd>
			<dt style="margin-top:.5em;font-variant:small-caps"><strong>PEDIDO DE ACESSO Á INFORMAÇÃO</strong> (20 dias, prorrogáveis por mais 10 dias justificados)</dt>
				<dd>Trata-se de solicitação de informação sobre serviços públicos prestados pelo Estado e pedido de acesso à informação pública e documentos produzidos pelos órgãos do Poder Executivo Estadual, atendendo ao disposto na Lei de Acesso à Informação (LAI), nº 12.527, de 18 / 11 / 2011 e do Decreto Estadual nº 30.947/2017.</dd>
		</dl>
		
		<p style="margin-top:.5em;font-variant:small-caps"><strong>RECURSOS</strong></p>
			<p>Após decisão em <strong>1ª instância</strong>, o solicitante pode acessar seu protocolo no Sistema SE-OUV e realizar o recurso.</p>
			
			<p>Em 2ª instância no prazo de até 10 dias da ciência da decisão.
			Recebido o recurso, a SETC/OGE analisará a demanda e realizará as interlocuções necessárias para decisão. A decisão será informada ao cidadão por meio do sistema já mencionado.</p>
		
			<p>Caso o recurso seja indeferido ou negado total ou parcialmente, o cidadão poderá ainda recorrer em <strong>3ª e última instância</strong> à Comissão Mista de Reavaliação e Recursos. </p>
			
			<p><strong>De acordo com o Decreto Estadual nº 30.947/2017 (Dos Recursos Art. 15)</strong></p>
			
			<p>No caso de negativa de acesso à informação ou de não fornecimento das razões da negativa do acesso, poderá o requerente apresentar recurso no prazo de 10 (dez) dias, contado da ciência da decisão, à autoridade de monitoramento designada pelo titular do respectivo Órgão ou Entidade, que deverá apreciá-lo no prazo de 5 (cinco) dias, contado da sua apresentação. </p>
			
			<p>§ 1º Desprovido o recurso de que trata o “caput”, poderá o requerente apresentar recurso no prazo de 10 (dez) dias, contado da ciência da decisão, à autoridade máxima do órgão ou entidade, que deverá se manifestar em 5 (cinco) dias contados do recebimento do recurso. </p>
			
			<p>§ 2º Persistindo a omissão ou desprovimento de resposta ao pedido de acesso à informação, o requerente poderá apresentar reclamação no prazo de 10 (dez) dias à Comissão Mista de Reavaliação e Recursos, observados os procedimentos previstos no Capítulo V deste Decreto. </p>
	</h:panelGroup>

</ui:define>
</ui:composition>
</h:body>

</html>