<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
			
	<h:panelGroup styleClass="column-nowrap justify-center">
	
		<h:outputText value="Alterar Dados" style="color:#1a568c; font-size:25px; align-self: center; margin-top: 1em" />
				
		<h:form styleClass="column-nowrap items-center">
			<h:outputText value="Os campos abaixo marcados com * são de preenchimento obrigatório."	style="font-size:14px; color:gray" />
			<h:panelGroup styleClass="box" style="max-width: -webkit-fit-content;max-width: -moz-fit-content;max-width: fit-content;">
	
				<p:outputLabel value="Tipo Pessoa: " for="tipo" style="color:#1a568c; font-size:25px; margin-top: 0"/>
				<h:panelGroup styleClass="column-nowrap" style="margin-top: 1em">
					<p:selectOneRadio id="tipo" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().tipo}" layout="pageDirection">
						<f:selectItem itemLabel="Física" itemValue="true" />
						<f:selectItem itemLabel="Jurídica" itemValue="false" />
						<p:ajax update="panel" event="change"/>
					</p:selectOneRadio>
				</h:panelGroup>
				
				<p:separator />
				
				<h:outputText value="Dados Pessoais" style="color:#1a568c; font-size:25px;" rendered="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().tipo}"/>
				<h:outputText value="Dados Cadastrais" style="color:#1a568c; font-size:25px;" rendered="#{!consultaUsuarioBean.usuario.cidadaos.iterator().next().tipo}"/>
				
				<h:panelGroup id="panel" styleClass="column-nowrap" >
				
					<h:panelGroup id="pessoaFisica" styleClass="column-nowrap" rendered="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().tipo}">
						<p:outputLabel value="Nome completo: " for="nome" />
						<p:inputText id="nome" value="#{consultaUsuarioBean.usuario.nome}" size="60" maxlength="65" required="true" requiredMessage="Nome não pode ser vazio">
							<f:validateLength minimum="5" maximum="65" />
							<p:keyFilter regEx="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ .'-]+$/" preventPaste="false"/>
						</p:inputText>
						
						<h:panelGroup styleClass="inline" style="align-items: flex-start;">
							<h:panelGroup styleClass="column-nowrap" >
								<p:outputLabel value="E-mail: " for="email" />
								<p:inputText id="email" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().email}" size="35" maxlength="100" validatorMessage="E-mail inválido" required="true" requiredMessage="Email não pode ser vazio">
									<f:validateLength minimum="5" maximum="100" />
									<f:validateRegex pattern="^[a-zA-Z0-9.!#$%'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+.[a-zA-Z0-9-]*$" />
								</p:inputText>
							</h:panelGroup>
							
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw" >
								<p:outputLabel value="Data de Nascimento: " for="datanasc" />
								<p:calendar styleClass="date" id="datanasc" yearRange="c-120:c"
									showOn="button" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().datanasc}"
									locale="pt_BR" effect="slideDown" navigator="true"
									pattern="dd/MM/yyyy" mask="true" timeInput="false">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:calendar>
							</h:panelGroup>
			
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw" >
								<p:outputLabel value="Gênero: " for="sexo" />
								<p:selectOneRadio id="sexo" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().sexo}"	layout="pageDirection" >
									<f:selectItem itemLabel="Masculino" itemValue="M" />
									<f:selectItem itemLabel="Feminino" itemValue="F" />
									<f:selectItem itemLabel="Outro" itemValue="O" />
								</p:selectOneRadio>
							</h:panelGroup>
						</h:panelGroup>
						
						<h:panelGroup styleClass="inline" style="-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;">
							<h:panelGroup styleClass="column-nowrap" >
								<p:outputLabel value="CPF:" for="cpf"/>
								<p:inputMask id="cpf" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().cpf}" mask="999.999.999-99" size="11">
									<!--<f:validator validatorId="StellaCPFValidator" />-->
								</p:inputMask>
							</h:panelGroup>
							
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw" >
								<p:outputLabel value="RG: " for="rg" />
								<p:inputMask id="rg" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().rg}" mask="?9999999999999999" size="15"/>
							</h:panelGroup>
			
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
								<p:outputLabel value="Órgão Expedidor: " for="orgao" />
								<p:inputText id="orgao" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().orgaexp}" size="15" >
									<f:validateLength maximum="45" />
								</p:inputText>
							</h:panelGroup>
			
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw" >
								<p:outputLabel value="Renda:" for="renda" />
								<p:selectOneMenu id="renda" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().renda}" >
									<f:selectItem itemLabel="Selecionar" itemValue="" />
									<f:selectItem itemLabel="Sem renda" itemValue="0" />
									<f:selectItem itemLabel="Até 2 SM*" itemValue="1" />
									<f:selectItem itemLabel="De 2 a 4 SM*" itemValue="2" />
									<f:selectItem itemLabel="De 4 a 10 SM*" itemValue="3" />
									<f:selectItem itemLabel="De 10 a 20 SM*" itemValue="4" />
									<f:selectItem itemLabel="Acima de 20 SM*" itemValue="5" />
								</p:selectOneMenu>
								<p:outputLabel value="** SM = Salário Mínimo" style="color:gray; font-size:12px; margin: 0" />
							</h:panelGroup>
						</h:panelGroup>
						
						<h:panelGroup styleClass="inline" style="align-items: flex-start;">
							<h:panelGroup styleClass="column-nowrap">
								<p:outputLabel value="Escolaridade: " for="escolaridade" />
								<p:selectOneMenu id="escolaridade" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().escolaridade}" >
									<f:selectItem itemLabel="Selecionar" itemValue="" />
									<f:selectItem itemLabel="Analfabeto" itemValue="1" />
									<f:selectItem itemLabel="Semi-Analfabeto" itemValue="2" />
									<f:selectItem itemLabel="Fundamental" itemValue="3" />
									<f:selectItem itemLabel="Ensino Médio Incompleto" itemValue="4" />
									<f:selectItem itemLabel="Ensino Médio Completo" itemValue="5" />
									<f:selectItem itemLabel="Ensino Superior Incompleto"
										itemValue="6" />
									<f:selectItem itemLabel="Ensino Superior Completo"
										itemValue="7" />
								</p:selectOneMenu>
							</h:panelGroup>
							
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
								<p:outputLabel value="Telefone:" for="tel"/>
								<p:inputMask id="tel" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().telefone}" mask="(99) 9999-9999" size="12" />
							</h:panelGroup>
							
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
								<p:outputLabel value="Celular:" for="cel"/>
								<p:inputMask id="cel" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().celular}" mask="(99) 9 9999-9999" size="12" />
							</h:panelGroup>
						</h:panelGroup>
						
					</h:panelGroup>
				
					<h:panelGroup id="pessoaJuridica" styleClass="column-nowrap" rendered="#{!consultaUsuarioBean.usuario.cidadaos.iterator().next().tipo}">
						<h:panelGroup styleClass="column-nowrap">
							<p:outputLabel value="Razão Social: " for="nome2" />
							<p:inputText id="nome2" value="#{consultaUsuarioBean.usuario.nome}" size="60" maxlength="65" required="true" requiredMessage="Nome não pode ser vazio">
								<f:validateLength minimum="5" maximum="65" />
								<p:keyFilter regEx="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ .'-]+$/" preventPaste="false"/>
							</p:inputText>
						</h:panelGroup>
						
						<h:panelGroup styleClass="inline" style="align-items: flex-start;">
							<h:panelGroup styleClass="column-nowrap" >
								<p:outputLabel value="E-mail: " for="email2" />
								<p:inputText id="email2" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().email}" size="35" maxlength="100" validatorMessage="E-mail inválido" required="true" requiredMessage="Email não pode ser vazio">
									<f:validateLength minimum="5" maximum="100" />
									<f:validateRegex pattern="^[a-zA-Z0-9.!#$%'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+.[a-zA-Z0-9-]*$" />
								</p:inputText>
							</h:panelGroup>
							
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw" >
								<p:outputLabel value="CNPJ:" for="cnpj"/>
								<p:inputMask id="cnpj" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().cpf}" mask="99.999.999/9999-99" >
									<!--<f:validator validatorId="StellaCNPJValidator" />-->
								</p:inputMask>
							</h:panelGroup>
						</h:panelGroup>
						
						<h:panelGroup styleClass="inline" >
							<h:panelGroup styleClass="column-nowrap">
								<p:outputLabel value="Telefone:" for="tel2"/>
								<p:inputMask id="tel2" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().telefone}" mask="(99) 9999-9999" size="12" />
							</h:panelGroup>
							
							<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
								<p:outputLabel value="Celular:" for="cel2"/>
								<p:inputMask id="cel2" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().celular}" mask="(99) 9 9999-9999" size="12" />
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
	
				</h:panelGroup>
				
				<p:separator />
				
				<h:outputText value="Endereço" style="color:#1a568c; font-size:25px;" />
	
				<h:panelGroup styleClass="inline">
					<h:panelGroup styleClass="column-nowrap">
						<p:outputLabel value="CEP:" />
						<p:inputMask id="cep" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().cep}" mask="99999-999" />
					</h:panelGroup>
	
					<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
						<p:outputLabel value="Cidade:" />
						<p:inputText id="cidade" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().cidade}" maxlength="45">
							<f:validateLength maximum="45"/>
						</p:inputText>
					</h:panelGroup>
	
					<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
						<p:outputLabel value="Estado: " for="uf" />
						<p:selectOneMenu id="uf" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().estado}" widgetVar="estado">
							<f:selectItem itemLabel="Selecionar" itemValue="" />
							<f:selectItem itemLabel="Acre" itemValue="AC" />
							<f:selectItem itemLabel="Alagoas" itemValue="AL" />
							<f:selectItem itemLabel="Amapá" itemValue="AP" />
							<f:selectItem itemLabel="Amazonas" itemValue="AM" />
							<f:selectItem itemLabel="Bahia" itemValue="BA" />
							<f:selectItem itemLabel="Ceará" itemValue="CE" />
							<f:selectItem itemLabel="Distrito Federal" itemValue="DF" />
							<f:selectItem itemLabel="Espirito Santo" itemValue="ES" />
							<f:selectItem itemLabel="Goiás" itemValue="GO" />
							<f:selectItem itemLabel="Maranhão" itemValue="MA" />
							<f:selectItem itemLabel="Mato Grosso" itemValue="MT" />
							<f:selectItem itemLabel="Mato Grosso do Sul" itemValue="MS" />
							<f:selectItem itemLabel="Minas Gerais" itemValue="MG" />
							<f:selectItem itemLabel="Pará" itemValue="PA" />
							<f:selectItem itemLabel="Paraíba" itemValue="PB" />
							<f:selectItem itemLabel="Paraná" itemValue="PR" />
							<f:selectItem itemLabel="Piauí" itemValue="PI" />
							<f:selectItem itemLabel="Rio de Janeiro" itemValue="RJ" />
							<f:selectItem itemLabel="Rio Grande do Norte" itemValue="RN" />
							<f:selectItem itemLabel="Rio Grande do Sul" itemValue="RS" />
							<f:selectItem itemLabel="Rondônia" itemValue="RO" />
							<f:selectItem itemLabel="Roraima" itemValue="RR" />
							<f:selectItem itemLabel="Santa Catarina" itemValue="SC" />
							<f:selectItem itemLabel="São Paulo" itemValue="SP" />
							<f:selectItem itemLabel="Sergipe" itemValue="SE" />
							<f:selectItem itemLabel="Tocantins" itemValue="TO" />
						</p:selectOneMenu>
					</h:panelGroup>
				</h:panelGroup>
	
				<h:panelGroup styleClass="inline">
					<h:panelGroup styleClass="column-nowrap">
						<p:outputLabel value="Logradouro:" />
						<p:inputText id="rua" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().endereco}" size="40" maxlength="100">
							<f:validateLength maximum="100" />
						</p:inputText>
					</h:panelGroup>
	
					<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
						<p:outputLabel value="Bairro:" />
						<p:inputText id="bairro" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().bairro}" size="29" maxlength="45">
							<f:validateLength maximum="45"/>
						</p:inputText>
					</h:panelGroup>
				</h:panelGroup>
	
				<h:panelGroup styleClass="inline">
					<h:panelGroup styleClass="column-nowrap">
						<p:outputLabel value="Número:" for="numero" />
						<p:inputText id="numero" value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().numero}"
							size="10" maxlength="5">
							<f:validateLength maximum="5" />
						</p:inputText>
	
					</h:panelGroup>
	
					<h:panelGroup styleClass="column-nowrap" style="margin-left: 2vw">
						<p:outputLabel value="Complemento: " for="complemento" />
						<p:inputText id="complemento"
							value="#{consultaUsuarioBean.usuario.cidadaos.iterator().next().complemento}" maxlength="200" size="59">
							<f:validateLength maximum="200" />
						</p:inputText>
					</h:panelGroup>
				</h:panelGroup>
			</h:panelGroup>
			
			<p:commandLink class="botaoLink" action="#{consultaUsuarioBean.salvar()}" style="margin: 0 25vw 1vh 0;" >
				<h:outputText value="Salvar" style="margin-right: 5px"/>
				<i class="fa fa-check" />
			</p:commandLink>
					
		</h:form>
	</h:panelGroup>

</ui:define>
</ui:composition>
</h:body>

</html>