<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content">
			
			<h:form id="alterar_competencias" styleClass="ficha">
					
				<h:outputText value="Competências #{consultaCompetenciasBean.entidade.sigla}" styleClass="tituloBox" />
				
			    <p:commandLink class="botaoLink" id="novaComp" onclick="PF('dlg').show();" style="margin-bottom: 1vh">
			        <h:outputText value="Nova Compêtencia" style="margin-right: 5px" />
			        <i class="fa fa-plus" />
			    </p:commandLink>
				
				<h:panelGroup id="competencias_panel">

					<p:dataTable id="table" var="comp" value="#{consultaCompetenciasBean.listCompetenciasAtivas}" rowKey="#{comp.idCompetencia}">

						<f:facet name="header">
						  <h:outputText value="Competências Vinculadas" style="font-size:20px; padding-bottom: 2vw;"/>
						</f:facet>
						
						<p:column headerText="Temas" sortBy="#{comp.tema.titulo}">
						    <h:outputText value="#{comp.tema.titulo}" style="font-weight: bold" />
						</p:column>
						
						<p:column headerText="Status" sortBy="#{comp.ativa}" width="80">
							<h:outputText value="Ativo" rendered="#{comp.ativa}"/>
							<h:outputText value="Inativo" rendered="#{!comp.ativa}"/>
						</p:column>
						
				 		<p:column headerText="Desvincular" width="100" style="text-align: center">
							<p:commandLink class="botaoLinkIcon" actionListener="#{consultaCompetenciasBean.abrirInativarCompetencia(comp)}" update="inativaDialog growl">
								<i class="fa fa-times"/>
							</p:commandLink>
						</p:column>
					</p:dataTable>
					
					<p:dataTable id="table2" var="comp" value="#{consultaCompetenciasBean.listCompetenciasInativas}" rowKey="#{comp.idCompetencia}" style="margin-top: 1.5em">

						<f:facet name="header">
						  <h:outputText value="Competências Inativas" style="font-size:20px; padding-bottom: 2vw;"/>
						</f:facet>
						
						<p:column headerText="Temas" sortBy="#{comp.tema.titulo}">
						    <h:outputText value="#{comp.tema.titulo}" style="font-weight: bold" />
						</p:column>
						
						<p:column headerText="Status" sortBy="#{comp.ativa}" width="80">
							<h:outputText value="Ativo" rendered="#{comp.ativa}"/>
							<h:outputText value="Inativo" rendered="#{!comp.ativa}"/>
						</p:column>
						
				 		<p:column headerText="Reativar" width="100" style="text-align: center">
							<p:commandLink class="botaoLinkIcon" actionListener="#{consultaCompetenciasBean.abrirAtivarCompetencia(comp)}" update="ativaDialog growl">
								<i class="fa fa-check"/>
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</h:panelGroup>
				
			</h:form>
			
			<!-- Dialog Inativar Competência -->
			<p:dialog widgetVar="inativaDialog" modal="true" showHeader="true" fitViewport="true" showEffect="fade" resizable="false" maximizable="false" draggable="false" closeOnEscape="true">
				<h:form id="inativaDialog">
					<p:outputPanel id="inativaComp" styleClass="column">
						<h:panelGroup styleClass="inline">
							<h:outputText value="Deseja inativar o Tema " />
							<h:outputText style="font-weight:bold; margin: 0 .1em; color: #1a568c;" value="#{consultaCompetenciasBean.editCompetencia.tema.titulo}" />
							<h:outputText style="margin: 0 .5em" value=" da " />
							<h:outputText style="font-weight:bold; margin: 0 .1em; color: #1a568c;" value="#{consultaCompetenciasBean.editCompetencia.entidade.nome}" />
							<h:outputText style="margin: 0 .5em" value=" ?" />
						</h:panelGroup>
						
						<h:panelGroup styleClass="inline" style="-webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly;">
							<p:commandLink id="confirmInat" class="botaoLink" actionListener="#{consultaCompetenciasBean.inativarCompetencia()}"  update="alterar_competencias:table alterar_competencias:table2" oncomplete="PF('inativaDialog').hide();" onkeyup="if((event.keyCode==13)||(window.event.keyCode==13)){document.getElementById('editarComp').click();}" style="margin-top: 1em; background: #40933b !important;">
								<h:outputText value="Sim" />
								<i class="fa fa-check" style="color: white; padding-left: 3px" />
							</p:commandLink>
							
							<p:commandLink class="botaoLink" id="cancelInat" oncomplete="PF('inativaDialog').hide();" style="margin-top: 1em; background: #d52f2f !important;">
								<h:outputText value="Não" />
								<i class="fa fa-times" style="color: white; padding-left: 3px" />
							</p:commandLink>
						</h:panelGroup>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			
			<!-- Dialog Reativar Competência -->
			<p:dialog widgetVar="ativaDialog" modal="true" showHeader="true" fitViewport="true" showEffect="fade" resizable="false" maximizable="false" draggable="false" closeOnEscape="true">
				<h:form id="ativaDialog">
					<p:outputPanel id="ativaComp" styleClass="column">
						<h:panelGroup styleClass="inline">
							<h:outputText value="Deseja reativar o Tema " />
							<h:outputText style="font-weight:bold; margin: 0 .1em; color: #1a568c;" value="#{consultaCompetenciasBean.editCompetencia.tema.titulo}" />
							<h:outputText style="margin: 0 .5em" value=" da " />
							<h:outputText style="font-weight:bold; margin: 0 .1em; color: #1a568c;" value="#{consultaCompetenciasBean.editCompetencia.entidade.nome}" />
							<h:outputText style="margin: 0 .5em" value=" ?" />
						</h:panelGroup>
						
						<h:panelGroup styleClass="inline" style="-webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly;">
							<p:commandLink id="confirmAtv" class="botaoLink" actionListener="#{consultaCompetenciasBean.ativarCompetencia()}"  update="alterar_competencias:table alterar_competencias:table2" oncomplete="PF('ativaDialog').hide();" onkeyup="if((event.keyCode==13)||(window.event.keyCode==13)){document.getElementById('editarComp').click();}" style="margin-top: 1em; background: #40933b !important;">
								<h:outputText value="Sim" />
								<i class="fa fa-check" style="color: white; padding-left: 3px" />
							</p:commandLink>
							
							<p:commandLink class="botaoLink" id="cancelInat" oncomplete="PF('ativaDialog').hide();" style="margin-top: 1em; background: #d52f2f !important;">
								<h:outputText value="Não" />
								<i class="fa fa-times" style="color: white; padding-left: 3px" />
							</p:commandLink>
						</h:panelGroup>
						
					</p:outputPanel>
				</h:form>
			</p:dialog>
		
		<!-- Dialog Nova Competência -->
		<p:dialog widgetVar="dlg" modal="true" showHeader="true" fitViewport="true" showEffect="fade" 
		resizable="false" maximizable="false" draggable="false" closeOnEscape="true" onShow="#{competencias.limparCompetencia()}">
			<h:form id="dialog">
				<p:outputPanel id="dlg2" style="max-width: 700px; border:none">
					<h:panelGroup styleClass="box" style="padding: 0; border: none; background: none">
						<h:outputText value="Adicionar Competência" styleClass="tituloBox" />
					
						<h:outputLabel value="Órgão/Entidade:" />
						<h:outputText id="redirect2" value="#{consultaCompetenciasBean.entidade.sigla} - #{consultaCompetenciasBean.entidade.nome}" style="font-size:20px; padding-bottom: 2vw;"/>
						
						<h:outputLabel value="Temas: " for="acoes" />
						<h:panelGroup styleClass="inline" style="width: 100%; justify-content: space-between;">
							<p:selectOneMenu id="acoes" value="#{consultaCompetenciasBean.idTemaSelecionado}" filter="true" filterMatchMode="contains" styleClass="field selectField" style="min-width: 200px !important;">
								<f:selectItem itemLabel="Selecione" itemValue="0" />
								<f:selectItems value="#{consultaCompetenciasBean.listTemas}" var="tema" itemLabel="#{tema.titulo}" itemValue="#{tema.idTema}" />
							</p:selectOneMenu>
	
							<h:outputLabel value="Ou" style="margin: 0 5em" />
							
							<p:commandLink class="botaoLink" onclick="PF('dlg3').show();" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao'}">
								<i class="fa fa-plus-square" style="margin-right: 5px" />
								<h:outputText value="Novo Tema" />
							</p:commandLink>
							
							<p:commandLink class="botaoLink" onclick="PF('dlg2').show();" rendered="#{loginBean.perfilLogado eq 'coordenadorOGE'or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}">
								<i class="fa fa-plus-square" style="margin-right: 5px" />
								<h:outputText value="Novo Tema" />
							</p:commandLink>
						</h:panelGroup>
						
						<p:commandLink styleClass="botaoLink" action="#{consultaCompetenciasBean.salvar()}" update="alterar_competencias:table dialog:acoes growl" type="button" oncomplete="PF('dlg').hide();" style="margin-top: 1em">
							<h:outputText value="Salvar"  />
							<i class="fa fa-plus" style="margin-left: 5px"/>
						</p:commandLink>
		
					</h:panelGroup>
					
					</p:outputPanel>
				</h:form>
			</p:dialog>
				
			<!-- Sub Dialog Nova Ação -->
			<p:dialog header="Cadastrar Novo Tema" widgetVar="dlg2" modal="true" showHeader="true" fitViewport="true" showEffect="fade" resizable="false" maximizable="false" draggable="false" closeOnEscape="true">
				<h:form id="dialog2">
					<p:outputPanel id="dlg2" style="max-width: 700px">
						<p:panelGrid columns="1" style="border:none; width: 60%;">
							<p:outputLabel value="Título:" for="titulo" />
							<p:inputText id="titulo" value="#{consultaCompetenciasBean.novoTema.titulo}" size="75" />
						</p:panelGrid>

						<p:commandLink class="botaoLink" action="#{consultaCompetenciasBean.salvarTema()}" style="margin: 0 .7vw 1vh 0; justify-self: flex-end;" type="submit" oncomplete="PF('dlg2').hide();" update="dialog:acoes">
							<h:outputText value="Salvar" style="margin-right: 5px"/>
							<i class="fa fa-check" />
						</p:commandLink>
					</p:outputPanel>
				</h:form>

			</p:dialog>
				
			<!-- Sub Dialog Solicitar Nova Ação -->
			<p:dialog header="Solicitar Novo Tema" widgetVar="dlg3" modal="true" showHeader="true" fitViewport="true" showEffect="fade" resizable="false" maximizable="false" draggable="false" closeOnEscape="true">
				<h:form id="dialog3">
					
					<p style="margin-bottom: 0; margin-top: 1em;">O cadastro de novos temas depende da aprovação da Ouvidoria Geral do Estado - OGE.</p>
					<p>Caso a solicitação de cadastro seja atendida, o novo tema ficará disponível na lista anterior.</p>
					
					<p:outputPanel id="dlg3" style="max-width: 700px">
						<p:panelGrid columns="1" style="border:none; width: 60%;">
							<p:outputLabel value="Título:" for="titulo" />
							<p:inputText id="titulo" value="#{consultaCompetenciasBean.novoTema.titulo}" size="80" maxlength="80" />
						</p:panelGrid>

						<p:commandLink class="botaoLink" action="#{consultaCompetenciasBean.solicitarTema()}" style="margin: 0 .7vw 1vh 0; justify-self: flex-end;"  type="submit" oncomplete="PF('dlg3').hide();" update="dialog:acoes">
							<h:outputText value="Salvar" style="margin-right: 5px"/>
							<i class="fa fa-check" />
						</p:commandLink>
					</p:outputPanel>
				</h:form>

			</p:dialog>

		</ui:define>

	</ui:composition>

</h:body>

</html>