<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content">
		
			<h:form id="form">

				<div class="ficha">
	
					<h:panelGroup styleClass="column" style="width:100%">
						<h:outputText value="Órgãos / Entidades" styleClass="tituloBox" style="align-self:flex-start; margin:0; margin-left:5vw;" />
						<p:separator styleClass="separator2" style="align-self:flex-start;margin-left:5vw;"/>
					</h:panelGroup>
						
					<h:commandLink action="/cadastro/entidade.xhtml" id="novaEntidade" styleClass="botaoLink" rendered="#{loginBean.perfilLogado eq 'coordenadorOGE'or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}" style="margin-bottom: 10px">
						<i class="fa fa-plus" style="color: white; padding-right: 7px;" />
						<h:outputText value="Nova Entidade" />
					</h:commandLink>
					
					<p:dataTable id="entidades" var="entidade" widgetVar="orgaos" 
						emptyMessage="Órgãos não encontrados"
						value="#{consultaEntidadesBean.listEntidades}" resizableColumns="true" liveResize="true"
						filteredValue="#{consultaEntidadesBean.listEntidadesFiltradas}"
						sortBy="#{orgaos.sigla}"
						rowStyleClass="#{orgaos.sigla}" paginator="true"
						currentPageReportTemplate="(Página {currentPage} de {totalPages})"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rows="50" rowsPerPageTemplate="5,10,20,50" rowKey="#{orgaos.idEntidade}"
						style="margin-bottom:1vw">
						
						<f:facet name="header">
				            <p:outputPanel styleClass="searchPanel">
								<i class="fa fa-search" style="color: white; margin-right: .5em"/>
				                <p:inputText id="globalFilter" onkeypress="if(event.keyCode == 13) {event.preventDefault(); PF('orgaos').filter(); return false; }" style="width:50%" placeholder="Insira nome ou sigla"/>
				            </p:outputPanel>
				        </f:facet>
						
						<p:column headerText="Sigla" sortBy="#{entidade.sigla}" width="70" filterBy="#{entidade.sigla}" filterMatchMode="contains" filterable="false">
							<h:outputText value="#{entidade.sigla}" />
						</p:column>

						<p:column headerText="Nome" sortBy="#{entidade.nome}" filterBy="#{entidade.nome}" filterMatchMode="contains" filterable="false">
							<h:outputText value="#{entidade.nome}" />
						</p:column>

						<p:column headerText="Status" sortBy="#{entidade.ativa}" filterBy="#{entidade.ativa}" filterMatchMode="exact" width="80">
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('orgaos').filter()" style="width: -webkit-fill-available;width: -moz-available;width: fill-available;">
									<f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
									<f:selectItem itemLabel="Ativos" itemValue="#{true}" />
									<f:selectItem itemLabel="Inativos" itemValue="#{false}" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{entidade.ativa ? 'Ativo': 'Inativo'}" />
						</p:column>

						<p:column headerText="Competências" width="110" style="text-align: center" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE'or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}">
							<h:commandLink class="botaoLinkIcon" id="consComp" action="/consulta/competencias.xhtml" style="margin:5px">
								<i class="fa fa-refresh"/>
								<f:param name="idEntidade" value="#{entidade.idEntidade}" />
							</h:commandLink>
						</p:column>

						<p:column headerText="Editar" width="45"  rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}" style="text-align: center">
							<p:commandLink class="botaoLinkIcon" actionListener="#{consultaEntidadesBean.abrirEntidade(entidade)}" update="editDialog">
								<i class="fa fa-pencil-square-o" />
							</p:commandLink>
						</p:column>
						
						<p:column headerText="Atividade" width="50" rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}" style="text-align: center">
							<p:commandLink class="botaoLinkIcon"  title="Inativar Entidade" actionListener="#{consultaEntidadesBean.confirmaInativacao(entidade)}" update="inativaDialog" rendered="#{entidade.ativa}">
								<i class="fa fa-times" style="padding: 0 3px"/>
							</p:commandLink>
							<p:commandLink class="botaoLinkIcon"  title="Reativar Entidade" actionListener="#{consultaEntidadesBean.ativarEntidade(entidade)}" update="entidades" rendered="#{!entidade.ativa}">
								<p:confirm header="Confirmação" message="Deseja reativar entidade #{entidade.sigla}?" icon="pi pi-exclamation-triangle"/>
								<i class="fa fa-check" />
							</p:commandLink>
						</p:column>

					</p:dataTable>
				
				</div>

			</h:form>

				<p:dialog id="editDialog" widgetVar="editDialog" header="Editar Órgão / Entidade"
					modal="true" showHeader="true" fitViewport="true" showEffect="fade"
					hideEffect="fade" resizable="false" maximizable="false" draggable="false" 
					closeOnEscape="true" style="padding: 0">

					<h:form id="dialog" styleClass="dialog">
						<p:outputPanel id="entidadeEdit" styleClass="box" style="display:flex; flex-flow: column; margin: 0; border: none; padding: 0">
							<p:outputLabel for="nome" value="Nome:" />
							<p:inputText id="nome" required="true" size="50" value="#{consultaEntidadesBean.editEntidade.nome}" maxlength="200">
								<f:validateLength maximum="200"/>
								<p:keyFilter regEx="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ .'-]+$/" preventPaste="false"/>
							</p:inputText>

							<p:outputLabel for="sigla" value="Sigla:" />
							<p:inputText id="sigla" required="true" size="10" value="#{consultaEntidadesBean.editEntidade.sigla}" maxlength="10" >
								<f:validateLength maximum="10"/>
								<p:keyFilter regEx="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ .'-]+$/" preventPaste="false"/>
							</p:inputText>

<!-- 							<p:outputLabel for="ativa" value="Status:" /> -->
<!-- 							<p:selectOneRadio id="ativa" required="true" value="#{consultaEntidadesBean.editEntidade.ativa}"> -->
<!-- 								<f:selectItem itemLabel="Ativa" itemValue="true" /> -->
<!-- 								<f:selectItem itemLabel="Inativa" itemValue="false" /> -->
<!-- 							</p:selectOneRadio> -->

							<p:outputLabel value="Telefone: " for="telefone" /> 
							<p:inputText id="telefone" required="false" value="#{consultaEntidadesBean.editEntidade.telefone}" maxlength="20" >
								<f:validateLength maximum="20"/>
							</p:inputText>
							
							<p:outputLabel value="Site: " for="site" />
							<p:inputText id="site" required="false" value="#{consultaEntidadesBean.editEntidade.site}" size="60" maxlength="200" >
								<f:validateLength maximum="200"/>
							</p:inputText>
							
							<p:outputLabel value="Endereço " for="endereco" />
							<p:inputTextarea id="endereco" required="false" value="#{consultaEntidadesBean.editEntidade.endereco}" maxlength="200" style="width:98%" >
								<f:validateLength maximum="200"/>
							</p:inputTextarea>
							
							<p:outputLabel value="Horario de atendimento " for="horario" />
							<p:inputText id="horario" required="false" value="#{consultaEntidadesBean.editEntidade.horario}" size="60" maxlength="100" >
								<f:validateLength maximum="100"/>
							</p:inputText>
							
							<p:commandLink class="botaoLink"  action="#{consultaEntidadesBean.editarEntidade()}" oncomplete="PF('editDialog').hide();" update="form:entidades">
								<h:outputText value="Salvar" />
								<i class="fa fa-check" style="color: white; padding-left: 3px" />
							</p:commandLink>

						</p:outputPanel>
					</h:form>
				</p:dialog>
				
				<p:dialog id="inativaDialog" widgetVar="inativaDialog" header="Inativar Órgão / Entidade"
					modal="true" showHeader="true" fitViewport="true" showEffect="fade"
					hideEffect="fade" resizable="false" maximizable="false" draggable="false" 
					closeOnEscape="true" style="padding: 0">
					
					<h:form styleClass="dialog">
						<h:panelGroup styleClass="column-nowrap justify-center" rendered="#{consultaEntidadesBean.qtdManifestacoesPendentes gt 0}">
							<h:panelGroup styleClass="row-wrap">
								<h:outputText value="#{consultaEntidadesBean.editEntidade.sigla}" style="font-weight:bold; margin: 0 .1em; color: #1a568c;"/>
								<h:outputText value=" possui " style="margin: 0 .5em"/>
								<h:outputText value="#{consultaEntidadesBean.qtdManifestacoesPendentes}" style="font-weight:bold; margin: 0 .1em; color: #1a568c;"/>
								<h:outputText value=" manifestações pendentes. É necessário tratar manifestações alocadas na entidade antes de inativa-la." style="margin: 0 .5em"/>
							</h:panelGroup>
							<p:commandLink class="botaoLink" onclick="PF('inativaDialog').hide();" style="margin-top: 1em;">
								<h:outputText value="OK" />
							</p:commandLink>
						</h:panelGroup>
						<h:panelGroup styleClass="column-nowrap" rendered="#{consultaEntidadesBean.qtdManifestacoesPendentes eq 0}">
							<h:panelGroup styleClass="inline">
								<h:outputText value="Tem certeza que deseja inativar o órgão/entidade " />
								<h:outputText value="#{consultaEntidadesBean.editEntidade.sigla}" style="font-weight:bold; margin: 0 .5em; color: #1a568c;"/>
								<h:outputText value="?" />
							</h:panelGroup>
							<h:panelGroup styleClass="row-nowrap justify-around">
								<p:commandLink id="confirmAtv" class="botaoLink" actionListener="#{consultaEntidadesBean.inativarEntidade()}"  oncomplete="PF('inativaDialog').hide();" update="form:entidades" style="margin-top: 1em; background: #c3f361 !important;">
									<h:outputText value="Sim" />
									<i class="fa fa-check" style="color: white; padding-left: 3px" />
								</p:commandLink>
								
								<p:commandLink class="botaoLink" id="cancelInat" oncomplete="PF('inativaDialog').hide();" style="margin-top: 1em; background: #ffb5ae !important;">
									<h:outputText value="Não" />
									<i class="fa fa-times" style="color: white; padding-left: 3px" />
								</p:commandLink>
							</h:panelGroup>
						</h:panelGroup>
					</h:form>
				</p:dialog>
				
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" >
					<h:panelGroup styleClass="row no-wrap justify-center">
			            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" oncomplete="PF('detalheDialog').hide();" icon="fa fa-check"/>
			            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no ui-button-flat" icon="fa fa-times" />
					</h:panelGroup>
		        </p:confirmDialog>
			

		</ui:define>
	</ui:composition>
</h:body>

</html>
