<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	

<h:body id="pageFull">
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h:panelGroup styleClass="ficha" style="max-width: 100%;">
			
				<h:panelGroup styleClass="inline" style="-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width: 100%;">
	
					<h:panelGroup styleClass="column" style="width:100%">
						<h:outputText value="Manifestações" styleClass="tituloBox" style="align-self:flex-start; margin:0; margin-left:5vw;" />
						<p:separator styleClass="separator2" style="align-self:flex-start;margin-left:5vw;" />
					</h:panelGroup>
					
					<h:form>
						<h:commandLink id="showBtn" styleClass="legendaButton justify-center" disabled="true">
							<i class="fa fa-question fa-2x" />
						</h:commandLink>
					
						<p:tooltip id="toolTipContent" for="showBtn" position="left" styleClass="legendaTooltip" style="height:auto;width: 600px; margin-right: 50px">
							<p style="font-weight: bold; text-align: center">Status das Manifestações</p>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #2196f3; margin-right: .5em; color: white !important">Aberta</span>
									Manifestação protocolada ainda pendente de atendimento pelo órgão/entidade demandado
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox tramitando" style="margin-right: .5em;">Tramitando</span>
									Manifestação protocolada já visualizada pelo órgão/entidade demandado
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox atendida" style="margin-right: .5em">Atendida</span>
									Manifestação atendida pelo órgão/entidade demandado aguardando manifestação	do requerente no prazo de 10 dias
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox reformulacao" style="margin-right: .5em;">Reformulação</span>
									Manifestação aguardando reformulação do manifestante.
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox reencaminhada"	style="margin-right: .5em;">Reencaminhada</span>
									Manifestação redirecionada a outro órgão/entidade por ausência de competência do demandado
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #d30e03; margin-right: .5em; color: white !important">Negada</span>
									Manifestação com justificativa legal para não atendimento
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #824fbf; margin-right: .5em; color: white !important">Prorrogada</span>
									Manifestação houve pedido de prorrogação do prazo de 10 dias encaminhado ao requerente
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #eab90f; margin-right: .5em; color: white !important">Recurso</span>
									Manifestação aguardando atendimento de recurso apresentado pelo requerente
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #858f9c; margin-right: .5em; color: white !important">Finalizada</span>
									Manifestação atendida pelo órgão/entidade demandado, cujo prazo para recurso foi expirado sem manifestação do requerente
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox" style="background: #e77b40; margin-right: .5em; color: white !important">Sem Resposta</span>
									Manifestação finalizada automaticamente pelo sistema quando houver ausência de resposta ou prorrogação no prazo	legal
								</p>
							</h:panelGroup>
						</p:tooltip>
					</h:form>
	
				</h:panelGroup>
				
				<h:form id="dashboardForm" rendered="#{consultaManifestacaoBean.perfilLogado ne 'cidadao'}" styleClass="row-nowrap" style="margin-bottom: 1.5em">
					<p:commandLink class="refreshDashboardBtn" actionListener="#{consultaManifestacaoBean.refreshDashboard()}" update="seletorFiltro">
						<i class="fa fa-refresh" />
					</p:commandLink>
					<h:panelGroup id="seletorFiltro" styleClass="seletorFiltro row-nowrap justify-around">
						<p:commandLink actionListener="#{consultaManifestacaoBean.reloadManifestacoes(0)}" update="seletorFiltro tableForm:manifestacoesTable"  >
							<h:panelGroup styleClass="column-nowrap justify-between items-center dashboardBox dashboardTotal #{consultaManifestacaoBean.filtro eq 0 ? 'filtroAtivo filtroTotal' : ''}">
								<h:outputText value="Todas" styleClass="titulo"/>
								<h:outputText value="#{consultaManifestacaoBean.dashboard.total}" styleClass="valor"/>
							</h:panelGroup>
						</p:commandLink>
						<p:commandLink actionListener="#{consultaManifestacaoBean.reloadManifestacoes(1)}" ajax="true" update="seletorFiltro tableForm:manifestacoesTable"  >
							<h:panelGroup styleClass="column-nowrap justify-between items-center dashboardBox dashboardVencendo #{consultaManifestacaoBean.filtro eq 1 ? 'filtroAtivo filtroVencendo' : ''}">
								<h:outputText value="Vencendo" styleClass="titulo"/>
								<h:outputText value="#{consultaManifestacaoBean.dashboard.vencendo}" styleClass="valor"/>
							</h:panelGroup>
						</p:commandLink>
						<p:commandLink actionListener="#{consultaManifestacaoBean.reloadManifestacoes(2)}" ajax="true" update="seletorFiltro tableForm:manifestacoesTable"  >
							<h:panelGroup styleClass="column-nowrap justify-between items-center dashboardBox dashboardNaoVisualizadas #{consultaManifestacaoBean.filtro eq 2 ? 'filtroAtivo filtroNaoVisualizadas' : ''}">
								<h:outputText value="Não Visualizadas" styleClass="titulo"/>
								<h:outputText value="#{consultaManifestacaoBean.dashboard.naoVisualizadas}" styleClass="valor"/>
							</h:panelGroup>
						</p:commandLink>
						<p:commandLink actionListener="#{consultaManifestacaoBean.reloadManifestacoes(3)}" ajax="true" update="seletorFiltro tableForm:manifestacoesTable" rendered="#{consultaManifestacaoBean.perfilLogado eq 'coordenadorOGE' or consultaManifestacaoBean.perfilLogado eq 'ouvidorGeral' or consultaManifestacaoBean.perfilLogado eq 'admin'}">
							<h:panelGroup styleClass="column-nowrap justify-between items-center dashboardBox dashboardInativas #{consultaManifestacaoBean.filtro eq 3 ? 'filtroAtivo filtroInativas' : ''}">
								<h:outputText value="Inativas" styleClass="titulo"/>
								<h:outputText value="#{consultaManifestacaoBean.dashboard.inativas}"  styleClass="valor"/>
							</h:panelGroup>
						</p:commandLink>
					</h:panelGroup>
					<p:commandLink id="toggleDashboardBtn" styleClass="accordionBtn" onclick="toggleDashboard()" >
						<i class="fa fa-chevron-up" />
					</p:commandLink>
				</h:form>
				
				<h:form id="tableForm" style="width: 100%;">
					<p:dataTable id="manifestacoesTable" value="#{consultaManifestacaoBean.dataModel}" widgetVar="maniWidget" var="manifestacao" lazy="true"
					sortBy="#{manifestacao.dataIni}" sortOrder="descending" resizableColumns="true" liveResize="true" reflow="true" emptyMessage="Nao há manifestações"
					paginator="true" rows="50" rowsPerPageTemplate="10,50,100,500" currentPageReportTemplate="(Página {currentPage} de {totalPages})"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					scrollable="true" scrollWidth="100%" filterDelay="800" filterEvent="enter">
						
						<f:facet name="header">
				            <div class="items-end justify-end">				
				                <div>
				                    <p:commandButton id="toggler" type="button" value="Colunas" style="background: #083571; color: white;" icon="fa fa-columns"/>
				                    <p:columnToggler datasource="manifestacoesTable" trigger="toggler"/>
				                </div>
				            </div>
				        </f:facet>
        
						<p:column ariaHeaderText="Icones" width="20" toggleable="false"	style="text-align:center;">
							<h:panelGroup id="iconDenuncia"	rendered="#{manifestacao.tipo eq 'Denúncia'}">
								<i class="fa fa-exclamation-circle" />
							</h:panelGroup>
							<p:tooltip for="iconDenuncia" value="Denúncia" position="right" />
							<h:panelGroup id="iconInfo"	rendered="#{manifestacao.tipo eq 'Informação'}">
								<i class="fa fa-info" />
							</h:panelGroup>
							<p:tooltip for="iconInfo" value="Pedido de Informação" position="right" />
							<h:panelGroup id="iconSol" rendered="#{manifestacao.tipo eq 'Solicitação'}">
								<i class="fa fa-hand-o-up" />
							</h:panelGroup>
							<p:tooltip for="iconSol" value="Solicitação" position="right" />
							<h:panelGroup id="iconElogio" rendered="#{manifestacao.tipo eq 'Elogio'}">
								<i class="fa fa-thumbs-o-up" />
							</h:panelGroup>
							<p:tooltip for="iconElogio" value="Elogio" position="right" />
							<h:panelGroup id="iconSugestao" rendered="#{manifestacao.tipo eq 'Sugestão'}">
								<i class="fa fa-comments" />
							</h:panelGroup>
							<p:tooltip for="iconSugestao" value="Sugestão" position="right" />
							<h:panelGroup id="iconReclama" rendered="#{manifestacao.tipo eq 'Reclamação'}">
								<i class="fa fa-thumbs-o-down" />
							</h:panelGroup>
							<p:tooltip for="iconReclama" value="Reclamação" position="right" />
						</p:column>
		
						<p:column headerText="Protocolo" toggleable="false" width="80" sortBy="#{manifestacao.protocolo}" filterBy="#{manifestacao.protocolo}" filterMatchMode="contains" filterable="true">
							<h:outputText value="#{manifestacao.protocolo}" />
						</p:column>
		
						<p:column headerText="Tipo" width="85" sortBy="#{manifestacao.tipo}" filterBy="#{manifestacao.tipo}" filterMatchMode="contains" >
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('maniWidget').filter()" style="width: -webkit-fill-available;width: -moz-available;width: fill-available;">
									<f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
									<f:selectItem itemLabel="Informação" itemValue="Informação" />
									<f:selectItem itemLabel="Sugestão" itemValue="Sugestão" />
									<f:selectItem itemLabel="Denúncia" itemValue="Denúncia" />
									<f:selectItem itemLabel="Reclamação" itemValue="Reclamação" />
									<f:selectItem itemLabel="Elogio" itemValue="Elogio" />
									<f:selectItem itemLabel="Solicitação" itemValue="Solicitação" />
								</p:selectOneMenu>
							</f:facet>
								<h:outputText value="#{manifestacao.tipo}" />
						</p:column>
		
						<p:column headerText="Órgão" width="100" sortBy="#{manifestacao.entidade.sigla}" filterBy="#{manifestacao.entidade.sigla}" filterMatchMode="exact" filterable="true" >
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('maniWidget').filter()" filter="true" filterMatchMode="contains" rendered="#{loginBean.perfilLogado eq 'cidadao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin' or loginBean.responsavel.entidade.idEntidade eq 116}" style="width: -webkit-fill-available;width: -moz-available;width: fill-available;">
									<f:selectItem itemLabel="Todos" itemValue="" noSelectionOption="true"/>
									<f:selectItems value="#{consultaManifestacaoBean.listEntidades}" var="orgao" itemLabel="#{orgao.sigla}" itemValue="#{orgao.sigla}"/>
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{manifestacao.entidade.sigla}" />
						</p:column>
		
						<p:column headerText="Tema" sortBy="#{manifestacao.tema.titulo}" width="100" filterBy="#{manifestacao.tema.titulo}"  filterMatchMode="contains" filterable="true">
							<h:outputText value="#{manifestacao.tema.titulo}" />
						</p:column>
		
						<p:column headerText="Assunto" sortBy="#{manifestacao.titulo}" width="100" filterBy="#{manifestacao.titulo}" filterMatchMode="contains" filterable="true" >
							<h:outputText value="#{manifestacao.titulo}" />
						</p:column>
						
						<p:column headerText="Protocolo Externo" width="150" sortBy="#{manifestacao.protocoloAgrese}" filterBy="#{manifestacao.protocoloAgrese}" filterMatchMode="contains" filterable="true" visible="#{loginBean.responsavel.entidade.sigla eq 'AGRESE'}" rendered="#{loginBean.perfilLogado eq 'OuvidorGeral' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.responsavel.entidade.sigla eq 'AGRESE'}">
							<h:outputText value="#{manifestacao.protocoloAgrese}" rendered="#{manifestacao.protocoloAgrese ne null}"/>
							<h:outputText value=" ----------- " style="color: #c0c0c0;" rendered="#{manifestacao.protocoloAgrese eq null}" />
						</p:column>
		
						<p:column headerText="Data inicial" sortBy="#{manifestacao.dataIni}" width="100" style="text-align:center" filterBy="#{manifestacao.dataIni}" filterMatchMode="exact" filterable="true">
							<f:facet name="filter">
								<p:calendar pattern="dd/MM/yyyy" widgetVar="dataIniCal" size="10">
							    	<p:ajax event="dateSelect" oncomplete="PF('maniWidget').filter()"/>
							    </p:calendar>
							</f:facet>
							<h:outputText value="#{manifestacao.dataIni}">
								<f:convertDateTime pattern="dd/MM/yyyy" dateStyle="date" />
							</h:outputText>
						</p:column>
		
						<p:column headerText="Data limite" sortBy="#{manifestacao.dataLimite}" width="100" style="text-align:center" filterBy="#{manifestacao.dataLimite}" filterMatchMode="exact" filterable="true">
							<f:facet name="filter">
								<p:calendar pattern="dd/MM/yyyy" size="10">
							    	<p:ajax event="dateSelect" oncomplete="PF('maniWidget').filter()"/>
							    </p:calendar>
							</f:facet>
							<h:outputText value="#{manifestacao.dataLimite}" rendered="#{manifestacao.dataLimite ne null}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
							<h:outputText value=" ----------- " style="color: #c0c0c0;" rendered="#{manifestacao.dataLimite eq null}" />
						</p:column>
		
						<p:column headerText="Data final" sortBy="#{manifestacao.datafim}" width="100" style="text-align:center" visible="false" filterBy="#{manifestacao.datafim}" filterMatchMode="exact" filterable="true">
							<f:facet name="filter">
								<p:calendar pattern="dd/MM/yyyy" size="10">
							    	<p:ajax event="dateSelect" oncomplete="PF('maniWidget').filter()"/>
							    </p:calendar>
							</f:facet>
							<h:outputText value=" ----------- " rendered="#{manifestacao.datafim eq null}" style="color: #c0c0c0;" />
							<h:outputText value="#{manifestacao.datafim}" rendered="#{manifestacao.datafim ne null}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
		
						<p:column headerText="Manifestante" width="150" sortBy="#{manifestacao.cidadao.usuario.nome}" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}" 
							filterBy="#{manifestacao.cidadao.usuario.nome}" filterMatchMode="contains" filterable="true" visible="false">
							<h:outputText value="#{manifestacao.cidadao.usuario.nome}" rendered="#{manifestacao.sigilo ne '1' or (manifestacao.sigilo eq '1' and (loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'))}"/>
							<h:outputText value="(Sigiloso)" rendered="#{manifestacao.sigilo eq '1'}" />
						</p:column>
		
						<p:column headerText="Status" width="120" sortBy="#{manifestacao.status}" groupRow="false" style="text-align: center" filterBy="#{manifestacao.status}" filterMatchMode="exact" filterable="true" >
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('maniWidget').filter()" style="width: -webkit-fill-available;width: -moz-available;width: fill-available;">
									<f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
									<f:selectItem itemLabel="Aberta" itemValue="Aberta" />
									<f:selectItem itemLabel="Tramitando" itemValue="Tramitando"/>
									<f:selectItem itemLabel="Atendida" itemValue="Atendida" />
									<f:selectItem itemLabel="Finalizada" itemValue="Finalizada" />
									<f:selectItem itemLabel="Negada" itemValue="Negada" />
									<f:selectItem itemLabel="Prorrogada" itemValue="Prorrogada" />
									<f:selectItem itemLabel="Recurso" itemValue="Recurso" />
									<f:selectItem itemLabel="Sem Resposta" itemValue="Sem Resposta" />
									<f:selectItem itemLabel="Reformulação" itemValue="Reformulação" />
									<f:selectItem itemLabel="Reencaminhada" itemValue="Reencaminhada" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText id="statusAberta" value="Aberta" styleClass="statusBox aberta" rendered="#{manifestacao.status eq 'Aberta'}" />
							<h:outputText id="statusTramitando" value="Tramitando" styleClass="statusBox tramitando" rendered="#{manifestacao.status eq 'Tramitando'}" />
							<h:outputText id="statusAtendida" value="Atendida" styleClass="statusBox atendida" rendered="#{manifestacao.status eq 'Atendida'}" />
							<h:outputText id="statusFinal" value="Finalizada" styleClass="statusBox finalizada"	rendered="#{manifestacao.status eq 'Finalizada'}" />
							<h:outputText id="statusReenc" value="Reencaminhada" styleClass="statusBox reencaminhada" rendered="#{manifestacao.status eq 'Reencaminhada'}" />
							<h:outputText id="statusNegada" value="Negada" styleClass="statusBox negada" rendered="#{manifestacao.status eq 'Negada'}" />
							<h:outputText id="statusProrro" value="Prorrogada" styleClass="statusBox prorrogada" rendered="#{manifestacao.status eq 'Prorrogada'}" />
							<h:outputText id="statusRecurso" value="Recurso" styleClass="statusBox recurso" rendered="#{manifestacao.status eq 'Recurso'}" />
							<h:outputText id="statusSemResp" value="Sem Resposta" styleClass="statusBox semResposta" rendered="#{manifestacao.status eq 'Sem Resposta'}" />
							<h:outputText id="statusReformulacao" value="Reformulação" styleClass="statusBox reformulacao" rendered="#{manifestacao.status eq 'Reformulação'}" />
							
							<!-- TOOL-TIPS -->
							<p:tooltip for="statusAberta" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Aberta'}">
								<p>Manifestação protocolada ainda pendente de leitura pelo órgão/entidade demandado</p>
							</p:tooltip>
							<p:tooltip for="statusTramitando" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Tramitando'}">
								<p>Manifestação protocolada já visualizada pelo	órgão/entidade demandado</p>
							</p:tooltip>
							<p:tooltip for="statusAtendida" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Atendida'}">
								<p>Manifestação atendida pelo órgão/entidade demandado aguardando manifestação do requerente no prazo de 10 dias</p>
							</p:tooltip>
							<p:tooltip for="statusReformulacao" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Reformulação'}">
								<p>Manifestação aguardando reformulação do manifestante.</p>
							</p:tooltip>
							<p:tooltip for="statusReenc" position="bottom"
								style="width: 700px"
								rendered="#{slt.status eq 'Reencaminhada'}">
								<p>Manifestação redirecionada a outro órgão/entidade por ausência de competência do demandado</p>
							</p:tooltip>
							<p:tooltip for="statusNegada" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Negada'}">
								<p>Manifestação com justificativa legal para não atendimento</p>
							</p:tooltip>
							<p:tooltip for="statusProrro" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Prorrogada'}">
								<p>Manifestação houve pedido de prorrogação do prazo encaminhado ao requerente</p>
							</p:tooltip>
							<p:tooltip for="statusRecurso" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Recurso'}">
								<p>Manifestação aguardando atendimento de recurso apresentado pelo requerente</p>
							</p:tooltip>
							<p:tooltip for="statusFinal" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Finalizada'}">
								<p>Manifestação atendida pelo órgão/entidade demandado e de prazo encerrado pelo sistema</p>
							</p:tooltip>
							<p:tooltip for="statusSemResp" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Sem Resposta'}">
								<p>Manifestação finalizada automaticamente pelo sistema
									quando houver ausência de resposta ou prorrogação no prazo
									legal</p>
							</p:tooltip>
						</p:column>
						
						<p:column id="detalheCol" width="30" style="width:25px;padding:0" toggleable="false" rendered="#{loginBean.perfilLogado ne 'usciOrgao'}">
							<p:commandLink class="botaoLinkIcon" actionListener="#{consultaManifestacaoBean.abrirManifestacao(manifestacao)}" update="solicitacaoDetalhe growl">
								<i class="fa fa-search" />
							</p:commandLink>
						</p:column>
							
					</p:dataTable>
					
				</h:form>
				
			</h:panelGroup>	
			
			
<!-- ================================================================================================================================== -->
<!-- =================================================	DIALOG DETALHE MANIFESTAÇÃO	 ================================================== -->
<!-- ================================================================================================================================== -->
			<p:remoteCommand name="updateTable" update="tableForm:manifestacoesTable" />
				
			<p:dialog widgetVar="detalheDialog" id="detalheDialog" modal="true"
				fitViewport="true" showEffect="fade" hideEffect="fade"
				resizable="false" maximizable="false" draggable="false"
				onHide="updateTable()"
				closeOnEscape="true" styleClass="solicitacaoDialog" dynamic="true">

				<p:outputPanel id="solicitacaoDetalhe" style="display:flex; flex-flow: row; overflow-x: hidden;">
				
					<h:panelGroup id="conteudo" style="padding: 10px">
						
						<p:tabView style="margin-bottom:10px">
      						<p:tab title="Manifestação">
      							<f:facet name="title">
					            	<i class="fa fa-list-alt"/>
					            </f:facet>
      							
								<h:panelGroup styleClass="inline" style="width: 100%">
									<p:panelGrid columns="2" layout="grid" style="border: none; width: 50%;">
		
										<h:outputText value="Protocolo:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.protocolo}" />
		
										<h:outputText value="Tema:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.tema.titulo}" />
		
										<h:outputText value="Assunto:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.titulo}" />
										
										<h:outputText value="Protocolo Externo:" style="color:#1a568c; font-size:18px" rendered="#{consultaManifestacaoBean.maniDetalhe.protocoloAgrese ne null}"/>
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.protocoloAgrese}" rendered="#{consultaManifestacaoBean.maniDetalhe.protocoloAgrese ne null}"/>
		
										<h:outputText value="Órgão / Entidade:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.entidade.sigla} - #{consultaManifestacaoBean.maniDetalhe.entidade.nome}" />
		
									</p:panelGrid>
		
									<p:panelGrid columns="2" layout="grid" style="border: none; width: 50%;">
		
										<h:outputText value="Tipo de manifestação:"	style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.tipo}" rendered="#{!(consultaManifestacaoBean.maniDetalhe.tipo eq 'Denúncia' and consultaManifestacaoBean.maniDetalhe.sigilo eq '2') and consultaManifestacaoBean.maniDetalhe.tipo ne 'Informação'}" />
										<h:outputText value="Informação (e-SIC)" rendered="#{consultaManifestacaoBean.maniDetalhe.tipo eq 'Informação'}" />
										<h:outputText value="Denúncia Sigilosa"	rendered="#{consultaManifestacaoBean.maniDetalhe.tipo eq 'Denúncia' and consultaManifestacaoBean.maniDetalhe.sigilo eq '2'}" />
		
										<h:outputText value="Status:" style="color:#1a568c; font-size:18px"	/>
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.status}" />
		
										<h:outputText value="Instancia:" style="color:#1a568c; font-size:18px" rendered="#{consultaManifestacaoBean.maniDetalhe.tipo ne 'Denúncia' and consultaManifestacaoBean.maniDetalhe.instancia ne '0'}" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.instancia}ª instância" rendered="#{consultaManifestacaoBean.maniDetalhe.tipo ne 'Denúncia' and consultaManifestacaoBean.maniDetalhe.instancia ne '0'}" />
		
										<h:outputText value="Data Inicial:"	style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.dataIni}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
		
										<h:outputText value="Data Limite de Resposta:" style="color:#1a568c; font-size:18px" rendered="#{consultaManifestacaoBean.maniDetalhe.status ne 'Finalizada' and consultaManifestacaoBean.maniDetalhe.status ne 'Sem resposta'}" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.dataLimite}" rendered="#{consultaManifestacaoBean.maniDetalhe.status ne 'Finalizada' and consultaManifestacaoBean.maniDetalhe.status ne 'Sem resposta'}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
		
										<h:outputText value="Data Fim:" style="color:#1a568c; font-size:18px" rendered="#{consultaManifestacaoBean.maniDetalhe.datafim ne null}" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.datafim}" rendered="#{consultaManifestacaoBean.maniDetalhe.datafim ne null}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
		
										<h:outputText value="Nota:"	style="color:#1a568c; font-size:18px" rendered="#{consultaManifestacaoBean.maniDetalhe.avaliacao ne null}" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.avaliacao}" rendered="#{consultaManifestacaoBean.maniDetalhe.avaliacao ne null}" />
										
										<h:outputText value="Atendente:"	style="color:#1a568c; font-size:18px" rendered="#{(loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral') and (consultaManifestacaoBean.maniDetalhe.responsavel ne null)}" />
										<h:outputText value="#{consultaManifestacaoBean.maniDetalhe.responsavel.usuario.nome}" rendered="#{(loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral') and (consultaManifestacaoBean.maniDetalhe.responsavel ne null)}" />
		
									</p:panelGrid>
								</h:panelGroup>
							</p:tab>
							<p:tab title="Manifestante" rendered="#{consultaManifestacaoBean.maniDetalhe.sigilo ne '1' or (consultaManifestacaoBean.maniDetalhe.sigilo eq '1' and (loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral')) or loginBean.perfilLogado eq 'cidadao'}">
								<f:facet name="title">
					            	<i class="fa fa-user"/>
					            </f:facet>
					            
					            <h:panelGroup styleClass="inline" style="width: 100%">
						            <p:panelGrid columns="2" layout="grid" style="border: none; width: 50%;">
							            <h:outputText value="Manifestante:" style="color:#1a568c; font-size:18px" />
							            <h:panelGroup styleClass="inline">
								            <h:outputText value="#{consultaManifestacaoBean.maniDetalhe.cidadao.usuario.nome}" rendered="#{consultaManifestacaoBean.maniDetalhe.sigilo ne '1' or (consultaManifestacaoBean.maniDetalhe.sigilo eq '1' and (usuario.responsavelOuvidorGeral or usuario.responsavelCoordenadorOGE)) or usuario.usuarioCidadao}"/>
											<h:outputText value="(Sigilo)" rendered="#{consultaManifestacaoBean.maniDetalhe.sigilo eq '1'}" style="margin-left:.5em; font-weight:bold; color:#c02222" />
							            </h:panelGroup>
							            
							            <h:outputText value="Email:" style="color:#1a568c; font-size:18px" rendered="#{consultaManifestacaoBean.maniDetalhe.cidadao.email ne null and consultaManifestacaoBean.maniDetalhe.cidadao.email ne ''}"/>
							            <h:outputText value="#{consultaManifestacaoBean.maniDetalhe.cidadao.email}" />
							            
							            <h:outputText value="Telefone:" style="color:#1a568c; font-size:18px" rendered="#{(consultaManifestacaoBean.maniDetalhe.cidadao.celular ne null and consultaManifestacaoBean.maniDetalhe.cidadao.celular ne '') or (consultaManifestacaoBean.maniDetalhe.cidadao.telefone ne null and consultaManifestacaoBean.maniDetalhe.cidadao.telefone ne '')}"/>
							            <h:panelGroup styleClass="column">
								            <h:outputText value="#{consultaManifestacaoBean.maniDetalhe.cidadao.celular}" />
								            <h:outputText value="#{consultaManifestacaoBean.maniDetalhe.cidadao.telefone}" />
							            </h:panelGroup>
									</p:panelGrid>
								</h:panelGroup>
							</p:tab>
						</p:tabView>
						
						<h:form>
							<h:panelGroup style="display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;widht:100%;">
								<p:commandLink actionListener="#{printManifestacao.imprimirManifestacao(consultaManifestacaoBean.maniDetalhe)}" ajax="false" styleClass="botaoLinkIcon" style="padding:.5em;display: -webkit-box;display: -ms-flexbox;display: flex;width: -webkit-fit-content;width: -moz-fit-content;width: fit-content">
									<p:fileDownload value="#{printManifestacao.file}" />
									<i class="fa fa-file-pdf-o"/>
									<h:outputText value="Imprimir" style="margin-left:10px" />
								</p:commandLink>
							</h:panelGroup>
						</h:form>
						
						<p:tabView id="msgTab" dynamic="true">
							<p:tab title="Mensagens">

								<p:dataList value="#{consultaManifestacaoBean.maniDetalhe.mensagens}" var="msg" type="definition" styleClass="consultaDatalist" rendered="true">
									<p:outputPanel style="margin-top: 1vw;" rendered="#{msg.texto ne '' or (msg.texto eq '' and msg.tipo ne 6)}">
										<h:panelGroup styleClass="mensagem">
											<h:outputText value="#{msg.usuario.nome}" style="color:#1a568c" />
											<h:outputText value="#{msg.data}" style="color:#1a568c">
												<f:convertDateTime pattern="d/M/yy - HH:mm" />
											</h:outputText>
										</h:panelGroup>

										<h:outputText value="#{msg.texto}" style="margin-left:1vw; white-space: pre-wrap;" />
										
										<h:form rendered="#{not empty msg.anexos}" style="margin: 1vh 0 0 5vw;">
											<h:outputText rendered="#{!consultaManifestacaoBean.liberarAnexo}" value="Anexos temporariamente indisponíveis. Tente novamente mais tarde." style="color:red"/>
											<p style="font-weight:bold">Anexos:</p>
										    <p:dataTable var="anx" value="#{msg.anexos}" emptyMessage="Não há arquivos anexados" styleClass="anexoListTable" style="width:50%;">
												<p:column width="25">
													<h:panelGroup rendered="#{anx.tipo eq 'jpeg' or anx.tipo eq 'jpg' or anx.tipo eq 'png'}">
														<i class="fa fa-file-image-o"/>
													</h:panelGroup>
													<h:panelGroup rendered="#{anx.tipo eq 'doc' or anx.tipo eq 'docx' or anx.tipo eq 'docm'}">
														<i class="fa fa-file-word-o"/>
													</h:panelGroup>
													<h:panelGroup rendered="#{anx.tipo eq 'txt'}">
														<i class="fa fa-file-text-o"/>
													</h:panelGroup>
													<h:panelGroup rendered="#{anx.tipo eq 'pdf'}">
														<i class="fa fa-file-pdf-o"/>
													</h:panelGroup>
													<h:panelGroup rendered="#{anx.tipo eq 'zip' or anx.tipo eq 'rar'}">
														<i class="fa fa-file-zip-o"/>
													</h:panelGroup>
												</p:column>
												<p:column>
													<h:outputLink value="#{anx.local}" target="_blank" a:download="#{anx.local}" disabled="#{!consultaManifestacaoBean.liberarAnexo}">
														#{anx.nome}
													</h:outputLink>
												</p:column>
												<p:column width="60" >
													<h:outputText value="#{consultaManifestacaoBean.anexoSizeMB(anx.tamanho)}" />
												</p:column>
											</p:dataTable>
										</h:form>
										
									</p:outputPanel>
								</p:dataList>

							</p:tab>

							<p:tab title="Histórico" id="historicoTab">

								<p:dataList id="historicoDataList" value="#{consultaManifestacaoBean.maniDetalhe.historico}" var="msg" type="definition" styleClass="consultaDatalist" rendered="true" emptyMessage="Não há mensagens nesta aba">
									<p:outputPanel style="margin-top: 1vw;">
										<div class="mensagem">
											<h:outputText value="#{msg.usuario.nome}"
												style="color:#1a568c" />
											<h:outputText value="#{msg.data}" style="color:#1a568c">
												<f:convertDateTime pattern="d/M/yy - HH:mm" />
											</h:outputText>
										</div>
										<h:outputText value="#{msg.texto}" style="margin-left:1vw" />

									</p:outputPanel>
								</p:dataList>


							</p:tab>
							<p:tab title="Trâmite Interno" rendered="#{loginBean.perfilLogado ne 'cidadao'}">

								<p:dataList value="#{consultaManifestacaoBean.maniDetalhe.tramites}" var="msg" type="definition" styleClass="consultaDatalist" rendered="true" emptyMessage="Não há mensagens nesta aba">
									<p:outputPanel style="margin-top: 1vw;">
										<div class="mensagem">
											<h:outputText value="#{msg.usuario.nome}" style="color:#1a568c" />
											<h:outputText value="#{msg.data}" style="color:#1a568c">
												<f:convertDateTime pattern="d/M/yy - HH:mm" />
											</h:outputText>
										</div>
										<h:outputText value="#{msg.texto}" style="margin-left:1vw" />

									</p:outputPanel>
								</p:dataList>

							</p:tab>
						</p:tabView>
						
						<h:form>
							<div id="Resposta" class="box aba" style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Mensagem de Resposta:" for="mensagem" />
								<p:inputTextarea id="mensagem"
									value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10" 
									autoResize="false" required="true" counter="respCount" 
									maxlength="5000" counterTemplate="{0} caracteres restantes." 
									styleClass="abaField respostaField" style="width:100%">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="respCount" style="margin-bottom:1em" />
								
								<h:outputText rendered="#{!consultaManifestacaoBean.liberarAnexo}" value="Anexos temporariamente indisponíveis. Tente novamente mais tarde." style="color:red"/>
								<p:dataTable id="anexoTable" var="anx" value="#{consultaManifestacaoBean.anexosList}" emptyMessage="Não há arquivos anexados" style="width:100%;">
									<p:column headerText="Arquivo">
										<h:outputText value="#{anx.nome}" />
									</p:column>
									<p:column headerText="Tamanho" width="150">
										<h:outputText value="#{consultaManifestacaoBean.anexoSizeMB(anx.tamanho)}" />
									</p:column>
									<p:column width="50">
										<p:commandLink class="botaoLinkIcon" process="@this" ajax="true" update="anexoTable growl" actionListener="#{consultaManifestacaoBean.removerAnexo(anx)}">
											<i class="fa fa-trash" />
										</p:commandLink>
									</p:column>
								</p:dataTable>
								<h:outputText value="O tamanho de cada arquivo não deve exceder 15 MB" style="font-size:.8em; margin-bottom:1em; color:gray" />
								
								<p:fileUpload label="Adicionar arquivo" mode="advanced" auto="true" fileUploadListener="#{consultaManifestacaoBean.fileUploadListener}" update="anexoTable growl" disabled="#{!consultaManifestacaoBean.liberarAnexo}"/>
								
								<p:commandLink class="botaoLink" action="#{consultaManifestacaoBean.responder()}" onsuccess="PF('detalheDialog').hide();" style="margin-top: 5px" update="growl">
									<h:outputText value="Enviar" />
									<i class="fa fa-arrow-up" style="margin-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>

						<h:form>
							<div id="SolReformula" class="box aba" style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Justificativa da reformulação:" for="solReformula" style="margin-bottom: 5px" />
								<p:inputTextarea id="solReformula" value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10" required="true" autoResize="false" counter="solReforCount" maxlength="5000" counterTemplate="{0} caracteres restantes." style="max-width:100%" styleClass="abaField solReformulaField">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="solReforCount" />

								<p:commandLink class="botaoLink" action="#{consultaManifestacaoBean.solicitarReformulacao()}" style="margin-top: 5px" update="growl" oncomplete="PF('detalheDialog').hide();">
									<h:outputText value="Enviar" />
									<i class="fa fa-arrow-up" style="margin-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>
								
						<h:form>
							<div id="Reformula" class="box aba"
								style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Reformulação:" for="Reformula" style="margin-bottom: 5px" />
								<p:inputTextarea id="Reformula"	value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10" required="true" counter="reforCount" maxlength="5000" counterTemplate="{0} caracteres restantes." style="width:99%" styleClass="abaField ReformulaField">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="reforCount" style="margin-bottom:1em" />
								
								<h:outputText rendered="#{!consultaManifestacaoBean.liberarAnexo}" value="Anexos temporariamente indisponíveis. Tente novamente mais tarde." style="color:red"/>
								<p:dataTable id="anexoTable" var="anx" value="#{consultaManifestacaoBean.anexosList}" emptyMessage="Não há arquivos anexados" style="width:100%;">
									<p:column headerText="" width="25">
										<h:panelGroup rendered="#{anx.formato eq 'image/jpeg' or anx.formato eq 'image/jpg' or anx.formato eq 'image/png'}">
											<i class="fa fa-file-image-o" />
										</h:panelGroup>
									</p:column>
									<p:column headerText="Arquivo">
										<h:outputText value="#{anx.nome}" />
									</p:column>
									<p:column headerText="Tamanho" width="150">
										<h:outputText value="#{consultaManifestacaoBean.anexoSizeMB(anx.tamanho)}" />
									</p:column>
									<p:column width="50">
										<p:commandLink class="botaoLinkIcon" process="@this" ajax="true" update="anexoTable growl" actionListener="#{consultaManifestacaoBean.removerAnexo(anx)}">
											<i class="fa fa-trash" />
										</p:commandLink>
									</p:column>
								</p:dataTable>
								<h:outputText value="O tamanho de cada arquivo não deve exceder 15 MB" style="font-size:.8em; margin-bottom:1em; color:gray" />
								
								<p:fileUpload label="Adicionar arquivo" mode="advanced" auto="true" fileUploadListener="#{consultaManifestacaoBean.fileUploadListener}" update="anexoTable growl" disabled="#{!consultaManifestacaoBean.liberarAnexo}"/>
								
								<p:commandLink class="botaoLink" action="#{consultaManifestacaoBean.reformular()}" onsuccess="PF('detalheDialog').hide();" style="margin-top: 5px" update="growl">
									<h:outputText value="Enviar" />
									<i class="fa fa-arrow-up" style="margin-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>

						<h:form>
							<div id="Mudar" class="box aba"	style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Alterar Tipo da Manifestação:" style="font-weight:bold"/>
								
								<p:outputLabel for="tipoSlt" value="Selecione o tipo:" />
								<p:selectOneMenu id="tipoSlt" value="#{consultaManifestacaoBean.tipoSelecionado}" styleClass="abaField mudarField">
									<f:selectItem itemLabel="Pedido de Informação" itemValue="Informação" />
									<f:selectItem itemLabel="Solicitação" itemValue="Solicitação" />
									<f:selectItem itemLabel="Sugestão" itemValue="Sugestão" />
									<f:selectItem itemLabel="Reclamação" itemValue="Reclamação" />
									<f:selectItem itemLabel="Elogio" itemValue="Elogio" />
									<f:selectItem itemLabel="Denúncia" itemValue="Denúncia" />
								</p:selectOneMenu>

								<p:outputLabel value="Justificativa:" for="justMuda" style="margin-bottom: 5px" />
								<p:inputTextarea id="justMuda"
									value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10"
									required="true" counter="mudarCount" maxlength="5000" autoResize="false"
									counterTemplate="{0} caracteres restantes." style="width:99%"
									styleClass="abaField mudarField">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="mudarCount" />

								<p:commandLink class="botaoLink" action="#{consultaManifestacaoBean.alterarTipo()}" style="margin-top: 5px" update="growl" oncomplete="PF('detalheDialog').hide();">
									<h:outputText value="Enviar" />
									<i class="fa fa-arrow-up" style="margin-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>

						<h:form>
							<div id="Negar" class="box aba"
								style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Justificativa da negação:" for="justNega"/>
								<p:inputTextarea id="justNega"
									value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10" required="true"
									counter="negaCount" maxlength="5000" autoResize="false"
									counterTemplate="{0} caracteres restantes." style="width:100%"
									styleClass="abaField negarField">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="negaCount" />

								<p:commandLink class="botaoLink" action="#{consultaManifestacaoBean.negar()}" style="margin-top: 5px" update="growl" oncomplete="PF('detalheDialog').hide();">
									<h:outputText value="Enviar" />
									<i class="fa fa-arrow-up" style="margin-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>

						<h:form>
							<div id="Prorrogar" class="box aba"
								style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Justificativa da prorrogação:" for="descr" />
								<p:inputTextarea id="descr"
									value="#{consultaManifestacaoBean.mensagem_1}"
									styleClass="abaField prorrogarField" cols="100" rows="10"
									required="true" counter="proCount" maxlength="3000"
									counterTemplate="{0} caracteres restantes." style="width: 98%">
									<f:validateLength maximum="3000" />
								</p:inputTextarea>
								<h:outputText id="proCount" />

								<p:commandLink class="botaoLink" action="#{consultaManifestacaoBean.prorrogar()}" style="margin-top:1vh; justify-self: flex-end;" update="growl" oncomplete="PF('detalheDialog').hide();">
									<h:outputText value="Salvar" />
									<i class="fa fa-check" style="padding-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>
								
						<h:form>
							<div id="Recurso" class="box aba" style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Mensagem de recurso:" for="descr2" />
								<p:inputTextarea id="descr2"
									value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10"
									autoResize="false" counter="recCount" maxlength="5000"
									counterTemplate="{0} caracteres restantes."
									styleClass="abaField recursoField" style="width:100%"
									required="true">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="recCount" />

								<p:commandLink class="botaoLink" action="#{consultaManifestacaoBean.recurso()}" style="margin: 0 .7vw 1vh 0; justify-self: flex-end;"  update="growl" oncomplete="PF('detalheDialog').hide();">
									<h:outputText value="Salvar" />
									<i class="fa fa-check" style="padding-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>

						<h:form>
							<div id="Encaminhar" class="box aba" style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Reencaminhar Manifestação:" style="font-weight:bold"/>
								
								<p style="margin-top: 1em;margin-bottom: 0;">Ao solicitar o reencaminhamento de uma manifestação, a mesma é direcionada à Ouvidoria Geral do Estado para tratamento e encaminhamento ao devido Órgão/Entidade de destino.</p>

								<p:outputLabel value="Justificativa Cidadão:" for="justCid" />
								<p:inputTextarea id="justCid"
									value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10"
									autoResize="false" required="true" counter="justCount1"
									maxlength="5000" counterTemplate="{0} caracteres restantes."
									styleClass="abaField encaminharField" style="width:100%">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="justCount1" />

								<p:outputLabel value="Justificativa Interna:" for="justInt" />
								<p:inputTextarea id="justInt"
									value="#{consultaManifestacaoBean.mensagem_2}" cols="100"
									rows="10" autoResize="false" required="true"
									counter="justCount2" maxlength="5000"
									counterTemplate="{0} caracteres restantes."
									styleClass="abaField encaminharField" style="width:100%">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="justCount2" />

								<p:commandLink styleClass="botaoLink" action="#{consultaManifestacaoBean.encaminharSetorial()}" style="margin: 0 .7vw 1vh 0; justify-self: flex-end;" update="growl" oncomplete="PF('detalheDialog').hide();">
									<h:outputText value="Enviar" />
									<i class="fa fa-check" style="padding-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>
							
						<h:form>
							<div id="EncaminharOGE" class="box aba" style="display: none; padding: 1vh 1vw">
								<p:outputLabel value="Rencaminhar Manifestação:" style="font-weight:bold"/>
								
								<p:outputLabel value="Órgão/Entidade de destino:" for="destino" />
								<p:selectOneMenu id="destino" value="#{consultaManifestacaoBean.idEntReencaminhar}" required="true" styleClass="abaField encaminharOGEField" style="min-width:600px" filter="true" filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{consultaManifestacaoBean.entidadesAtivas}" var="orgao" itemLabel="#{orgao.sigla} - #{orgao.nome}" itemValue="#{orgao.idEntidade}" />
								</p:selectOneMenu>

								<p:outputLabel value="Justificativa Cidadão:" for="justCid2" />
								<p:inputTextarea id="justCid2"
									value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10"
									autoResize="false" required="true" counter="justCount3"
									maxlength="5000" counterTemplate="{0} caracteres restantes."
									styleClass="abaField encaminharOGEField" style="width:100%">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="justCount3" />

								<p:outputLabel value="Justificativa Interna:" for="justInt2" />
								<p:inputTextarea id="justInt2"
									value="#{consultaManifestacaoBean.mensagem_2}" cols="100"
									rows="10" autoResize="false" required="true"
									counter="justCount4" maxlength="5000"
									counterTemplate="{0} caracteres restantes."
									styleClass="abaField encaminharOGEField" style="width:100%">
									<f:validateLength maximum="5000" />
								</p:inputTextarea>
								<h:outputText id="justCount4" />

								<p:commandLink styleClass="botaoLink" action="#{consultaManifestacaoBean.encaminharOuvidoriaGeral()}" update="growl" style="margin: 0 .7vw 1vh 0; justify-self: flex-end;" oncomplete="PF('detalheDialog').hide();">
									<h:outputText value="Enviar" />
									<i class="fa fa-check" style="padding-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>

						<h:form>
							<div id="Avalia" class="box aba" style="display: none; padding: 1vh 1vw">
								<h:panelGroup styleClass="column-nowrap" style="margin-bottom:1em">
									<p:outputLabel value="Avaliar resposta da manifestação:" for="avalia" />
                                    <p:rating id="avalia" value="#{consultaManifestacaoBean.nota}" required="true" styleClass="abaField avaliaField" requiredMessage="Selecione nota" />
								</h:panelGroup>

								<p:outputLabel value="Mensagem:" for="avaliaTexto"
									style="margin-top: 0" />
								<p:inputTextarea id="avaliaTexto"
									value="#{consultaManifestacaoBean.mensagem_1}" cols="100" rows="10"
                                    autoResize="false" required="false" counter="avaCount"
									maxlength="1000" counterTemplate="{0} caracteres restantes."
									styleClass="abaField avaliaField" style="width:100%">
									<f:validateLength maximum="1000" />
								</p:inputTextarea>
								<h:outputText id="avaCount" />

								<p:commandLink class="botaoLink" ajax="false"
									style="margin-top: 5px"
									action="#{consultaManifestacaoBean.avaliar()}"
									update="growl">
									<h:outputText value="Enviar" />
									<i class="fa fa-arrow-up" style="margin-left: 3px" />
								</p:commandLink>
							</div>
						</h:form>
						
					</h:panelGroup>
					
					<!-- Barra de ações -->
					<h:panelGroup id="barraBtns">

						<!-- Botão Resposta -->
						<p:commandLink id="RespostaAba"
							actionListener="#{consultaManifestacaoBean.limparResposta}"
							onclick="abrirAba('Resposta');selecionarAba('RespostaAba');"
							rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"
							disabled="#{consultaManifestacaoBean.disResposta()}"
							styleClass="blankSquareBtn">
							<i class="fa fa-comments fa-3x" style="margin-bottom: 5px" />
							<h:outputText value="Responder" />
						</p:commandLink>

						<!-- Botão Solicitação Reformulação -->
						<p:commandLink id="SolReformulaAba"
							actionListener="#{consultaManifestacaoBean.limparResposta()}"
							onclick="abrirAba('SolReformula');selecionarAba('SolReformulaAba');"
							rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"
							disabled="#{consultaManifestacaoBean.disReformula()}"
							styleClass="blankSquareBtn">
							<span class="fa-stack fa-lg"> <i
								class="fa fa-comment fa-stack-2x" /> <i
								class="fa fa-repeat fa-stack-1x fa-inverse" />
							</span>
							<h:outputText value="Solicitar Reformulação" />
						</p:commandLink>

						<!-- Botão Reformulação -->
						<p:commandLink id="ReformulaAba"
							actionListener="#{consultaManifestacaoBean.limparResposta}"
							onclick="abrirAba('Reformula');selecionarAba('ReformulaAba');"
							rendered="#{loginBean.perfilLogado eq 'cidadao' and consultaManifestacaoBean.maniDetalhe.status eq 'Reformulação'}"
							styleClass="blankSquareBtn">
							<span class="fa-stack fa-lg"> <i
								class="fa fa-comment fa-stack-2x" /> <i
								class="fa fa-repeat fa-stack-1x fa-inverse" />
							</span>
							<h:outputText value="Reformular Manifestação" />
						</p:commandLink>

						<!-- Botão Alterar Tipo -->
						<p:commandLink id="MudarAba" class="botaoAba"
							actionListener="#{consultaManifestacaoBean.limparResposta}"
							onclick="abrirAba('Mudar');selecionarAba('MudarAba');"
							rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"
							disabled="#{consultaManifestacaoBean.disMudar()}" styleClass="blankSquareBtn">
							<i class="fa fa-exchange fa-3x" style="margin-bottom: 5px" />
							<h:outputText value="Alterar Tipo" />
						</p:commandLink>

						<!-- Botão Negar -->
						<p:commandLink id="NegarAba"
							actionListener="#{consultaManifestacaoBean.limparResposta}"
							onclick="abrirAba('Negar');selecionarAba('NegarAba');"
							rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"
							disabled="#{consultaManifestacaoBean.disNegar()}" styleClass="blankSquareBtn">
							<i class="fa fa-ban fa-3x" style="margin-bottom: 5px" />
							<h:outputText value="Negar" />
						</p:commandLink>

						<!-- Botão Encaminhar Ouvidor Setorial -->
                        <p:commandLink id="EncaminharAba" class="botaoAba"
                        	actionListener="#{consultaManifestacaoBean.limparResposta}"
                            onclick="abrirAba('Encaminhar');selecionarAba('EncaminharAba');"
                            rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao'}"
                            disabled="#{consultaManifestacaoBean.disEncaminhar()}"
                            styleClass="blankSquareBtn">
                            <i class="fa fa-hand-o-up fa-3x" style="margin-bottom: 5px" />
                            <h:outputText value="Reencaminhar" />
                        </p:commandLink>
                        
                        <!-- Botão Encaminhar Ouvidoria Geral -->
                        <p:commandLink id="EncaminharOGEAba" class="botaoAba"
                        	actionListener="#{consultaManifestacaoBean.limparResposta}"
                            onclick="abrirAba('EncaminharOGE');selecionarAba('EncaminharOGEAba');"
                            rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"
                            disabled="#{consultaManifestacaoBean.disEncaminharOGE()}"
                            styleClass="blankSquareBtn">
                            <i class="fa fa-hand-o-up fa-3x" style="margin-bottom: 5px" />
                            <h:outputText value="Reencaminhar" />
                        </p:commandLink>

						<!-- Botão Prorrogar -->
						<p:commandLink id="ProrrogarAba" class="botaoAba"
							actionListener="#{consultaManifestacaoBean.limparResposta}"
							onclick="abrirAba('Prorrogar');selecionarAba('ProrrogarAba');"
							styleClass="blankSquareBtn"
							rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"
							disabled="#{consultaManifestacaoBean.disProrrogar()}">
							<i class="fa fa-clock-o fa-3x" style="margin-bottom: 5px" />
							<h:outputText value="Prorrogar Resposta" />
						</p:commandLink>

						<!-- Botão Avalia -->
						<p:commandLink id="AvaliaAba"
							actionListener="#{consultaManifestacaoBean.limparResposta}"
							onclick="abrirAba('Avalia');selecionarAba('AvaliaAba');"
							rendered="#{loginBean.perfilLogado eq 'cidadao'}"
							disabled="#{consultaManifestacaoBean.disAvaliar()}"
							styleClass="blankSquareBtn">
							<i class="fa fa-star-o fa-3x" />
							<h:outputText value="Avaliar resposta" />
						</p:commandLink>

						<!-- Botão Recurso -->
						<p:commandLink id="RecursoAba"
							actionListener="#{consultaManifestacaoBean.limparResposta}"
							onclick="abrirAba('Recurso');selecionarAba('RecursoAba');"
							rendered="#{loginBean.perfilLogado eq 'cidadao'}"
							disabled="#{consultaManifestacaoBean.disRecurso()}"
							styleClass="blankSquareBtn">
							<i class="fa fa-hand-o-up fa-3x" style="margin-bottom: 5px" />
							<h:outputText value="Realizar Recurso" />
						</p:commandLink>

						 <!-- Botão Reabrir Manifestacao -->
                        <p:commandLink id="ReabrirAba" class="botaoAba"
                        	actionListener="#{consultaManifestacaoBean.reabrirManifestacao()}"
                        	onsuccess="PF('detalheDialog').hide();"
                            rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}"
                            disabled="#{consultaManifestacaoBean.disReabrir()}"
                            styleClass="blankSquareBtn">
                            <i class="fa fa-unlock fa-3x" style="margin-bottom: 5px" />
                            <h:outputText value="Reabrir" />
                            <p:confirm header="Confirmação" message="" icon="pi pi-exclamation-triangle"/>
                        </p:commandLink>

					</h:panelGroup>
					
					<p:confirmDialog global="true"  showEffect="fade" hideEffect="fade" responsive="true" styleClass="hideMessage" >
						<h:form>
							<h:panelGroup styleClass="column no-wrap justify-center" style="padding: 1em; text-align: center;">
								<h:outputText value="Esta manifestação está alocada em órgão/entidade inativo. Sua reabertura a encaminhará à Ouvidoria-Geral." rendered="#{!consultaManifestacaoBean.maniDetalhe.entidade.ativa}" />
								<br/><br/>
								<h:outputText value="Tem certeza que deseja reabrir manifestação?" />
							</h:panelGroup>
						</h:form>
						<h:panelGroup styleClass="row no-wrap justify-center">
				            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" oncomplete="PF('detalheDialog').hide();" icon="fa fa-check"/>
				            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no ui-button-flat" icon="fa fa-times" />
						</h:panelGroup>
			        </p:confirmDialog>
		        
				</p:outputPanel>
			</p:dialog>
			
			<!-- JAVASCRIPT -->
			<script>
				function abrirAba(aba) {
					var x = document.getElementsByClassName("aba");
					for (var i = 0; x.length > i; i++) {
						x[i].style.display = "none";
					}
					document.getElementById(aba).style.display = "flex";
				}

				function selecionarAba(abaBtn) {
					var x = document.getElementsByClassName("blankSquareBtn");
					for (var i = 0; x.length > i; i++) {
						x[i].style.background = "#e4e4e4";
						x[i].style.outline = "none";
						x[i].style.border = "1px solid #e4e4e4";
					}

					document.getElementById(abaBtn).style.outline = "1px solid white";
					document.getElementById(abaBtn).style.background = "white";
					document.getElementById(abaBtn).style.border = "none";
				}

				function desativarCampos(abaField) {
					var x = document.getElementsByClassName("abaField");
					for (var i = 0; x.length > i; i++) {
						x[i].disabled = true;
					}

					var y = document.getElementsByClassName(abaField);
					for (var i = 0; y.length > i; i++) {
						y[i].disabled = false;
					}
				}

				function scrollDown() {
					document.getElementById("solicitacaoDetalhe").style.bottom = "0";
					}

				function toggleDashboard() {
					console.log("toggleDashboard");
					document.getElementById("dashboardForm:toggleDashboardBtn").classList.toggle("accordionActive");

					var x = document.getElementsByClassName("valor");
					
					for(var i = 0; x.length > i; i++) {
						x[i].classList.toggle("hidden");

// 						if (x[i].style.display === "flex") {
// 							x[i].style.display = "none";
// 						} else {
// 							x[i].style.display = "flex";
// 						}
					}
				}

			</script>
			
		</ui:define>
	</ui:composition>
</h:body>

</html>