<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:body id="pageFull">
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
		
			<h:panelGroup styleClass="ficha">
			
				<h:panelGroup styleClass="inline" style="-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width: 100%;">
	
					<h:panelGroup styleClass="column" style="width:100%">
						<h:outputText value="Manifestações" styleClass="tituloBox" style="align-self:flex-start; margin:0; margin-left:5vw;" />
						<p:separator styleClass="separator2" style="align-self:flex-start;margin-left:5vw;" />
					</h:panelGroup>
					
					<h:form>
						<h:panelGroup id="busca" styleClass="column-nowrap" style="width:100%; margin-bottom:1.5em; margin-right: 3vw;">
							<p:outputLabel value="Consultar protocolo:" for="campoBusca" rendered="#{!consultaProtocoloBean.buscarManifestante}"/>
							<p:outputLabel value="Consultar manifestante:" for="campoBusca" rendered="#{consultaProtocoloBean.buscarManifestante}"/>
							<h:panelGroup styleClass="inline">
								<p:inputText id="campoBusca" value="#{consultaProtocoloBean.campoBusca}" size="60" maxlength="30" required="false" requiredMessage="">
									<p:keyFilter regEx="/^[0-9\/.-]+$/" preventPaste="false" rendered="#{!consultaProtocoloBean.buscarManifestante}"/>
								</p:inputText>
								
								<p:commandLink class="botaoLinkIcon" action="#{consultaProtocoloBean.buscarManifestacoes}" id="buscar" update="@all" style="margin-left:.5em;padding: 5px 10px 5px 5px;" onkeyup="if((event.keyCode==13)||(window.event.keyCode==13)){document.getElementById('buscar').click();}">
									<i class="fa fa-search" style="color: white; padding-left:3px" />
								</p:commandLink>
							</h:panelGroup>
							
							<p:selectBooleanCheckbox value="#{consultaProtocoloBean.buscarManifestante}" itemLabel="Buscar por Manifestante" style="margin-top: .1em">
								<p:ajax update="busca" event="change" />
							</p:selectBooleanCheckbox>
						</h:panelGroup>
					</h:form>
					
					<h:form>
						<h:commandLink id="showBtn" styleClass="legendaButton justify-center" disabled="true">
							<i class="fa fa-question fa-2x" />
						</h:commandLink>
					
						<p:tooltip id="toolTipContent" for="showBtn" position="left" styleClass="legendaTooltip" style="height:auto;width: 600px; margin-right: 50px">
							<p style="font-weight: bold; text-align: center">Status das Manifestações</p>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #2196f3; margin-right: .5em; color: white !important">Aberta</span>
									Manifestação protocolada ainda pendente de atendimento pelo órgão/entidade demandado
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox tramitando" style="margin-right: .5em;">Tramitando</span>
									Manifestação protocolada já visualizada pelo órgão/entidade demandado
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox atendida" style="margin-right: .5em">Atendida</span>
									Manifestação atendida pelo órgão/entidade demandado aguardando manifestação	do requerente no prazo de 10 dias
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox reformulacao" style="margin-right: .5em;">Reformulação</span>
									Manifestação aguardando reformulação do manifestante.
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox reencaminhada"	style="margin-right: .5em;">Reencaminhada</span>
									Manifestação redirecionada a outro órgão/entidade por ausência de competência do demandado
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #d30e03; margin-right: .5em; color: white !important">Negada</span>
									Manifestação com justificativa legal para não atendimento
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #824fbf; margin-right: .5em; color: white !important">Prorrogada</span>
									Manifestação houve pedido de prorrogação do prazo de 10 dias encaminhado ao requerente
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #eab90f; margin-right: .5em; color: white !important">Recurso</span>
									Manifestação aguardando atendimento de recurso apresentado pelo requerente
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox"	style="background: #858f9c; margin-right: .5em; color: white !important">Finalizada</span>
									Manifestação atendida pelo órgão/entidade demandado, cujo prazo para recurso foi expirado sem manifestação do requerente
								</p>
							</h:panelGroup>
							<h:panelGroup styleClass="inline" style="align-items: flex-start; text-align: justify">
								<p>
									<span class="statusBox" style="background: #e77b40; margin-right: .5em; color: white !important">Sem Resposta</span>
									Manifestação finalizada automaticamente pelo sistema quando houver ausência de resposta ou prorrogação no prazo	legal
								</p>
							</h:panelGroup>
						</p:tooltip>
					</h:form>
	
				</h:panelGroup>
			
				<h:form id="tableForm">
					<p:dataTable id="manifestacoesTable" value="#{consultaProtocoloBean.listManifestacoes}" widgetVar="maniWidget" var="manifestacao" lazy="true"
					sortBy="#{manifestacao.dataIni}" sortOrder="descending" resizableColumns="true" liveResize="true" reflow="true" emptyMessage="Nao há manifestações"
					paginator="true" rows="50" rowsPerPageTemplate="10,50,100,500" currentPageReportTemplate="(Página {currentPage} de {totalPages})"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						
						<p:column ariaHeaderText="Icones" width="20" toggleable="false"	style="text-align:center;">
							<h:panelGroup id="iconDenuncia"	rendered="#{manifestacao.tipo eq 'Denúncia'}">
								<i class="fa fa-exclamation-circle" />
							</h:panelGroup>
							<p:tooltip for="iconDenuncia" value="Denúncia" position="right" />
							<h:panelGroup id="iconInfo"	rendered="#{manifestacao.tipo eq 'Informação'}">
								<i class="fa fa-info" />
							</h:panelGroup>
							<p:tooltip for="iconInfo" value="Pedido de Informação" position="right" />
							<h:panelGroup id="iconSol" rendered="#{manifestacao.tipo eq 'Solicitação'}">
								<i class="fa fa-hand-o-up" />
							</h:panelGroup>
							<p:tooltip for="iconSol" value="Solicitação" position="right" />
							<h:panelGroup id="iconElogio" rendered="#{manifestacao.tipo eq 'Elogio'}">
								<i class="fa fa-thumbs-o-up" />
							</h:panelGroup>
							<p:tooltip for="iconElogio" value="Elogio" position="right" />
							<h:panelGroup id="iconSugestao" rendered="#{manifestacao.tipo eq 'Sugestão'}">
								<i class="fa fa-comments" />
							</h:panelGroup>
							<p:tooltip for="iconSugestao" value="Sugestão" position="right" />
							<h:panelGroup id="iconReclama" rendered="#{manifestacao.tipo eq 'Reclamação'}">
								<i class="fa fa-thumbs-o-down" />
							</h:panelGroup>
							<p:tooltip for="iconReclama" value="Reclamação" position="right" />
						</p:column>
		
						<p:column headerText="Protocolo" width="80" sortBy="#{manifestacao.protocolo}" filterBy="#{manifestacao.protocolo}" filterMatchMode="contains" filterable="true">
							<h:outputText value="#{manifestacao.protocolo}" />
						</p:column>
		
						<p:column headerText="Tipo" width="85" sortBy="#{manifestacao.tipo}" filterBy="#{manifestacao.tipo}" filterMatchMode="contains" >
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('maniWidget').filter()" style="width: -webkit-fill-available;width: -moz-available;width: fill-available;">
									<f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
									<f:selectItem itemLabel="Informação" itemValue="Informação" />
									<f:selectItem itemLabel="Sugestão" itemValue="Sugestão" />
									<f:selectItem itemLabel="Denúncia" itemValue="Denúncia" />
									<f:selectItem itemLabel="Reclamação" itemValue="Reclamação" />
									<f:selectItem itemLabel="Elogio" itemValue="Elogio" />
									<f:selectItem itemLabel="Solicitação" itemValue="Solicitação" />
								</p:selectOneMenu>
							</f:facet>
								<h:outputText value="#{manifestacao.tipo}" />
						</p:column>
		
						<p:column headerText="Órgão" width="100" sortBy="#{manifestacao.entidade.sigla}" filterBy="#{manifestacao.entidade.sigla}" filterMatchMode="contains" filterable="true" >
							<h:outputText value="#{manifestacao.entidade.sigla}" />
						</p:column>
		
						<p:column headerText="Tema" sortBy="#{manifestacao.tema.titulo}" filterBy="#{manifestacao.tema.titulo}" filterMatchMode="contains" filterable="true">
							<h:outputText value="#{manifestacao.tema.titulo}" />
						</p:column>
		
						<p:column headerText="Assunto" sortBy="#{manifestacao.titulo}" filterBy="#{manifestacao.titulo}" filterMatchMode="contains" filterable="true" >
							<h:outputText value="#{manifestacao.titulo}" />
						</p:column>
		
						<p:column headerText="Data inicial" sortBy="#{manifestacao.dataIni}" width="100" style="text-align:center" filterBy="#{manifestacao.dataIni}" filterMatchMode="exact" filterable="true">
							<h:outputText value="#{manifestacao.dataIni}">
								<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" dateStyle="date" />
							</h:outputText>
						</p:column>
		
						<p:column headerText="Data limite" sortBy="#{manifestacao.dataLimite}" width="100" style="text-align:center" filterBy="#{manifestacao.dataLimite}" filterMatchMode="exact" filterable="true">
							<h:outputText value="#{manifestacao.dataLimite}" rendered="#{manifestacao.dataLimite ne null}">
								<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
							</h:outputText>
							<h:outputText value=" ----------- " style="color: #c0c0c0;" rendered="#{manifestacao.dataLimite eq null}" />
						</p:column>
		
						<p:column headerText="Data final" sortBy="#{manifestacao.datafim}" width="100" style="text-align:center" filterBy="#{manifestacao.datafim}" filterMatchMode="exact" filterable="true">
							<h:outputText value=" ----------- " rendered="#{manifestacao.datafim eq null}" style="color: #c0c0c0;" />
							<h:outputText value="#{manifestacao.datafim}" rendered="#{manifestacao.datafim ne null}">
								<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
							</h:outputText>
						</p:column>
		
						<p:column headerText="Manifestante" width="150" sortBy="#{manifestacao.cidadao.usuario.nome}"
							filterBy="#{manifestacao.cidadao.usuario.nome}" filterMatchMode="contains" filterable="true" >
							<h:outputText value="#{manifestacao.cidadao.usuario.nome}" rendered="#{manifestacao.sigilo ne '1'}"/>
							<h:outputText value="(Sigiloso)" rendered="#{manifestacao.sigilo eq '1'}" />
						</p:column>
		
						<p:column headerText="Status" width="120" sortBy="#{manifestacao.status}" groupRow="false" style="text-align: center" filterBy="#{manifestacao.status}" filterMatchMode="exact" filterable="true" >
							<h:outputText id="statusAberta" value="Aberta" styleClass="statusBox aberta" rendered="#{manifestacao.status eq 'Aberta'}" />
							<h:outputText id="statusTramitando" value="Tramitando" styleClass="statusBox tramitando" rendered="#{manifestacao.status eq 'Tramitando'}" />
							<h:outputText id="statusAtendida" value="Atendida" styleClass="statusBox atendida" rendered="#{manifestacao.status eq 'Atendida'}" />
							<h:outputText id="statusFinal" value="Finalizada" styleClass="statusBox finalizada"	rendered="#{manifestacao.status eq 'Finalizada'}" />
							<h:outputText id="statusReenc" value="Reencaminhada" styleClass="statusBox reencaminhada" rendered="#{manifestacao.status eq 'Reencaminhada'}" />
							<h:outputText id="statusNegada" value="Negada" styleClass="statusBox negada" rendered="#{manifestacao.status eq 'Negada'}" />
							<h:outputText id="statusProrro" value="Prorrogada" styleClass="statusBox prorrogada" rendered="#{manifestacao.status eq 'Prorrogada'}" />
							<h:outputText id="statusRecurso" value="Recurso" styleClass="statusBox recurso" rendered="#{manifestacao.status eq 'Recurso'}" />
							<h:outputText id="statusSemResp" value="Sem Resposta" styleClass="statusBox semResposta" rendered="#{manifestacao.status eq 'Sem Resposta'}" />
							<h:outputText id="statusReformulacao" value="Reformulação" styleClass="statusBox reformulacao" rendered="#{manifestacao.status eq 'Reformulação'}" />
							
							<!-- TOOL-TIPS -->
							<p:tooltip for="statusAberta" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Aberta'}">
								<p>Manifestação protocolada ainda pendente de leitura pelo órgão/entidade demandado</p>
							</p:tooltip>
							<p:tooltip for="statusTramitando" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Tramitando'}">
								<p>Manifestação protocolada já visualizada pelo	órgão/entidade demandado</p>
							</p:tooltip>
							<p:tooltip for="statusAtendida" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Atendida'}">
								<p>Manifestação atendida pelo órgão/entidade demandado aguardando manifestação do requerente no prazo de 10 dias</p>
							</p:tooltip>
							<p:tooltip for="statusReformulacao" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Reformulação'}">
								<p>Manifestação aguardando reformulação do manifestante.</p>
							</p:tooltip>
							<p:tooltip for="statusReenc" position="bottom"
								style="width: 700px"
								rendered="#{slt.status eq 'Reencaminhada'}">
								<p>Manifestação redirecionada a outro órgão/entidade por ausência de competência do demandado</p>
							</p:tooltip>
							<p:tooltip for="statusNegada" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Negada'}">
								<p>Manifestação com justificativa legal para não atendimento</p>
							</p:tooltip>
							<p:tooltip for="statusProrro" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Prorrogada'}">
								<p>Manifestação houve pedido de prorrogação do prazo encaminhado ao requerente</p>
							</p:tooltip>
							<p:tooltip for="statusRecurso" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Recurso'}">
								<p>Manifestação aguardando atendimento de recurso apresentado pelo requerente</p>
							</p:tooltip>
							<p:tooltip for="statusFinal" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Finalizada'}">
								<p>Manifestação atendida pelo órgão/entidade demandado e de prazo encerrado pelo sistema</p>
							</p:tooltip>
							<p:tooltip for="statusSemResp" position="bottom"
								style="width: 700px" rendered="#{slt.status eq 'Sem Resposta'}">
								<p>Manifestação finalizada automaticamente pelo sistema
									quando houver ausência de resposta ou prorrogação no prazo
									legal</p>
							</p:tooltip>
						</p:column>
						
					</p:dataTable>
					
				</h:form>
				
			</h:panelGroup>	
			
			
<!-- ================================================================================================================================== -->
<!-- =================================================	DIALOG DETALHE MANIFESTAÇÃO	 ================================================== -->
<!-- ================================================================================================================================== -->
			<p:remoteCommand name="updateTable" update="tableForm:manifestacoesTable" />
				
			<p:dialog widgetVar="detalheDialog" id="detalheDialog" modal="true"
				fitViewport="true" showEffect="fade" hideEffect="fade"
				resizable="false" maximizable="false" draggable="false"
				onHide="updateTable()"
				closeOnEscape="true" styleClass="solicitacaoDialog" dynamic="true">

				<p:outputPanel id="solicitacaoDetalhe" style="display:flex; flex-flow: row; overflow-x: hidden;">
				
					<h:panelGroup id="conteudo" style="padding: 10px">
						
						<p:tabView style="margin-bottom:10px">
      						<p:tab title="Manifestação">
      							<f:facet name="title">
					            	<i class="fa fa-list-alt"/>
					            </f:facet>
      							
								<h:panelGroup styleClass="inline" style="width: 100%">
									<p:panelGrid columns="2" layout="grid" style="border: none; width: 50%;">
		
										<h:outputText value="Protocolo:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.protocolo}" />
		
										<h:outputText value="Tema:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.tema.titulo}" />
		
										<h:outputText value="Assunto:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.titulo}" />
		
										<h:outputText value="Órgão / Entidade:" style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.entidade.sigla} - #{consultaProtocoloBean.maniDetalhe.entidade.nome}" />
		
									</p:panelGrid>
		
									<p:panelGrid columns="2" layout="grid" style="border: none; width: 50%;">
		
										<h:outputText value="Tipo de manifestação:"	style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.tipo}" rendered="#{!(consultaProtocoloBean.maniDetalhe.tipo eq 'Denúncia' and consultaProtocoloBean.maniDetalhe.sigilo eq '2') and consultaProtocoloBean.maniDetalhe.tipo ne 'Informação'}" />
										<h:outputText value="Informação (e-SIC)" rendered="#{consultaProtocoloBean.maniDetalhe.tipo eq 'Informação'}" />
										<h:outputText value="Denúncia Sigilosa"	rendered="#{consultaProtocoloBean.maniDetalhe.tipo eq 'Denúncia' and consultaProtocoloBean.maniDetalhe.sigilo eq '2'}" />
		
										<h:outputText value="Status:" style="color:#1a568c; font-size:18px"	/>
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.status}" />
		
										<h:outputText value="Instancia:" style="color:#1a568c; font-size:18px" rendered="#{consultaProtocoloBean.maniDetalhe.tipo ne 'Denúncia' and consultaProtocoloBean.maniDetalhe.instancia ne '0'}" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.instancia}ª instância" rendered="#{consultaProtocoloBean.maniDetalhe.tipo ne 'Denúncia' and consultaProtocoloBean.maniDetalhe.instancia ne '0'}" />
		
										<h:outputText value="Data Inicial:"	style="color:#1a568c; font-size:18px" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.dataIni}">
											<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
										</h:outputText>
		
										<h:outputText value="Data Limite:" style="color:#1a568c; font-size:18px" rendered="#{consultaProtocoloBean.maniDetalhe.status ne 'Finalizada' and consultaProtocoloBean.maniDetalhe.status ne 'Sem resposta'}" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.dataLimite}" rendered="#{consultaProtocoloBean.maniDetalhe.status ne 'Finalizada' and consultaProtocoloBean.maniDetalhe.status ne 'Sem resposta'}">
											<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
										</h:outputText>
		
										<h:outputText value="Data Fim:" style="color:#1a568c; font-size:18px" rendered="#{consultaProtocoloBean.maniDetalhe.datafim ne null}" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.datafim}" rendered="#{consultaProtocoloBean.maniDetalhe.datafim ne null}">
											<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
										</h:outputText>
		
										<h:outputText value="Nota:"	style="color:#1a568c; font-size:18px" rendered="#{consultaProtocoloBean.maniDetalhe.avaliacao ne '0'}" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.avaliacao}" rendered="#{consultaProtocoloBean.maniDetalhe.avaliacao ne '0'}" />
										
										<h:outputText value="Atendente:"	style="color:#1a568c; font-size:18px" rendered="#{(usuario.responsavelOuvidorGeral or usuario.responsavelCoordenadorOGE) and (consultaProtocoloBean.maniDetalhe.responsavel ne null)}" />
										<h:outputText value="#{consultaProtocoloBean.maniDetalhe.responsavel.usuario.nome}" rendered="#{(usuario.responsavelOuvidorGeral or usuario.responsavelCoordenadorOGE) and (consultaProtocoloBean.maniDetalhe.responsavel ne null)}" />
		
									</p:panelGrid>
								</h:panelGroup>
							</p:tab>
							<p:tab title="Manifestante" rendered="#{consultaProtocoloBean.maniDetalhe.sigilo ne '1' or (consultaProtocoloBean.maniDetalhe.sigilo eq '1' and (usuario.responsavelOuvidorGeral or usuario.responsavelCoordenadorOGE)) or usuario.usuarioCidadao}">
								<f:facet name="title">
					            	<i class="fa fa-user"/>
					            </f:facet>
					            
					            <h:panelGroup styleClass="inline" style="width: 100%">
						            <p:panelGrid columns="2" layout="grid" style="border: none; width: 50%;">
							            <h:outputText value="Manifestante:" style="color:#1a568c; font-size:18px" />
							            <h:panelGroup styleClass="inline">
								            <h:outputText value="#{consultaProtocoloBean.maniDetalhe.cidadao.usuario.nome}" rendered="#{consultaProtocoloBean.maniDetalhe.sigilo ne '1' or (consultaProtocoloBean.maniDetalhe.sigilo eq '1' and (usuario.responsavelOuvidorGeral or usuario.responsavelCoordenadorOGE)) or usuario.usuarioCidadao}"/>
											<h:outputText value="(Sigilo)" rendered="#{consultaProtocoloBean.maniDetalhe.sigilo eq '1'}" style="margin-left:.5em; font-weight:bold; color:#c02222" />
							            </h:panelGroup>
							            
							            <h:outputText value="Email:" style="color:#1a568c; font-size:18px" rendered="#{consultaProtocoloBean.maniDetalhe.cidadao.email ne null and consultaProtocoloBean.maniDetalhe.cidadao.email ne ''}"/>
							            <h:outputText value="#{consultaProtocoloBean.maniDetalhe.cidadao.email}" />
							            
							            <h:outputText value="Telefone:" style="color:#1a568c; font-size:18px" rendered="#{(consultaProtocoloBean.maniDetalhe.cidadao.celular ne null and consultaProtocoloBean.maniDetalhe.cidadao.celular ne '') or (consultaProtocoloBean.maniDetalhe.cidadao.telefone ne null and consultaProtocoloBean.maniDetalhe.cidadao.telefone ne '')}"/>
							            <h:panelGroup styleClass="column">
								            <h:outputText value="#{consultaProtocoloBean.maniDetalhe.cidadao.celular}" />
								            <h:outputText value="#{consultaProtocoloBean.maniDetalhe.cidadao.telefone}" />
							            </h:panelGroup>
									</p:panelGrid>
								</h:panelGroup>
							</p:tab>
						</p:tabView>
						
						<h:form>
							<h:panelGroup style="display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;widht:100%;">
								<p:commandLink actionListener="#{printManifestacao.imprimirManifestacao(consultaProtocoloBean.maniDetalhe)}" ajax="false" styleClass="botaoLinkIcon" style="padding:.5em;display: -webkit-box;display: -ms-flexbox;display: flex;width: -webkit-fit-content;width: -moz-fit-content;width: fit-content">
									<p:fileDownload value="#{printManifestacao.file}" />
									<i class="fa fa-file-pdf-o"/>
									<h:outputText value="Imprimir" style="margin-left:10px" />
								</p:commandLink>
							</h:panelGroup>
						</h:form>
						
						<p:tabView id="msgTab" dynamic="true">
							<p:tab title="Mensagens">

								<p:dataList value="#{consultaProtocoloBean.maniDetalhe.mensagens}" var="msg" type="definition" styleClass="consultaDatalist" rendered="true">
									<p:outputPanel style="margin-top: 1vw;">
										<div class="mensagem">
											<h:outputText value="#{msg.usuario.nome}" style="color:#1a568c" />
											<h:outputText value="#{msg.data}" style="color:#1a568c">
												<f:convertDateTime pattern="d/M/yy - hh:mm"	timeZone="GMT-03:00" />
											</h:outputText>
										</div>

										<h:outputText value="#{msg.texto}" style="margin-left:1vw; white-space: pre-wrap;" />
										
										<h:form rendered="#{not empty msg.anexos}">
											<p style="margin: .5vh 0 0 5vh;; font-weight:bold">Anexos:</p>
										    <p:dataTable var="anx" value="#{msg.anexos}" emptyMessage="Não há arquivos anexados" styleClass="anexoListTable" style="width:50%;margin-left:5vh;">
												<p:column width="25">
													<h:panelGroup rendered="#{anx.tipo eq 'image/jpeg' or anx.tipo eq 'image/jpg' or anx.tipo eq 'image/png'}">
														<i class="fa fa-file-image-o" />
													</h:panelGroup>
												</p:column>
												<p:column>
													<h:outputLink value="#{anx.local}" target="_blank" >
														<h:outputText value="#{anx.nome}" />
													</h:outputLink>
												</p:column>
												<p:column width="60" >
													<h:outputText value="#{consultaProtocoloBean.anexoSizeMB(anx.tamanho)}" />
												</p:column>
											</p:dataTable>
										</h:form>
										
									</p:outputPanel>
								</p:dataList>

							</p:tab>

							<p:tab title="Histórico" id="historicoTab">

								<p:dataList id="historicoDataList" value="#{consultaProtocoloBean.maniDetalhe.historico}" var="msg" type="definition" styleClass="consultaDatalist" rendered="true" emptyMessage="Não há mensagens nesta aba">
									<p:outputPanel style="margin-top: 1vw;">
										<div class="mensagem">
											<h:outputText value="#{msg.usuario.nome}"
												style="color:#1a568c" />
											<h:outputText value="#{msg.data}" style="color:#1a568c">
												<f:convertDateTime pattern="d/M/yy - hh:mm"
													timeZone="GMT-03:00" />
											</h:outputText>
										</div>
										<h:outputText value="#{msg.texto}" style="margin-left:1vw" />

									</p:outputPanel>
								</p:dataList>


							</p:tab>
							<p:tab title="Trâmite Interno" rendered="#{loginBean.perfilLogado ne 'cidadao'}">

								<p:dataList value="#{consultaProtocoloBean.maniDetalhe.tramites}" var="msg" type="definition" styleClass="consultaDatalist" rendered="true" emptyMessage="Não há mensagens nesta aba">
									<p:outputPanel style="margin-top: 1vw;">
										<div class="mensagem">
											<h:outputText value="#{msg.usuario.nome}" style="color:#1a568c" />
											<h:outputText value="#{msg.data}" style="color:#1a568c">
												<f:convertDateTime pattern="d/M/yy - hh:mm" timeZone="GMT-03:00" />
											</h:outputText>
										</div>
										<h:outputText value="#{msg.texto}" style="margin-left:1vw" />

									</p:outputPanel>
								</p:dataList>

							</p:tab>
						</p:tabView>
						
					</h:panelGroup>
					
				</p:outputPanel>
				
			</p:dialog>
			
		</ui:define>
	</ui:composition>
</h:body>

</html>