<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">

			<h:form id="form" styleClass="ficha" style="padding-top: 0;">

				<h:panelGroup styleClass="column" style="margin-top:1em;width:100%">
					<h:outputText value="Temas" styleClass="tituloBox" style="align-self:flex-start; margin:0; margin-left:5vw;" />
					<p:separator styleClass="separator2" style="align-self:flex-start;margin-left:5vw;"/>
				</h:panelGroup>
	
				<p:commandLink class="botaoLink" update="dialog2:info2" id="novaAcao" onclick="PF('newDialog').show();" style="margin-bottom: -10px;">
					<i class="fa fa-plus" style="color: white; padding-right: 7px" />
					<h:outputText value="Novo Tema" />
				</p:commandLink>
				
				<h:outputText value="Temas Cadastrados" styleClass="tituloBox" style="align-self:flex-start; margin:0; margin-left:5vw;font-size:20px" />
<!-- 				<p:accordionPanel id="tab" activeIndex="0" > -->
<!-- 					<p:tab title="Temas Cadastrados" >			 -->
						<p:dataTable id="temasCadastrados" var="tema" widgetVar="temasCadastrados"
							emptyMessage="Temas não encontrados."
							value="#{consultaTemasBean.listTemasCadastrados}"
							filteredValue="#{consultaTemasBean.listTemasCadastradosFilter}"
							sortBy="#{tema.titulo}"
							paginator="true"
							currentPageReportTemplate="(Página {currentPage} de {totalPages})"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="10" rowsPerPageTemplate="10,15,30,50" rowKey="#{tema.idTema}"
							style="margin-bottom: 3vh"
						>
							
							<f:facet name="header">
					            <p:outputPanel styleClass="searchPanel">
									<i class="fa fa-search" style="color: white; margin-right: .5em"/>
					            	<p:inputText id="globalFilter" onkeypress="if(event.keyCode == 13) {event.preventDefault(); PF('temasCadastrados').filter(); return false; }" style="width:50%" placeholder="Insira informação que deseja pesquisar"/>
					            </p:outputPanel>
					        </f:facet>
							
							<p:column headerText="Título" sortBy="#{tema.titulo}" filterBy="#{tema.titulo}" filterMatchMode="contains" filterable="false" width="300">
								<h:outputText value="#{tema.titulo}" />
							</p:column>
		
							<p:column headerText="Status" sortBy="#{tema.status}" filterBy="#{tema.status}" filterMatchMode="contains" filterable="false" width="100">
								<h:outputText value="#{tema.status}" />
							</p:column>
							
							<p:column headerText="Editar" width="50" style="text-align: center">
								<p:commandLink class="botaoLinkIcon" actionListener="#{consultaTemasBean.abrirEditarTema(tema)}" update="dialog:info growl" >
									<i class="fa fa-pencil-square-o" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
<!-- 					</p:tab> -->
					
					<h:outputText value="Temas Solicitados" styleClass="tituloBox" style="align-self:flex-start; margin:0; margin-left:5vw;font-size:20px" />
<!-- 					<p:tab title="Temas Solicitados" > -->
						<p:dataTable id="novosTemas" emptyMessage="Não há novas solicitações de temas." value="#{consultaTemasBean.listTemasPendentes}" filteredValue="#{consultaTemasBean.listTemasPendentesFilter}" var="tema2" widgetVar="temasSolicitados" rowKey="#{tema2.idTema}" sortBy="#{tema2.titulo}" paginator="true" rows="10" rowsPerPageTemplate="10,15,30,50"
						 currentPageReportTemplate="(Página {currentPage} de {totalPages})" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" style="margin-bottom: 3vh">
							
							<f:facet name="header">
					            <p:outputPanel styleClass="searchPanel">
									<i class="fa fa-search" style="color: white; margin-right: .5em"/>
					                <p:inputText id="globalFilter" onkeypress="if(event.keyCode == 13) {event.preventDefault(); PF('temasSolicitados').filter(); return false; }" style="width:50%" placeholder="Insira informação que deseja pesquisar"/>
					            </p:outputPanel>
					        </f:facet>
							
							<p:column headerText="Título" sortBy="#{tema2.titulo}" filterBy="#{tema2.titulo}" filterMatchMode="contains" filterable="false" width="300">
								<h:outputText value="#{tema2.titulo}" />
							</p:column>
		
							<p:column headerText="Aceitar" width="60" style="text-align: center" >
								<p:commandLink class="botaoLinkIcon" actionListener="#{consultaTemasBean.aprovarTema(tema2)}" update="dialog:info form growl" >
									<i class="fa fa-check" />
								</p:commandLink>
							</p:column>
							
							<p:column headerText="Recusar" width="60" style="text-align: center">
								<p:commandLink class="botaoLinkIcon" actionListener="#{consultaTemasBean.recusarTema(tema2)}" update="form:novosTemas growl">
									<i class="fa fa-times" style="color: white; padding: 0 2px 0 2px" />
									<p:confirm/>
								</p:commandLink>
							</p:column>
						</p:dataTable>
<!-- 					</p:tab> -->
<!-- 				</p:accordionPanel> -->
			</h:form>


			<!-- Dialog Editar Tema -->
			<p:dialog widgetVar="editDialog" modal="true" showHeader="true"	fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" maximizable="false" draggable="false" closeOnEscape="true" dynamic="true">
				<h:form id="dialog">
					<p:outputPanel id="acaoEdit" styleClass="column">
						<p:panelGrid id="info" columns="1" style="border: none; width: 100%;">
							<f:facet name="header">
								<h:outputText value="Editar Tema" styleClass="tituloBox" style="padding-bottom: 2vw;" />
							</f:facet>
	
							<p:outputLabel value="Título: " for="titulo" />
							<p:inputText id="titulo" required="true" size="60" value="#{consultaTemasBean.editTema.titulo}" />
	
							<h:outputText value="Os campos marcados com * são de preenchimento obrigatório." style="font-size:14px; color:gray" />
						</p:panelGrid>
						<p:commandLink class="botaoLink" action="#{consultaTemasBean.editar()}" id="editarTemas" oncomplete="PF('editDialog').hide();" update="form:temasCadastrados">
							<h:outputText value="Salvar" />
							<i class="fa fa-check" style="color: white; padding-left: 3px" />
						</p:commandLink>
					</p:outputPanel>
				</h:form>
			</p:dialog>
	
			<!-- Dialog Nova Ação -->
			<p:dialog widgetVar="newDialog" modal="true" showHeader="true" fitViewport="true" showEffect="fade" hideEffect="fade" resizable="false" maximizable="false" draggable="false" closeOnEscape="true" dynamic="true">
				<h:form id="dialog2">
					<p:outputPanel id="acaoCad"	style="display:flex; flex-flow: column">
						<p:panelGrid id="info2" columns="1"	style="border: none; width: 100%;">
							<f:facet name="header">
								<h:outputText value="Cadastro de Tema" styleClass="tituloBox" style="padding-bottom: 2vw;" />
							</f:facet>
	
							<p:outputLabel value="Título: " for="titulo" />
							<p:inputText id="titulo" required="true" size="60" value="#{consultaTemasBean.novoTema.titulo}" />
	
							<h:outputText value="Os campos marcados com * são de preenchimento obrigatório." style="font-size:14px; color:gray" />
						</p:panelGrid>
						
						<p:commandLink class="botaoLink" action="#{consultaTemasBean.salvar()}" id="salvarAcao" update="form:temasCadastrados" oncomplete="PF('newDialog').hide();" >
							<h:outputText value="Cadastrar" />
							<i class="fa fa-check" style="color: white; padding-left: 3px" />
						</p:commandLink>
					</p:outputPanel>
				</h:form>
			</p:dialog>
				
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="hideMessage" >
			     <h:panelGroup styleClass="column" style="align-items: center;; padding: 1em;">
			        <i class="fa fa-exclamation-triangle fa-3x" style="margin-bottom: 5px; color: crimson"/>
			        <p style="margin: 0">Tem certeza que deseja deletar este Tema?</p>
			        <p style="margin: 0; font-weight:bold">Esse processo é irreversível.</p>
			    </h:panelGroup>
			    <h:panelGroup styleClass="inline" style="justify-content: center; border-top: 1px solid gray">
			        <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			    </h:panelGroup>
			</p:confirmDialog>
					
		</ui:define>
	</ui:composition>
</h:body>

</html>
