<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content"> 
			
			<h:form>
			
			<div class="ficha">
				<h:panelGroup styleClass="box" style="width: 50vw; align-items: center; align-self: center">
				
					<h:panelGroup styleClass="inline">
						<h:outputText value="Algo deu errado!" styleClass="tituloBox" style="margin: 0 0 0 15px"/>
					</h:panelGroup>
					
					<span class="fa-stack fa-lg" style="margin: 1em 0">
						<i class="fa fa-envelope fa-stack-1x" style="font-size: 3em" />
						<i class="fa fa-times fa-stack-1x fa-inverse" style="font-size: 2em; color: #cd0a0a; margin: .5em 0 0 1em;"/>
					</span>
					
					<h:outputText value="Por favor, tente novamente." style="color: #707070; margin: 15px 0 0 0; font-size: 1.3em; text-align: center;"/>
					
				</h:panelGroup>
			</div>
			
			</h:form>
		
		</ui:define>

	</ui:composition>

</h:body>

</html>