<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content">

			<h:form style="padding: 1.5vw 15vw">
			
				<h1 style="margin-bottom: 0;">Formulários SIC</h1>
				<p:separator style="margin-top: 0; margin-bottom: 2em; border-color: #5188E4;"/>
				
				<p>Esta seção reúne formulários relacionados à Lei de Acesso à Informação.</p>
				<p>Os arquivos estão disponíveis em formato DOC (Microsoft Word) e em formato aberto ODT (OpenDocument.org) e podem ser baixados ao clicar na extensão desejada.</p>
				
				<h2>Formulários para Pedido de acesso à informação</h2>
				
		
<!-- 					<p:dataTable value="#{arquivosLists.loadFiles('/SE-Ouv/formulariosSIC')}" var="arquivo" widgetVar="fileTable" -->
<!-- 			    		expandableRowGroups="true" sortBy="#{arquivo.pasta}" sortOrder="descending" resizableColumns="true"  -->
<!-- 			    		style="text-align: center; margin-top: 20px" emptyMessage="Nenhum arquivo encontrado"> -->
<!-- 			    		<p:headerRow> -->
<!-- 				    		<p:column colspan="3"> -->
<!-- 						        <h:outputText value="#{arquivo.pasta}" style="text-align: left;" /> -->
<!-- 						    </p:column> -->
<!-- 				        </p:headerRow> -->
					    
<!-- 			    		<p:column headerText="Nome" style="text-align: left;"> -->
<!-- 			    			<h:panelGroup rendered="#{arquivo.formato eq 'pdf'}"><i class="fa fa-file-pdf-o" style="margin-right:5px"/></h:panelGroup> -->
<!-- 			    			<h:panelGroup rendered="#{arquivo.formato eq 'rar' or arquivo.formato eq 'zip'}"><i class="fa-file-archive-o" style="margin-right:5px"/></h:panelGroup> -->
<!-- 					        <h:outputLink value="#{arquivo.endereco}" >#{arquivo.nome}</h:outputLink> -->
<!-- 					    </p:column> -->
					    
<!-- 			    		<p:column headerText="Tamanho" width="200"> -->
<!-- 					        <h:outputText value="#{arquivo.tamanho}" /> -->
<!-- 					    </p:column> -->
					    
<!-- 			    		<p:column headerText="Atualização" width="200"> -->
<!-- 					        <h:outputText value="#{arquivo.dtAtualizacao}" > -->
<!-- 					        	<f:convertDateTime pattern="dd/MM/yyyy hh:mm" /> -->
<!-- 				        	</h:outputText> -->
<!-- 					    </p:column> -->
					    
<!-- 			    	</p:dataTable> -->
					
	    	<ul>
    			<li>
	    			<a href="http://arquivos.setc.se.gov.br/SE-Ouv/formulariosSIC/Pessoa%20Fisica/Formulario-SIC-Pessoa-Fisica.pdf">Pessoa Física</a>
	    		</li>
	    		<li>
	    			<a href="http://arquivos.setc.se.gov.br/SE-Ouv/formulariosSIC/Pessoa%20Juridica/Formulario-SIC-Pessoa-Juridica.pdf">Pessoa Jurídica</a>
	    		</li>
	    	</ul>

			</h:form>
			
		</ui:define>

	</ui:composition>

</h:body>

</html>