<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content">
		
			<h:panelGroup styleClass="inlineLogin" >
				
				<h:form id="Loginform">
					<h:panelGroup styleClass="loginForm" style="max-width: 500px;">
						<h:outputText value="Já possuo cadastro" styleClass="tituloBox" style="align-self: flex-start; margin:0 !important"/>
						<p style="font-size:.9em; color:gray; margin-bottom:2em">Acesse o sistema com seus dados cadastrados</p>
						
						<p:outputLabel value="Usuário:" for="user" required="true"/>
						<p:inputText id="user" value="#{loginBean.username}" style="width:100%"/>
						
						<p:outputLabel value="Senha:" for="senha" />
						<p:password id="senha" value="#{loginBean.senha}" style="width:100%; box-sizing: border-box;" onkeypress="if((event.keyCode==13)||(window.event.keyCode==13)){document.getElementById('botaoLink').click();}"/>
						
						<p:commandLink value="Esqueci minha senha" id="redefinirSenha" style="width:100%; box-sizing: border-box; font-size:.9em; color: #3d6ea9; text-decoration:none;" action="/pagina/solicitarSenha.xhtml"/>
						
						<p:commandLink styleClass="botaoLink" action="#{loginBean.login()}" update="@all growl" style="width:100%; box-sizing: border-box; -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; margin-top: .5em">
							<h:outputText value="Entrar" />
							<i class="fa fa-sign-in" style="color: white; padding-left: 5px" />
						</p:commandLink>
						
						<p:separator styleClass="separator" style="align-self:flex-start; margin-top: 1em"/>
						
						<h:panelGroup styleClass="column nowrap justify-center" style="width:100%">
							<h:outputText value="Ainda não tem cadastro?" style="font-size: 14px;color: gray;max-width: 700px;text-align: center; margin-bottom: 1em;" />
							<p:commandLink styleClass="botaoLink" action="/cadastro/cidadao" style="width:100%; box-sizing: border-box; -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center">
								<h:outputText value="Cadastre-se" />
								<i class="fa fa-sign-up" style="color: white; padding-left: 5px" />
							</p:commandLink>
						</h:panelGroup>
						
					</h:panelGroup>
				</h:form>
				
			</h:panelGroup>
			
		</ui:define>
	</ui:composition>
</h:body>

</html>
