<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
	
	<h:form id="redef_senha2" styleClass="cad_form" rendered="#{redefinirSenhaBean.linkValido}" >

		<div class="ficha">
		
			<p:panelGrid columns="1" style="margin-bottom:1vh; padding:0 1vh 1vw 1vw;" >

				<f:facet name="header">
					<br />
					<h:outputText value="Redefinir Senha" style="color:#1a568c; font-size:25px; padding: 0 7vw;" />
					<br /><br />
				</f:facet>
		
				<p:outputLabel value="Nova senha:" for="senha1" />
				<p:password id="senha1" match="senha2" value="#{redefinirSenhaBean.novaSenha}" placeholder="Digite nova senha" required="true" requiredMessage="Insira nova senha"/>
				
				<p:outputLabel value="Confirmar nova senha:" for="senha2" />
				<p:password id="senha2" required="true" placeholder="Digite nova senha" />
		
			
			<p:commandLink action="#{redefinirSenhaBean.redefinirSenha}" id="redefSenha" class="botaoLink">
				<h:outputText value="Redefinir senha" />
				<i class="fa fa-check-square-o" style="color: white; padding-left: 3px" />
			</p:commandLink>					

			</p:panelGrid>
		</div>

	</h:form>
	
	<h:form rendered="#{!redefinirSenhaBean.linkValido}">
		<h:panelGroup styleClass="cad_form">
			<h:outputText value="Link expirado" style="color: #1a568c;font-size: 40px;margin: 2vh;" />
			<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/alarm-clock.png" style="margin-bottom: 2vh; filter: drop-shadow(4px 4px #ffffff) drop-shadow(-4px -4px #ffffff);"/>
			<p:commandLink styleClass="botaoLink" value="Solicitar Novamente" action="/pagina/solicitarSenha.xhtml" style="align-self:center;max-width:200px;text-align:center;font-variant:all-petite-caps;font-size:1.5em;padding-bottom: .7em;"/>
		</h:panelGroup>
	</h:form>

</ui:define>
</ui:composition>
</h:body>
</html>