<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
	
	<h:panelGroup styleClass="column" style="padding: 3em 15em">
		<h:outputText value="Rede de Ouvidoria" styleClass="tituloBox" />
		<p:separator styleClass="separator2"/>
		
		<p style="text-align:center">Abaixo, relacionamos os contatos das <strong>Ouvidorias Setoriais</strong> que fazem parte da Rede de <strong>Ouvidoria Estadual</strong>:</p>
		
		<p:dataTable var="ouvidor" value="#{redeOuvidoriaBean.listOuvidores}" sortBy="#{ouvidor.entidade.sigla}" styleClass="translucent">
			<p:headerRow field="entidade.sigla" expandable="false">

                <p:column colspan="1" headerText="Ouvidores">
                    <h:panelGroup styleClass="column" style="vertical-align: middle">
						<p:separator style="box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.07);border: 0;height: 1px;background: none;"/>
						
                        <h:outputText value="#{ouvidor.entidade.sigla} - #{ouvidor.entidade.nome}" style="font-weight:bold;"/>
                        
                        <h:panelGroup styleClass="row" style="margin-left: 1em; margin-top:.7em; margin-bottom:.7em;" rendered="#{ouvidor.entidade.site ne ''}">
							<h:outputText value="Site: " style="font-weight:bold"/>
							<h:outputLink value="http://#{ouvidor.entidade.site}" style="color: #428bca;text-decoration: none;" target="_blank">#{ouvidor.entidade.site}</h:outputLink>
		 				</h:panelGroup>
		 				
						<h:panelGroup styleClass="row" style="margin-left: 1em;" rendered="#{ouvidor.entidade.telefone ne ''}">
							<h:outputText value="Telefone: " style="font-weight:bold"/>
							<h:outputText value="#{ouvidor.entidade.telefone}"/>
						</h:panelGroup>
						
						<h:panelGroup styleClass="row" style="margin-left: 1em;" rendered="#{ouvidor.entidade.endereco ne ''}">
							<h:outputText value="Endereço: " style="font-weight:bold"/>
							<h:outputText value="#{ouvidor.entidade.endereco}"/>
						</h:panelGroup>
						
						<h:panelGroup styleClass="row" style="margin-left: 1em;" rendered="#{ouvidor.entidade.horario ne ''}">
							<h:outputText value="Horário de atendimento: " style="font-weight:bold"/>
							<h:outputText value="#{ouvidor.entidade.horario}"/>
						</h:panelGroup>
						
						<h:outputText value="Ouvidores: " style="font-weight:bold; margin-top:.7em; margin-left: 1em;"/>
						
                    </h:panelGroup>
                </p:column>
            </p:headerRow>
            
            <p:column>
                <h:outputText value="#{ouvidor.usuario.nome}"  style="margin-left: 2em"/>
            </p:column>
		</p:dataTable>
		
	</h:panelGroup>
	

</ui:define>
</ui:composition>
</h:body>

</html>