<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition template="/templates/template.xhtml">

		<ui:define name="content">

			<h:form style="padding: 1.5vw 15vw">
			
				<h1 style="margin-bottom: 0;">Sobre</h1>
				<p:separator styleClass="separator2"/>

				<h2>A Ouvidoria Geral do Estado de Sergipe</h2>

				<p>A Ouvidoria Geral do Estado de Sergipe - OGE/SE, criada pela
					Lei nº 8.496, de 28 de dezembro de 2018 e regulamentada pelo
					Decreto Governamental nº 40.370 de 30 de abril de 2019, subordinada
					diretamente à Secretaria de Estado da Transparência e Controle -
					SETC, e ao Governador do Estado.</p>

				<p>Tem por finalidade, com vistas à promoção do exercício da
					cidadania, receber, encaminhar e acompanhar manifestações,
					sugestões, reclamações e denúncias dos cidadãos, relativas à
					prestação de serviços públicos em geral e pedidos de Acesso à
					Informação, na forma da Lei Federal nº 12.527/2011, e demais normas
					regulamentares, assim como recomendar ações e medidas
					administrativas e legais contra o exercício negligente ou abusivo
					de cargos, empregos e funções do Poder Executivo Estadual, sem
					prejuízo das competências específicas de outros órgãos integrantes
					da administração.</p>

				<p>Com esta formatação, a Ouvidoria Geral está apta a coordenar
					as ações da Rede de Ouvidorias do Poder Executivo Estadual, com o
					propósito de fomentar a participação popular, receber e processar
					as demandas dos cidadãos/usuários, além de contribuir na formulação
					de políticas públicas e na melhoraria das ações de controle interno
					e da qualidade dos serviços estaduais prestados à sociedade.</p>

				<h2>Modelo de atuação</h2>

				<p>A Ouvidoria Geral do Estado de Sergipe destaca-se por atuar
					como instrumento de controle social, contribuindo para aumentar a
					confiabilidade do Governo perante a sociedade, configurando-se como
					um canal de participação do cidadão na gestão estadual.</p>

				<p>Para atender efetivamente os mais variados assuntos
					recebidos, que dizem respeito ao funcionamento das políticas e
					serviços executados pelos órgãos e entidades da administração
					pública estadual, tornou-se necessária a implementação efetiva da
					Rede de Ouvidorias do Poder Executivo Estadual.</p>

				<p>Essa rede é composta por ouvidorias setoriais e
					representantes designados pelos órgãos e entidades, com o objetivo
					de atuarem diretamente nas demandas relacionadas com as demandas de
					Ouvidoria.</p>
					
				<ul style="list-style-type:square;margin-bottom:1em;margin-left:3em">
					<li>Ouvidoria Geral do Estado – órgão central da rede de ouvidorias, com atribuições de propor as políticas e diretrizes de ouvidoria; implantar, integrar e coordenar a Rede de Ouvidorias, estabelecendo padrões de controle de qualidade, eficiência, procedimentos de trabalho e capacitação profissional; desenvolver análises, diagnósticos e indicadores, com o propósito de disponibilizar informações aos cidadãos e gestores públicos, entre outras. </li>
					<li>Ouvidoria Setorial – órgão interno formalmente instituído na estrutura básica organizacional da instituição a que pertence, responsável pelo desempenho das atividades de ouvidoria relacionadas com o respectivo local. </li>
					<li>Ouvidor Setorial – servidor diretamente subordinado ao dirigente da instituição a que pertence, designados para o desempenho das atividades de ouvidoria. </li>
				</ul>

				<p>A Ouvidoria-Geral atua diretamente na organização da Rede de Ouvidoria Estadual, criando condições para que sejam executadas as seguintes funções principais:</p>

				<ul style="list-style-type:square;margin-bottom:1em;margin-left:3em">
					<li>Em nível operacional, atuar como canal de comunicação entre a administração pública e os cidadãos/usuários, recebendo as demandas, processando as informações e respondendo ao usuário de forma eficiente e satisfatória, aumentando a confiabilidade do governo e fortalecendo a democracia;</li>
					<li>Em nível estratégico, atuar como instrumento de apoio gerencial, integrada ao controle interno, onde as informações encaminhadas pela sociedade serão utilizadas para produção de indicadores estratégicos visando subsidiar os gestores na elaboração de políticas públicas que permitam melhorar e ampliar os serviços prestados à sociedade.</li>
				</ul>
				
				<p>A atuação da Ouvidoria Geral deve pautar também pelo desenvolvimento de mecanismos de interação entre o controle social e o controle interno, de forma que a informação social disponível contribua para uma maior efetividade do sistema de controle interno, através de ações com foco em prevenção. Essa integração tende a ampliar a fiscalização das ações públicas e a contribuir para a redução das falhas na prestação dos serviços, bem como fortalecer os princípios éticos na condução dos negócios públicos.</p>
				
				
				<p>Nessa concepção de atuação, o modelo de funcionamento da OGE deve abranger, além da resposta ao cidadão, mecanismos para que se faça chegar aos gestores informações sociais para subsidiar a elaboração de políticas, projetos e ações públicas, bem como a utilização da informação cidadã para ampliar e qualificar as ações de controle interno.</p>
				
				<h2>Compete à Ouvidoria Geral do Estado</h2>
				
				<ul style="list-style-type:square;margin-bottom:1em;margin-left:3em">
					<li>Receber, examinar e encaminhar manifestações, sugestões, reclamações e denúncias dos cidadãos relativas à prestação de serviços públicos em geral, referentes a procedimentos e ações de agentes, órgãos e entidades do Poder Executivo Estadual;</li>
					<li>Receber, examinar e encaminhar os pedidos de acesso à informação, na forma da Lei Federal nº 12.527/2011 e demais normas regulamentares;</li>
					<li>Ampliar e manter canais de comunicação entre a Administração Pública e a sociedade civil, expandindo a capacidade do cidadão de participar da fiscalização e avaliação das ações do Poder Executivo Estadual;</li>
					<li>Definir critérios para a promoção e o acompanhamento de procedimentos junto aos órgãos e entidades componentes do sistema de ouvidoria, informando os resultados aos interessados e garantindo ao cidadão, orientação, informação e resposta;</li>
					<li>Examinar, propor e promover mecanismos e instrumentos alternativos de coleta de manifestações, privilegiando os meios eletrônicos de comunicação;</li>
					<li>Sistematizar e consolidar as informações recebidas, através de relatórios periódicos;</li>
					<li>Instituir e organizar os indicadores de avaliação da satisfação dos cidadãos quanto ao fornecimento de informações e prestação de serviços públicos;</li>
					<li>Propor soluções para as questões apresentadas e oferecer informações gerenciais e recomendações às autoridades competentes, objetivando o aprimoramento da prestação dos serviços públicos;</li>
					<li>Recomendar ações e medidas, administrativas e legais, quando necessárias à prevenção, combate e correção dos fatos apreciados;</li>
					<li>Cientificar as autoridades competentes das questões que lhe forem apresentadas ou que, de qualquer outro modo, cheguem ao seu conhecimento, requisitando informações e documentos;</li>
					<li>Promover a implantação e gestão do sistema de ouvidoria;</li>
					<li>Exercer a coordenação, supervisão e direção do sistema de ouvidoria;</li>
					<li>Criar mecanismos e instrumentos de monitoramento, avaliação e controle dos procedimentos de ouvidoria;</li>
					<li>Promover, articular e apoiar outras ações para a difusão e divulgação de práticas de cidadania;</li>
					<li>Articular-se, fortalecendo os canais de comunicação com os diversos órgãos e entidades da Administração Pública Estadual.</li>
				</ul>
				
				<h2>Prazos de Atendimento</h2>
				
				<dl style="list-style-type:square;margin-bottom:1em;">
					<dt style="font-variant:small-caps"><strong>DENÚNCIA</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
						<dd>Manifestação que aponta irregularidades nos atos da Administração Pública Estadual e seus servidores, tendo em vista a inobservância das normas e procedimentos legais, acarretando prejuízo ao patrimônio público; ou manifestação que aponta irregularidades em atos praticados por pessoas jurídicas contra a Administração Pública Estadual.</dd>
					<dt style="margin-top:.5em;font-variant:small-caps"><strong>RECLAMAÇÃO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
						<dd>Trata-se de manifestação de insatisfação com o serviço público prestado pelos órgãos do Poder Executivo Estadual.</dd>
					<dt style="margin-top:.5em;font-variant:small-caps"><strong>ELOGIO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
						<dd>Manifestação que demonstra a satisfação com o serviço prestado pela Administração Pública Estadual.</dd>
					<dt style="margin-top:.5em;font-variant:small-caps"><strong>SUGESTÃO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
						<dd>Manifestação que apresenta propostas e ideias para a melhoria da gestão pública estadual.</dd>
					<dt style="margin-top:.5em;font-variant:small-caps"><strong>SOLICITAÇÃO</strong> (30 dias, prorrogáveis por mais 30 dias justificados)</dt>
						<dd>Requerimento de adoção de providência por parte da administração pública estadual.</dd>
					<dt style="margin-top:.5em;font-variant:small-caps"><strong>PEDIDO DE ACESSO Á INFORMAÇÃO</strong> (20 dias, prorrogáveis por mais 10 dias justificados)</dt>
						<dd>Trata-se de solicitação de informação sobre serviços públicos prestados pelo Estado e pedido de acesso à informação pública e documentos produzidos pelos órgãos do Poder Executivo Estadual, atendendo ao disposto na Lei de Acesso à Informação - LAI, nº 12.527, de 18 / 11 / 2011.</dd>
				</dl>
				
				
				<!-- 				<p style="margin:0 0 0 2em">Rua Vila Cristina, 1051 – Bairro 13 de Julho</p> -->
<!-- 					<p style="margin:0 0 0 2em">CEP: 49020-150 – Aracaju - Sergipe</p> -->
<!-- 					<p style="margin:0 0 0 2em">Horário de funcionamento: 7:00h às 13:00h</p> -->
<!-- 					<p style="margin:0 0 0 2em">Telefone: (79) 3179-4997</p> -->
<!-- 					<p style="margin:0 0 0 2em">E-mail: ouvidoriageral@setc.se.gov.br</p> -->

<!-- 					<h2>Do pedido de Acesso à Informação – Digital</h2> -->

<!-- 					<p>Qualquer pessoa, natural ou jurídica, poderá formular pedido -->
<!-- 						de acesso à informação aos órgãos e entidades da Administração -->
<!-- 						Pública Estadual.</p> -->

<!-- 					<p>O pedido será apresentado eletronicamente, por meio de -->
<!-- 						formulário padrão, disponibilizado no Portal de Acesso à -->
<!-- 						Informação www.lai.se.gov.br, pelo qual o requerente receberá a -->
<!-- 						resposta.</p> -->

<!-- 					<p>O prazo de resposta será contado a partir do primeiro dia -->
<!-- 						útil, após a data de registro do pedido no Serviço de Informações -->
<!-- 						ao Cidadão – SIC.</p> -->

<!-- 					<p>O pedido de acesso à informação deverá conter:</p> -->

<!-- 					<p>I – nome e endereço, completos, do requerente;</p> -->

<!-- 					<p>II – número de documento de identificação válido (CPF ou -->
<!-- 						CNPJ); e</p> -->

<!-- 					<p>III – especificação, de forma clara e precisa, da informação -->
<!-- 						requerida.</p> -->

<!-- 					<p>Não serão atendidos pedidos de acesso à informação:</p> -->

<!-- 					<p>I – genéricos; desproporcionais ou desarrazoados; ou</p> -->

<!-- 					<p>II – que exijam trabalhos adicionais de análise, -->
<!-- 						interpretação ou consolidação de dados e informações, ou serviços -->
<!-- 						de produção ou tratamento de dados, estranhos à competência e -->
<!-- 						atribuições do órgão ou entidade da Administração Pública -->
<!-- 						Estadual.</p> -->

					<h1 style="margin-bottom: 0;">Créditos</h1>
					<div class="inline">
						<p style="margin:0 .5em 0 0">Ícones fornecidos por </p><a href="www.flaticon.com " style="color: #1a568c; font-weight: bold;">FlatIcon</a>
					</div>
<!-- 				</h:panelGroup> -->

			</h:form>
			
		</ui:define>

	</ui:composition>

</h:body>

</html>