<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
			
	<h:form id="redef_senha1" styleClass="cad_form">

		<div class="ficha">
			<p:panelGrid columns="1" style="margin-bottom:1vh; padding:0 1vh 1vw 1vw;" >

				<f:facet name="header">
					<br />
					<h:outputText value="Redefinir Senha" style="color:#1a568c; font-size:25px; padding: 0 7vw;" />
					<br /><br />
				</f:facet>
				
				<p:outputLabel value="Email:" for="email" />
				<p:inputText  id="email" placeholder="Digite seu email" value="#{redefinirSenhaBean.email}" required="true" requiredMessage="Insira email cadastrado" />
				
				<p:commandLink action="#{redefinirSenhaBean.emailRedefinirSenha()}" id="redefSenha" class="botaoLink"> 
					<h:outputText value="Redefinir" />
					<i class="fa fa-check-square-o" style="color: white; padding-left: 3px" />
				</p:commandLink>

			</p:panelGrid>
		</div>
	</h:form>
			
</ui:define>
</ui:composition>
</h:body>
</html>