<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:body id="pageFull">
<ui:composition template="/templates/template.xhtml">
<ui:define name="content">
		
	<h:form>
				
		<h:panelGroup class="mainMenu">
			<h:panelGroup styleClass="tituloInicio column no-wrap" style="width:100%">
				<h:outputText styleClass="corTextoSecundario subTitulo" value="Bem-vindo ao SE-Ouv" />
				<h:outputText styleClass="corTexto titulo" value="Sistema de Ouvidorias" />
				<h:outputText styleClass="corTexto titulo" value="do Estado de Sergipe" />
			</h:panelGroup>
			
			<p:dialog widgetVar="popupDialog" visible="false" modal="true" closable="true" resizable="false" hideEffect="fade" rendered="false">
				<h:panelGroup styleClass="column no-wrap items-center" style="max-width:500px">
					<h:outputText value="Informamos que o telefone 0800 079 0162 ficará temporariamente indisponível por problemas técnicos junto a operadora. Para falar com a Ouvidoria Geral, favor ligar no 3179-4997" />
				
					<p:commandLink class="botaoLinkIcon" onclick="PF('popupDialog').hide();" style="margin-top:1em;">
						<i class="fa fa-check" />
						<h:outputText value="OK" style="margin-left:10px;"  />
					</p:commandLink>
				</h:panelGroup>
			</p:dialog>
			
<!-- 			<h:outputText value="Perfil Logado: #{loginBean.perfilLogado}" rendered="#{loginBean.perfilLogado ne 'logoff'}" /> -->
			
			<!-- =================================== -->
			<!-- =========== MENU LOGOFF =========== -->
			<!-- =================================== -->
			<h:panelGroup rendered="#{loginBean.perfilLogado eq 'logoff'}">
					
				<!-- Nova solicitação -->
				<h:outputText value="Nova manifestação:" styleClass="titulo" style="color:#165389; -ms-flex-item-align:self-start; -ms-grid-row-align:self-start; align-self:self-start; margin-left:1.5em; font-size:1.5em;"/>
				
				<h:panelGroup styleClass="menuBtn bracket">
					<h:panelGroup class="container">
						<h:commandLink id="btnCovidOff" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/covid-selo.png" width="130px" />
								<br/>
								<h:outputText styleClass="tituloMenu" value="Covid-19"/>
							</div>

							<div class="face back">
								<p>Manifestação acerca da Covid-19</p>
							</div>
							
							<f:param name="tema" value="443" />
							<f:param name="sigilo" value="2" />
						</h:commandLink>
					</h:panelGroup>
					
					<h:panelGroup class="container">
						<h:commandLink id="btnInfoOff" styleClass="link card" action="/pagina/login.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/acessInfo.png" width="130px" />
								<br/>
								<h:outputText styleClass="tituloMenu" value="e-SIC"/>
							</div>

							<div class="face back">
								<p>Pedido de informação ou documentos com base na Lei de Acesso à Informação (Lei nº 12.527/2011)</p>
							</div>
							
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnSolOff" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/chat.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Solicitação" style="font-size:30px"/>
							</div>

							<div class="face back">
								<p>Requerimento de adoção de providência por parte da administração pública estadual</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="2" />
							<f:param name="sigilo" value="2" />
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnSugestaoOff" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/sugestion.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Sugestão" />
							</div>

							<div class="face back">
								<p style="font-size: .9em;">Proposição de ideia ou formulação de proposta de	aprimoramento de políticas e serviços prestados pela Administração Pública Estadual</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="3" />
							<f:param name="sigilo" value="2" />
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnReclamaOff" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/dislike.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Reclamação" style="font-size:30px"/>
							</div>

							<div class="face back">
								<p>Demonstração de insatisfação relativa ao serviço público</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="4" />
							<f:param name="sigilo" value="2" />
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnElogioOff" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/like.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Elogio" />
							</div>

							<div class="face back">
								<p>Demonstração, reconhecimento ou satisfação sobre o serviço oferecido ou atendimento recebido</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="5" />
							<f:param name="sigilo" value="2" />
						</h:commandLink>
					</h:panelGroup>
					
					<h:panelGroup class="container">
						<h:commandLink id="btnDenunciaOff" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/megaphone.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Denúncia" />
							</div>

							<div class="face back">
								<p style="font-size: .9em;">Comunicação de prática de ato ilícito cuja solução dependa da atuação de órgãos de controle interno ou externo</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="6" />
							<f:param name="sigilo" value="2" />
						</h:commandLink>
					</h:panelGroup>
				</h:panelGroup>
				
				<!-- Cadastre-se -->
				<h:commandLink styleClass="btnAnon inline" action="/cadastro/cidadao.xhtml?faces-redirect=true">
					<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/clipboard.png" width="60px" />
					
					<h:panelGroup styleClass="column">
						<h:outputText styleClass="tituloMenu" value="Cadastre-se" style="color:darkslategray;word-break: keep-all;"/>
					</h:panelGroup>
				</h:commandLink>
				
			</h:panelGroup> <!--  FIM DO MENU LOGOFF -->
			
			<!-- =================================== -->
			<!-- ========== MENU CIDADÃO =========== -->
			<!-- =================================== -->		
			<h:panelGroup rendered="#{loginBean.perfilLogado eq 'cidadao'}">
				
				<!-- DASHBOARD -->
				<h:panelGroup styleClass="menuDashboard column" >
					<h:panelGroup styleClass="dashboard inline">
						<h:panelGroup styleClass="panel column">
							<h:outputText style="font-size: 3em" value="#{dashboardBean.infoCidadao.total}" />
							<p:separator />
							<h:outputText value="Total" />
						</h:panelGroup>
						<h:panelGroup styleClass="panel column">
							<h:outputText style="font-size: 3em" value="#{dashboardBean.infoCidadao.atendidas}" />
							<p:separator />
							<h:outputText value="Atendidas" />
						</h:panelGroup>
						<h:panelGroup styleClass="panel column">
							<h:outputText style="font-size: 3em" value="#{dashboardBean.infoCidadao.semResposta}" />
							<p:separator />
							<h:outputText value="Sem Resposta" />
						</h:panelGroup>
						<h:panelGroup styleClass="panel column">
							<h:outputText style="font-size: 3em" value="#{dashboardBean.infoCidadao.emTramite}" />
							<p:separator />
							<h:outputText value="Em Trâmite" />
						</h:panelGroup>
						<h:panelGroup styleClass="panel column">
							<h:outputText style="font-size: 3em" value="#{dashboardBean.infoCidadao.naoVisualizada}" />
							<p:separator />
							<h:outputText value="Não Visualizadas" />
						</h:panelGroup>
					</h:panelGroup>
					
					<h:commandLink styleClass="btnConsulta2 inline" action="/consulta/manifestacoes.xhtml">
						<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/search.png" width="30px" />
						<p style="margin: 0; margin-left: .5em">Acompanhar manifestações</p>
					</h:commandLink>
				</h:panelGroup>
				
				<!-- Nova solicitação -->
				<h:outputText value="Nova manifestação:" styleClass="titulo" style="color:#165389; -ms-flex-item-align:self-start; -ms-grid-row-align:self-start; align-self:self-start; margin-left:1.5em; font-size:1.5em;"/>
				<h:panelGroup styleClass="menuBtn bracket">
					
					<h:panelGroup class="container">
						<h:commandLink id="btnCovid" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/covid-selo.png" width="130px" />
								<br/>
								<h:outputText styleClass="tituloMenu" value="Covid-19"/>
							</div>

							<div class="face back">
								<p>Manifestação acerca da Covid-19</p>
							</div>
							
							<f:param name="tema" value="443" />
						</h:commandLink>
					</h:panelGroup>
					
					<h:panelGroup class="container">
						<h:commandLink id="btnInfo" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/acessInfo.png" width="130px" />
								<br/>
								<h:outputText styleClass="tituloMenu" value="e-SIC"/>
							</div>

							<div class="face back">
								<p>Pedido de informação ou documentos com base na Lei de Acesso à Informação (Lei nº 12.527/2011)</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="1" />
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnSol" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/chat.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Solicitação" style="font-size:30px"/>
							</div>

							<div class="face back">
								<p>Requerimento de adoção de providência por parte da administração pública estadual</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="2" />
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnSugestao" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/sugestion.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Sugestão" />
							</div>

							<div class="face back">
								<p style="font-size: .9em;">Proposição de ideia ou formulação de proposta de	aprimoramento de políticas e serviços prestados pela Administração Pública Estadual</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="3" />
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnReclama" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/dislike.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Reclamação" style="font-size:30px" />
							</div>

							<div class="face back">
								<p>Demonstração de insatisfação relativa ao serviço público</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="4" />
						</h:commandLink>
					</h:panelGroup>

					<h:panelGroup class="container">
						<h:commandLink id="btnElogio" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/like.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Elogio" />
							</div>

							<div class="face back">
								<p>Demonstração, reconhecimento ou satisfação sobre o serviço oferecido ou atendimento recebido</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="5" />
						</h:commandLink>
					</h:panelGroup>
					
					<h:panelGroup class="container">
						<h:commandLink id="btnDenuncia" styleClass="link card" action="/cadastro/manifestacao.xhtml">
							<div class="face front link">
								<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/megaphone.png" width="130px" />
								<h:outputText styleClass="tituloMenu" value="Denúncia" />
							</div>

							<div class="face back">
								<p style="font-size: .9em;">Comunicação de prática de ato ilícito cuja solução dependa da atuação de órgãos de controle interno ou externo</p>
							</div>
							
							<f:param name="tab" value="identificacao" />
							<f:param name="tipo" value="6" />
						</h:commandLink>
					</h:panelGroup>
					
				</h:panelGroup>
				
			</h:panelGroup> <!--  FIM DO MENU CIDADÃO -->
			
			<!-- ======================================== -->
			<!-- ====== DASHBOARD OUVIDOR SETORIAL ====== -->
			<!-- ======================================== -->
			<h:panelGroup styleClass="menuDashboard column" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao'}" >
				<h:panelGroup styleClass="dashboard inline">
					<h:panelGroup styleClass="panel column">
						<h:outputText style="font-size: 3em" value="#{dashboardBean.infoOuvidor.total}" />
						<p:separator />
						<h:outputText value="Total" />
					</h:panelGroup>
					<h:panelGroup styleClass="panel column">
						<h:outputText style="font-size: 3em" value="#{dashboardBean.infoOuvidor.atendidas}" />
						<p:separator />
						<h:outputText value="Atendidas" />
					</h:panelGroup>
					<h:panelGroup styleClass="panel column">
						<h:outputText style="font-size: 3em" value="#{dashboardBean.infoOuvidor.semResposta}" />
						<p:separator />
						<h:outputText value="Sem Resposta" />
					</h:panelGroup>
					<h:panelGroup styleClass="panel column">
						<h:outputText style="font-size: 3em" value="#{dashboardBean.infoOuvidor.emTramite}" />
						<p:separator />
						<h:outputText value="Em Trâmite" />
					</h:panelGroup>
					<h:panelGroup styleClass="panel column">
						<h:outputText style="font-size: 3em" value="#{dashboardBean.infoOuvidor.naoVisualizada}" />
						<p:separator />
						<h:outputText value="Não Visualizadas" />
					</h:panelGroup>
				</h:panelGroup>
				
				<h:commandLink styleClass="btnConsulta2 inline" action="/consulta/manifestacoes.xhtml">
					<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/search.png" width="30px" />
					<p style="margin: 0; margin-left: .5em">Acompanhar Manifestações</p>
				</h:commandLink>
			</h:panelGroup> <!--  FIM DO DASHBOARD OUVIDOR SETORIAL -->
					
					
			<!-- ================================================== -->
			<!-- ====== DASHBOARD OGE / ADMINISTRADOR / USCI ====== -->
			<!-- ================================================== -->
			<h:panelGroup rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'usciOrgao' or loginBean.perfilLogado eq 'admin'}">
				<h:panelGroup styleClass="inline" style="width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;" >
				
					<p:chart type="pie" model="#{dashboardBean.graficoDashboard}" widgetVar="chartTipo" responsive="true" styleClass="bigChart" style="min-width: 300px; max-width: 500px; width: 100%; height: 100%"/>
					
					<h:panelGroup id="dashboardPanel" styleClass="inline">
					
						<h:panelGroup styleClass="dashboardSmallPannel column" style="padding: 1em">
							<h:panelGroup styleClass="dashboardSmallPannel inline">
							
								<h:panelGroup styleClass="menuDashboardSmall column" style="margin-right:1em">
									<h:panelGroup styleClass="dashBoardHeader inline" style="background: #1295db">
										<i class="fa fa-info" />
										<p style="margin: 0; margin-left: .5em">Pedidos de Informação</p>
									</h:panelGroup>
									
									<h:panelGroup styleClass="dashboardSmall inline">
										<h:panelGroup styleClass="panel column" style="margin-right: 1em">
											<h:outputText style="font-size: 3em" value="#{dashboardBean.infoInformacao.total}" />
											<p:separator />
											<h:outputText value="Total" />
										</h:panelGroup>
										<h:panelGroup styleClass="panel column" style="margin-right:1em">
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoInformacao.atendidas}" />
												<h:outputText value="Atendidas" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoInformacao.semResposta}" />
												<h:outputText value="Sem Resposta" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoInformacao.emTramite}" />
												<h:outputText value="Em Trâmite" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoInformacao.naoVisualizada}" />
												<h:outputText value="Não Visualizadas" style="margin-left: .5em" />
											</h:panelGroup>
										</h:panelGroup>
									</h:panelGroup>
									
								</h:panelGroup>
								
								<h:panelGroup styleClass="menuDashboardSmall column" style="margin-right:1em">
									<h:panelGroup styleClass="dashBoardHeader inline" style="background: #f0ce14;">
										<i class="fa fa-comments" />
										<p style="margin: 0; margin-left: .5em">Sugestões</p>
									</h:panelGroup>
									
									<h:panelGroup styleClass="dashboardSmall inline">
										<h:panelGroup styleClass="panel column" style="margin-right: 1em">
											<h:outputText style="font-size: 3em" value="#{dashboardBean.infoSugestao.total}" />
											<p:separator />
											<h:outputText value="Total" />
										</h:panelGroup>
										<h:panelGroup styleClass="panel column" style="margin-right:1em">
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSugestao.atendidas}" />
												<h:outputText value="Atendidas" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSugestao.semResposta}" />
												<h:outputText value="Sem Resposta" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSugestao.emTramite}" />
												<h:outputText value="Em Trâmite" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSugestao.naoVisualizada}" />
												<h:outputText value="Não Visualizadas" style="margin-left: .5em" />
											</h:panelGroup>
										</h:panelGroup>
									</h:panelGroup>
									
								</h:panelGroup>
								
								<h:panelGroup styleClass="menuDashboardSmall column">
									<h:panelGroup styleClass="dashBoardHeader inline" style="background: #2b9c1f;">
										<i class="fa fa-hand-o-up" />
										<p style="margin: 0; margin-left: .5em">Solicitações</p>
									</h:panelGroup>
									
									<h:panelGroup styleClass="dashboardSmall inline">
										<h:panelGroup styleClass="panel column" style="margin-right: 1em">
											<h:outputText style="font-size: 3em" value="#{dashboardBean.infoSolicitacao.total}" />
											<p:separator />
											<h:outputText value="Total" />
										</h:panelGroup>
										<h:panelGroup styleClass="panel column" style="margin-right:1em">
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSolicitacao.atendidas}" />
												<h:outputText value="Atendidas" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSolicitacao.semResposta}" />
												<h:outputText value="Sem Resposta" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSolicitacao.emTramite}" />
												<h:outputText value="Em Trâmite" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoSolicitacao.naoVisualizada}" />
												<h:outputText value="Não Visualizadas" style="margin-left: .5em" />
											</h:panelGroup>
										</h:panelGroup>
									</h:panelGroup>
									
								</h:panelGroup>
								
							</h:panelGroup>
								
							<h:panelGroup styleClass="dashboardSmallPannel inline" style="margin-top: 1.5em;">
							
								<h:panelGroup styleClass="menuDashboardSmall column"  style="margin-right:1em">
									<h:panelGroup styleClass="dashBoardHeader inline" style="background: #e69914;">
										<i class="fa fa-thumbs-o-down" />
										<p style="margin: 0; margin-left: .5em">Reclamações</p>
									</h:panelGroup>
									
									<h:panelGroup styleClass="dashboardSmall inline">
										<h:panelGroup styleClass="panel column" style="margin-right: 1em">
											<h:outputText style="font-size: 3em" value="#{dashboardBean.infoReclamacao.total}" />
											<p:separator />
											<h:outputText value="Total" />
										</h:panelGroup>
										<h:panelGroup styleClass="panel column" style="margin-right:1em">
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoReclamacao.atendidas}" />
												<h:outputText value="Atendidas" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoReclamacao.semResposta}" />
												<h:outputText value="Sem Resposta" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoReclamacao.emTramite}" />
												<h:outputText value="Em Trâmite" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoReclamacao.naoVisualizada}" />
												<h:outputText value="Não Visualizadas" style="margin-left: .5em" />
											</h:panelGroup>
										</h:panelGroup>
									</h:panelGroup>
									
								</h:panelGroup>
								
								<h:panelGroup styleClass="menuDashboardSmall column" style="margin-right:1em">
									<h:panelGroup styleClass="dashBoardHeader inline" style="background: #e0299d;">
										<i class="fa fa-thumbs-o-up" />
										<p style="margin: 0; margin-left: .5em">Elogios</p>
									</h:panelGroup>
									
									<h:panelGroup styleClass="dashboardSmall inline">
										<h:panelGroup styleClass="panel column" style="margin-right: 1em">
											<h:outputText style="font-size: 3em" value="#{dashboardBean.infoElogio.total}" />
											<p:separator />
											<h:outputText value="Total" />
										</h:panelGroup>
										<h:panelGroup styleClass="panel column" style="margin-right:1em">
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoElogio.atendidas}" />
												<h:outputText value="Atendidas" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoElogio.semResposta}" />
												<h:outputText value="Sem Resposta" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoElogio.emTramite}" />
												<h:outputText value="Em Trâmite" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoElogio.naoVisualizada}" />
												<h:outputText value="Não Visualizadas" style="margin-left: .5em" />
											</h:panelGroup>
										</h:panelGroup>
									</h:panelGroup>
								</h:panelGroup>
									
								<h:panelGroup styleClass="menuDashboardSmall column">
									<h:panelGroup styleClass="dashBoardHeader inline" style="background: #dd1717;">
										<i class="fa fa-exclamation-circle" />
										<p style="margin: 0; margin-left: .5em">Denúncias</p>
									</h:panelGroup>
									
									<h:panelGroup styleClass="dashboardSmall inline">
										<h:panelGroup styleClass="panel column" style="margin-right: 1em">
											<h:outputText style="font-size: 3em" value="#{dashboardBean.infoDenuncia.total}" />
											<p:separator />
											<h:outputText value="Total" />
										</h:panelGroup>
										<h:panelGroup styleClass="panel column" style="margin-right:1em">
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoDenuncia.atendidas}" />
												<h:outputText value="Atendidas" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoDenuncia.semResposta}" />
												<h:outputText value="Sem Resposta" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoDenuncia.emTramite}" />
												<h:outputText value="Em Trâmite" style="margin-left: .5em" />
											</h:panelGroup>
											<p:separator />
											<h:panelGroup styleClass="panel inline">
												<h:outputText value="#{dashboardBean.infoDenuncia.naoVisualizada}" />
												<h:outputText value="Não Visualizadas" style="margin-left: .5em" />
											</h:panelGroup>
										</h:panelGroup>
									</h:panelGroup>
									
								</h:panelGroup>
								
							</h:panelGroup>
							
						</h:panelGroup>
							
					</h:panelGroup>
				</h:panelGroup>
				
			</h:panelGroup> <!--  FIM DO DASHBOARD OGE / ADMINISTRADOR -->		
					
					
			<!-- ============================ -->
			<!-- ======= MENU BOTÕES ======== -->
			<!-- ============================ -->
			<h:panelGroup styleClass="inline">			
				<!-- CONSULTAR MANIFESTAÇÕES -->
				<h:panelGroup class="botao" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'usciOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}">
					<h:commandLink styleClass="link" action="/consulta/manifestacoes.xhtml?faces-redirect=true">
						<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/monitor.png" width="150px" />
						<h:outputText styleClass="tituloMenu" value="Consulta" />
						<p>Acompanhamento das manifestações</p>
					</h:commandLink>
				</h:panelGroup>
				
				<!-- REALIZAR MANIFESTAÇÃO (ATENDENTE) -->
				<h:panelGroup class="botao" rendered="#{loginBean.perfilLogado eq 'atendenteOrgao' or loginBean.perfilLogado eq 'atendenteOGE' or loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral'}">
					<h:commandLink styleClass="link" action="cadastro/atendimento.xhtml?faces-redirect=true">
						<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/hand.png" width="150px" />
						<h:outputText styleClass="tituloMenu" value="Manifestação" />
						<p>Realizar manifestação como atendente</p>
					</h:commandLink>
				</h:panelGroup>
				
				<!-- BUSCAR MANIFESTAÇÕES POR PROTOCOLO -->
				<h:panelGroup class="botao" rendered="#{loginBean.perfilLogado eq 'atendenteOrgao' or loginBean.perfilLogado eq 'atendenteOGE'}">
					<h:commandLink styleClass="link" action="/consulta/protocolo.xhtml">
						<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/monitor.png" width="150px" />
						<h:outputText styleClass="tituloMenu" value="Consulta" />
						<p>Consultar manifestação por protocolo ou manifestante</p>
					</h:commandLink>
				</h:panelGroup>
				
				<!-- CONSULTAR ÓRGÃO/ENTIDADE -->
				<h:panelGroup class="botao" rendered="#{loginBean.perfilLogado eq 'ouvidorOrgao' or loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}">
					<h:commandLink styleClass="link" action="/consulta/entidades.xhtml">
						<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/office.png" width="150px" />
						<h:outputText styleClass="tituloMenu" value="Entidades" />
						<p>Gerir entidades ou órgãos</p>
					</h:commandLink>
				</h:panelGroup>
	
				<!-- GERIR RESPONSÁVEL -->
				<h:panelGroup class="botao" rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}">
					<h:commandLink styleClass="link" action="/consulta/responsaveis.xhtml">
						<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/businessman.png" width="150px" />
						<h:outputText styleClass="tituloMenu" value="Responsáveis" />
						<p>Gerir responsável</p>
					</h:commandLink>
				</h:panelGroup>
	
				<!-- GERIR TEMAS -->
				<h:panelGroup class="botao" rendered="#{loginBean.perfilLogado eq 'coordenadorOGE' or loginBean.perfilLogado eq 'ouvidorGeral' or loginBean.perfilLogado eq 'admin'}">
					<h:commandLink styleClass="link" action="/consulta/temas.xhtml">
						<p:graphicImage styleClass="icone" value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/checklist.png" width="150px" />
						<h:outputText styleClass="tituloMenu" value="Temas" />
						<p>Gerir lista de temas tratados nas manifestações</p>
					</h:commandLink>
				</h:panelGroup>
				
			</h:panelGroup> <!-- FIM DO MENU BOTÕES -->
					
		</h:panelGroup>
		
		<h:panelGroup styleClass="menuSec" style="padding:0">
	
			<h:panelGroup styleClass="menuAcesso">
				<h:panelGroup styleClass="inline">
					
					<h:outputLink value="https://www.se.gov.br/setc/setc_lai_acesso_a_informacao-1" styleClass="botaoFoot">
							<div id="titulo">
							<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/acessoLogo.png" width="20%" height="20%"/>
							<h:outputText value="LAI" style="padding-left:5%"/>
						</div>
							<p style="font-size:17px; color:#333">Acesso ao LAI</p>
					</h:outputLink>
					
					<h:commandLink action="/pagina/formulariosSIC.xhtml" styleClass="botaoFoot">
						<div id="titulo">
							<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/form.png" width="20%" height="20%"/>
							<h:outputText value="Formulários SIC" style="padding-left:5%; font-size: 90%;"/>
						</div>
							<p style="font-size:17px; color:#333">Formulários relacionados à Lei de Acesso à Informação</p>
					</h:commandLink>
				</h:panelGroup>
				
				<h:panelGroup styleClass="inline">
					<h:commandLink action="/relatorios/relatorios_dinamicos.xhtml" styleClass="botaoFoot">
						<div id="titulo">
							<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/statistics.png" width="20%" height="20%"/>
							<h:outputText value="Estatística" style="padding-left:5%"/>
						</div>
							<p style="font-size:17px; color:#333">Relatórios estatísticos</p>
					</h:commandLink>
					
					<h:outputLink value="http://transparencia.se.gov.br/" styleClass="botaoFoot">
						<div id="titulo">
							<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/transparencia_icon.png" width="20%" height="20%"/>
							<h:outputText value="Transparência" style="padding-left:5%"/>
						</div>
							<p style="font-size:17px; color:#333">Portal da Transparência de Sergipe</p>
					</h:outputLink>
					
					<h:outputLink value="https://www.se.gov.br/anexos/uploads/download/filename_novo/4988/37190658fb8b2df19b7db816ffe197f3.pdf" styleClass="botaoFoot">
						<div id="titulo">
							<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/Banner_Cartilha_SEouv.jpeg" width="100%" height="100%"/>
						</div>
					</h:outputLink>
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
				
	</h:form>

	<script>
	function bigPieExt() {
		this.cfg.grid = {             
			background: 'transparent',
			gridLineColor: '#303030',
			drawBorder: false,
			shadow: false
		};
		this.cfg.legend= {
        	show: false,
	    };
		this.cfg.seriesDefaults = {
	        renderer: $.jqplot.PieRenderer,
	        shadow: false,
	        lineWidth: 1,
	        markerOptions: {
	            shadow: false,
	            size: 7,
	            style: 'circle'
	        }
	    }
	}
</script>

</ui:define>
</ui:composition>
</h:body>

</html>
