<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:body id="pageFull">
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
		
			<h:form prependId="false" styleClass="column items-center">
				<p:wizard id="wizard" widgetVar="wizardW" nextLabel="Avançar" backLabel="Voltar" style="padding: 2vh 4vw; width: -webkit-min-content;width: -moz-min-content;width: min-content;" >
        			<p:tab id="usuario" title="Dados de Acesso">
						<h:panelGroup styleClass="column no-wrap" style="background:white; border:1px solid silver; border-radius: 3px; max-width:500px; padding: 2em">
							<h:outputText value="Os campos abaixo marcados com * são de preenchimento obrigatório."	style="color:gray; align-self: flex-start;" />
									
							<h:outputText value="Dados do Usuário" styleClass="tituloBox" />
									
							<p:outputLabel value="Nome completo: " for="nome" />
							<p:inputText  id="nome" required="true"   maxlength="65" size="55" value="#{cadUsuarioBean.usuarioCadastro.nome}">
								<p:ajax event="blur" listener="#{cadUsuarioBean.gerarNick()}" update="nick" />
								<f:validateLength maximum="65"/>
								<p:keyFilter regEx="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ .'-]+$/" preventPaste="false"/>
							</p:inputText>
							<p:message for="nome" display="text"/>
							
							<p:outputLabel value="Nome de usuário: " for="nick"  />
							<h:outputText id="nick" required="true" readonly="true"  maxlength="50" style="font-weight:bold" value="#{cadUsuarioBean.usuarioCadastro.nick}"/>
							<p:message for="nick" display="text"/>
							
							<p:outputLabel value="Senha:" for="senha1" />
							<p:password id="senha1" match="senha2"
								placeholder="Digite sua senha" required="true" value="#{cadUsuarioBean.usuarioCadastro.senha}" maxlength="20"
								promptLabel="Insira uma senha" feedback="true" weakLabel="Fraca" goodLabel="Boa" strongLabel="Forte">
									<f:validateLength minimum="6" maximum="64" />
							</p:password>
							<p style="font-size:.9em; color:gray;">Sua senha deve conter pelo menos 6 caracteres.</p>
							<p:message for="senha1" display="text"/>
	
							<p:outputLabel value="Confirme sua senha:" for="senha2" />
							<p:password id="senha2" placeholder="Repita sua senha" required="true" />
						</h:panelGroup>
					</p:tab>
					
					<p:tab id="cidadao" title="Dados Pessoais">
						
						<p:panel styleClass="column no-wrap">
							<h:panelGroup styleClass="column" style="width:100%">
								<h:outputText value="Dados Pessoais" styleClass="tituloBox" style="align-self:flex-start; margin:0;" />
								<p:separator styleClass="separator2" style="align-self:flex-start;"/>
							</h:panelGroup>
							
							<h:outputText value="O preenchimento de dados não obrigatórios, como endereço e gênero, auxilia o Governo a coletar informações que serão utilizadas para melhorar 
							o sistema e as políticas de transparência pública. A identificação das pessoas a que essas informações se referirem não será divulgada." 
							style="font-size: 14px;color: gray;max-width: 700px;text-align: justify; margin-bottom: 1em;" />
							<br/>
							<br/>
							
							<h:outputText value="Os campos abaixo marcados com * são de preenchimento obrigatório." style="font-size:14px; color:gray" />
							<br/>
							<br/>
							
							<h:panelGroup style="width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;">
							
								<p:outputLabel value="Tipo Pessoa: " for="tipo" style="color:#1a568c; font-size:25px; margin-top: 0"/>
								<h:panelGroup styleClass="column" style="margin-top: 1em">
									<p:selectOneRadio id="tipo" value="#{cadUsuarioBean.cidadaoCadastro.tipo}" required="true" layout="pageDirection">
										<f:selectItem itemLabel="Física" itemValue="true" />
										<f:selectItem itemLabel="Jurídica" itemValue="false" />
										<p:ajax update="panel" event="change"/>
									</p:selectOneRadio>
								</h:panelGroup>
								
								<h:outputText value="Dados Pessoais" style="color:#1a568c; font-size:25px;" rendered="#{cadUsuarioBean.cidadaoCadastro.tipo}"/>
								<h:outputText value="Dados Cadastrais" style="color:#1a568c; font-size:25px;" rendered="#{!cadUsuarioBean.cidadaoCadastro.tipo}"/>
		
								<h:panelGroup id="panel" styleClass="column">
								
								<h:panelGroup styleClass="inline" style="align-items: flex-start;">
									<h:panelGroup styleClass="column" >
										<p:outputLabel value="E-mail: " for="email" />
										<p:inputText id="email" value="#{cadUsuarioBean.cidadaoCadastro.email}" size="35" maxlength="100" validatorMessage="E-mail inválido" required="true" requiredMessage="Email não pode ser vazio">
											<f:validateLength minimum="5" maximum="100" />
										</p:inputText>
									</h:panelGroup>
									
									<h:panelGroup styleClass="column" style="margin-left: 2vw" rendered="#{!cadUsuarioBean.cidadaoCadastro.tipo}">
										<p:outputLabel value="CNPJ:" for="cnpj"/>
										<p:inputMask id="cnpj" value="#{cadUsuarioBean.cidadaoCadastro.cpf}" mask="99.999.999/9999-99" size="18" disabled="#{cadUsuarioBean.cidadaoCadastro.tipo}">
											<!--<f:validator validatorId="StellaCNPJValidator" />-->
										</p:inputMask>
									</h:panelGroup>
		
									<h:panelGroup styleClass="column" style="margin-left: 2vw" rendered="#cadUsuarioBean.cidadaoCadastro.tipo}">
										<p:outputLabel value="Data de Nascimento: " for="datanasc" />
										<p:calendar styleClass="date" id="datanasc" yearRange="c-120:c" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}"
											showOn="button" value="#{cadUsuarioBean.cidadaoCadastro.datanasc}"
											locale="pt_BR" effect="slideDown" navigator="true"
											pattern="dd/MM/yyyy" mask="true" timeInput="false">
											<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR" timeZone="America/Sao_Paulo" />
										</p:calendar>
									</h:panelGroup>
		
									<h:panelGroup styleClass="column" style="margin-left: 2vw" rendered="#{cadUsuarioBean.cidadaoCadastro.tipo}">
										<p:outputLabel value="Gênero: " for="sexo" />
										<p:selectOneRadio id="sexo" value="#{cadUsuarioBean.cidadaoCadastro.sexo}"	layout="pageDirection" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}">
											<f:selectItem itemLabel="Masculino" itemValue="M" />
											<f:selectItem itemLabel="Feminino" itemValue="F" />
											<f:selectItem itemLabel="Outro" itemValue="O" />
										</p:selectOneRadio>
									</h:panelGroup>
								</h:panelGroup>
		
								<h:panelGroup styleClass="inline">
								</h:panelGroup>
														
								<h:panelGroup styleClass="inline" style="-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;">
									<h:panelGroup styleClass="column" rendered="#{cadUsuarioBean.cidadaoCadastro.tipo}">
										<p:outputLabel value="CPF:" for="cpf"/>
										<p:inputMask id="cpf" value="#{cadUsuarioBean.cidadaoCadastro.cpf}" mask="999.999.999-99" size="15" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}" >
											<!--<f:validator validatorId="StellaCPFValidator" />-->
										</p:inputMask>
									</h:panelGroup>
									
									<h:panelGroup styleClass="column" style="margin-left: 2vw" rendered="#{cadUsuarioBean.cidadaoCadastro.tipo}">
										<p:outputLabel value="RG: " for="rg" />
										<p:inputMask id="rg" value="#{cadUsuarioBean.cidadaoCadastro.rg}" mask="?9999999999999999" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}" size="15"/>
									</h:panelGroup>
		
									<h:panelGroup styleClass="column" style="margin-left: 2vw" rendered="#{cadUsuarioBean.cidadaoCadastro.tipo}">
										<p:outputLabel value="Órgão Expedidor: " for="orgao" />
										<p:inputText id="orgao" value="#{cadUsuarioBean.cidadaoCadastro.orgaexp}" size="15" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}">
											<f:validateLength maximum="45" />
										</p:inputText>
									</h:panelGroup>
									
									<h:panelGroup styleClass="column" style="margin-left: 2vw" rendered="#{cadUsuarioBean.cidadaoCadastro.tipo}">
										<p:outputLabel value="Renda:" for="renda" />
										<p:selectOneMenu id="renda" value="#{cadUsuarioBean.cidadaoCadastro.renda}" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}">
											<f:selectItem itemLabel="Selecionar" itemValue="" />
											<f:selectItem itemLabel="Sem renda" itemValue="0" />
											<f:selectItem itemLabel="Até 2 SM*" itemValue="1" />
											<f:selectItem itemLabel="De 2 a 4 SM*" itemValue="2" />
											<f:selectItem itemLabel="De 4 a 10 SM*" itemValue="3" />
											<f:selectItem itemLabel="De 10 a 20 SM*" itemValue="4" />
											<f:selectItem itemLabel="Acima de 20 SM*" itemValue="5" />
										</p:selectOneMenu>
										<p:outputLabel value="** SM = Salário Mínimo" style="color:gray; font-size:12px; margin: 0" />
									</h:panelGroup>
								</h:panelGroup>
		
								<h:panelGroup styleClass="inline" style="align-items: flex-start;" rendered="#{cadUsuarioBean.cidadaoCadastro.tipo}">
									<h:panelGroup styleClass="column">
										<p:outputLabel value="Escolaridade: " for="escolaridade" />
										<p:selectOneMenu id="escolaridade" value="#{cadUsuarioBean.cidadaoCadastro.escolaridade}" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}">
											<f:selectItem itemLabel="Selecionar" itemValue="" />
											<f:selectItem itemLabel="Analfabeto" itemValue="1" />
											<f:selectItem itemLabel="Semi-Analfabeto" itemValue="2" />
											<f:selectItem itemLabel="Fundamental" itemValue="3" />
											<f:selectItem itemLabel="Ensino Médio Incompleto" itemValue="4" />
											<f:selectItem itemLabel="Ensino Médio Completo" itemValue="5" />
											<f:selectItem itemLabel="Ensino Superior Incompleto" itemValue="6" />
											<f:selectItem itemLabel="Ensino Superior Completo" itemValue="7" />
										</p:selectOneMenu>
									</h:panelGroup>
									
									<h:panelGroup styleClass="column" style="margin-left: 2vw">
										<p:outputLabel value="Telefone:" for="tel"/>
										<p:inputMask id="tel" value="#{cadUsuarioBean.cidadaoCadastro.telefone}" mask="(99) 9 9999-9999" size="12" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}"/>
									</h:panelGroup>
									
									<h:panelGroup styleClass="column" style="margin-left: 2vw">
										<p:outputLabel value="Celular:" for="cel"/>
										<p:inputMask id="cel" value="#{cadUsuarioBean.cidadaoCadastro.celular}" mask="(99) 9 9999-9999" size="12" disabled="#{!cadUsuarioBean.cidadaoCadastro.tipo}"/>
									</h:panelGroup>
								</h:panelGroup>
								
								<h:panelGroup styleClass="inline" rendered="#{!cadUsuarioBean.cidadaoCadastro.tipo}">
									<h:panelGroup styleClass="column">
										<p:outputLabel value="Telefone:" for="tel2"/>
										<p:inputMask id="tel2" value="#{cadUsuarioBean.cidadaoCadastro.telefone}" mask="(99) 9 9999-9999" size="12" disabled="#{cadUsuarioBean.cidadaoCadastro.tipo}"/>
									</h:panelGroup>
									
									<h:panelGroup styleClass="column" style="margin-left: 2vw">
										<p:outputLabel value="Celular:" for="cel2"/>
										<p:inputMask id="cel2" value="#{cadUsuarioBean.cidadaoCadastro.celular}" mask="(99) 9 9999-9999" size="12" disabled="#{cadUsuarioBean.cidadaoCadastro.tipo}"/>
									</h:panelGroup>
								</h:panelGroup>
								
								</h:panelGroup>
								
								<p:separator />
								
								<h:outputText value="Endereço" style="color:#1a568c; font-size:25px;" />
		
								<h:panelGroup styleClass="inline">
									<h:panelGroup styleClass="column">
										<p:outputLabel value="CEP:" />
										<p:inputMask id="cep" widgetVar="cep" value="#{cadUsuarioBean.cidadaoCadastro.cep}" mask="99999-999" onblur="autoComplete()"/>
									</h:panelGroup>
		
									<h:panelGroup styleClass="column" style="margin-left: 2vw">
										<p:outputLabel value="Cidade:" />
										<p:inputText id="cidade" value="#{cadUsuarioBean.cidadaoCadastro.cidade}" maxlength="45">
											<f:validateLength maximum="45"/>
										</p:inputText>
									</h:panelGroup>
		
									<h:panelGroup styleClass="column" style="margin-left: 2vw">
										<p:outputLabel value="Estado: " for="uf" />
										<p:selectOneMenu id="uf" value="#{cadUsuarioBean.cidadaoCadastro.estado}" widgetVar="estado">
											<f:selectItem itemLabel="Selecionar" itemValue="" />
											<f:selectItem itemLabel="Acre" itemValue="AC" />
											<f:selectItem itemLabel="Alagoas" itemValue="AL" />
											<f:selectItem itemLabel="Amapá" itemValue="AP" />
											<f:selectItem itemLabel="Amazonas" itemValue="AM" />
											<f:selectItem itemLabel="Bahia" itemValue="BA" />
											<f:selectItem itemLabel="Ceará" itemValue="CE" />
											<f:selectItem itemLabel="Distrito Federal" itemValue="DF" />
											<f:selectItem itemLabel="Espirito Santo" itemValue="ES" />
											<f:selectItem itemLabel="Goiás" itemValue="GO" />
											<f:selectItem itemLabel="Maranhão" itemValue="MA" />
											<f:selectItem itemLabel="Mato Grosso" itemValue="MT" />
											<f:selectItem itemLabel="Mato Grosso do Sul" itemValue="MS" />
											<f:selectItem itemLabel="Minas Gerais" itemValue="MG" />
											<f:selectItem itemLabel="Pará" itemValue="PA" />
											<f:selectItem itemLabel="Paraíba" itemValue="PB" />
											<f:selectItem itemLabel="Paraná" itemValue="PR" />
											<f:selectItem itemLabel="Piauí" itemValue="PI" />
											<f:selectItem itemLabel="Rio de Janeiro" itemValue="RJ" />
											<f:selectItem itemLabel="Rio Grande do Norte" itemValue="RN" />
											<f:selectItem itemLabel="Rio Grande do Sul" itemValue="RS" />
											<f:selectItem itemLabel="Rondônia" itemValue="RO" />
											<f:selectItem itemLabel="Roraima" itemValue="RR" />
											<f:selectItem itemLabel="Santa Catarina" itemValue="SC" />
											<f:selectItem itemLabel="São Paulo" itemValue="SP" />
											<f:selectItem itemLabel="Sergipe" itemValue="SE" />
											<f:selectItem itemLabel="Tocantins" itemValue="TO" />
										</p:selectOneMenu>
									</h:panelGroup>
								</h:panelGroup>
		
								<h:panelGroup styleClass="inline">
									<h:panelGroup styleClass="column">
										<p:outputLabel value="Logradouro:" />
										<p:inputText id="rua" value="#{cadUsuarioBean.cidadaoCadastro.endereco}" size="40" maxlength="100">
											<f:validateLength maximum="100" />
										</p:inputText>
									</h:panelGroup>
		
									<h:panelGroup styleClass="column" style="margin-left: 2vw">
										<p:outputLabel value="Bairro:" />
										<p:inputText id="bairro" value="#{cadUsuarioBean.cidadaoCadastro.bairro}" size="29" maxlength="45">
											<f:validateLength maximum="45"/>
										</p:inputText>
									</h:panelGroup>
								</h:panelGroup>
		
								<h:panelGroup styleClass="inline">
									<h:panelGroup styleClass="column">
										<p:outputLabel value="Número:" for="numero" />
										<p:inputNumber id="numero" value="#{cadUsuarioBean.cidadaoCadastro.numero}" size="10" maxlength="5" decimalPlaces="0" emptyValue="empty">
											<f:validateLength maximum="5" />
										</p:inputNumber>
		
									</h:panelGroup>
		
									<h:panelGroup styleClass="column" style="margin-left: 2vw">
										<p:outputLabel value="Complemento: " for="complemento" />
										<p:inputText id="complemento" value="#{cadUsuarioBean.cidadaoCadastro.complemento}" maxlength="200" size="59">
											<f:validateLength maximum="200" />
										</p:inputText>
									</h:panelGroup>
								</h:panelGroup>
							
								<p:commandLink action="#{cadUsuarioBean.salvar()}" id="novoUsuario" class="botaoLink" >
									<h:outputText value="Cadastrar" />
									<i class="fa fa-arrow-right" style="color: white; padding-left: 3px" />
								</p:commandLink>
							</h:panelGroup>
						</p:panel>
						
						
					</p:tab>
				</p:wizard>
			</h:form>
			
			<!-- =========================== -->
			<!-- JAVASCRIPT CEP AUTOCOMPLETE -->
			<!-- =========================== -->
			<script type="text/javascript">

		        $(document).ready(function() {

			        console.log("document.ready()");
		        });
		
			</script>
			
			<script type="text/javascript">
				function limpa_formulário_cep() {
	                // Limpa valores do formulário de cep.
	                $("#cep").val("");
	                $("#bairro").val("");
	                $("#cidade").val("");
	                $("#rua").val("");
	                PF('estado').selectValue("");
	            }
	            
	            //Quando o campo cep perde o foco.
	            function autoComplete() {
	            	console.log("#cep blur");
					
	                //Nova variável "cep" somente com dígitos.
	                var cep = $("#cep").val().replace(/\D/g, '');
	
	                //Verifica se campo cep possui valor informado.
	                console.log("Verifica campo cep");
	                if (cep != "") {
	                	console.log("#cep não vazio");
	
	                    //Expressão regular para validar o CEP.
	                    var validacep = /^[0-9]{8}$/;
	
	                    //Valida o formato do CEP.
	                    if(validacep.test(cep)) {
	
	                        //Preenche os campos com "..." enquanto consulta webservice.
	                        $("#bairro").val("...");
	                        $("#cidade").val("...");
	                        $("#rua").val("...");
	
	                        //Consulta o webservice viacep.com.br/
	                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
	
	                            if (!("erro" in dados)) {
	                                //Atualiza os campos com os valores da consulta.
	                                $("#bairro").val(dados.bairro);
	                                $("#cidade").val(dados.localidade);
	                                $("#rua").val(dados.logradouro);
	                                PF('estado').selectValue(dados.uf);
	                                console.log("#cep preenchido");
	                            } //end if.
	                            else {
	                                //CEP pesquisado não foi encontrado.
	                                limpa_formulário_cep();
	                                alert("CEP não encontrado.");
	                            }
	                        });
	                    } //end if.
	                    else {
	                        //cep é inválido.
	                        limpa_formulário_cep();
	                        alert("Formato de CEP inválido.");
	                    }
	                } //end if.
	                else {
	                    //cep sem valor, limpa formulário.
	                    console.log("#cep vazio");
	                    limpa_formulário_cep();
	                }
	            }
			</script>
		</ui:define>
	</ui:composition>
</h:body>

</html>