<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:body id="pageFull">
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h:form>
				
				<p:wizard id="wizard" widgetVar="wizardW" flowListener="#{cadManifestacaoBean.onFlowProcess}" nextLabel="Avançar" backLabel="Retornar" style="padding: 2vh 4vw" >
	        		<p:tab id="tipo" title="Tipo de Manifestação" >
						<p:panel header="Selecione o tipo da Manifestação">

							<p:selectOneRadio id="customRadio" value="#{cadManifestacaoBean.manifestacaoCadastro.tipo}"	layout="custom">
								<f:selectItem itemLabel="e-SIC" itemValue="Informação" />
								<f:selectItem itemLabel="Solicitação" itemValue="Solicitação" />
								<f:selectItem itemLabel="Sugestão" itemValue="Sugestão" />
								<f:selectItem itemLabel="Reclamação" itemValue="Reclamação" />
								<f:selectItem itemLabel="Elogio" itemValue="Elogio" />
								<f:selectItem itemLabel="Denúncia" itemValue="Denúncia" />
							</p:selectOneRadio>
							
							<h:panelGroup styleClass="row-nowrap justify-around">
								<h:panelGroup id="btnInfo" styleClass="column-nowrap items-center">
									<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/acessInfo.png" width="80vh" />
									<h:outputText styleClass="titulo" value="e-SIC" style="font-size:30px; padding: 2% 0;" />
						            <p:radioButton id="opt1" for="customRadio" itemIndex="0" />
					            </h:panelGroup>
						 		
						 		<h:panelGroup id="btnSol" styleClass="column-nowrap items-center">
						 			<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/chat.png" width="80vh" />
									<h:outputText styleClass="titulo" value="Solicitação" style="font-size:30px; padding: 2% 0;" />
						            <p:radioButton id="opt2" for="customRadio" itemIndex="1" />
					            </h:panelGroup>
					            
						 		<h:panelGroup id="btnSugestao" styleClass="column-nowrap items-center">
						 			<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/sugestion.png" width="80vh" />
									<h:outputText styleClass="titulo" value="Sugestão" style="font-size:30px; padding: 2% 0;" />
						            <p:radioButton id="opt3" for="customRadio" itemIndex="2" />
					            </h:panelGroup>
					            
						 		<h:panelGroup id="btnReclama" styleClass="column-nowrap items-center">
						 			<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/dislike.png" width="80vh" />
									<h:outputText styleClass="titulo" value="Reclamação" style="font-size:30px; padding: 2% 0;" />
						            <p:radioButton id="opt4" for="customRadio" itemIndex="3" />
					            </h:panelGroup>
					            
						 		<h:panelGroup id="btnElogio" styleClass="column-nowrap items-center">
						 			<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/like.png" width="80vh" />
									<h:outputText styleClass="titulo" value="Elogio" style="font-size:30px; padding: 2% 0;" />
						            <p:radioButton id="opt5" for="customRadio" itemIndex="4" />
					            </h:panelGroup>
					            
						 		<h:panelGroup id="btnDenuncia" styleClass="column-nowrap items-center">
						 			<p:graphicImage value="https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/icon/megaphone.png" width="80vh" />
									<h:outputText styleClass="titulo" value="Denúncia" style="font-size:30px; padding: 2% 0;" />
						            <p:radioButton id="opt6" for="customRadio" itemIndex="5" />
					            </h:panelGroup>
					        </h:panelGroup>
							
							<p:tooltip id="tooltipInfo" for="btnInfo" value="Pedido de informação ou documentos com base na Lei de Acesso à Informação (Lei nº 12.527/2011)" showEffect="clip" hideEffect="clip" position="bottom" styleClass="tooltipQuest"/>
							<p:tooltip id="tooltipSol" for="btnSol" value="Requerimento de adoção de providência por parte da administração pública estadual" showEffect="clip" hideEffect="clip" position="bottom" styleClass="tooltipQuest"/>
							<p:tooltip id="tooltipSugestao" for="btnSugestao" value="Proposição de ideia ou formulação de proposta de aprimoramento de políticas e serviços prestados pela Administração Pública Estadual." showEffect="clip" hideEffect="clip" position="bottom"/>
							<p:tooltip id="tooltipReclama" for="btnReclama" value="Demonstração de insatisfação relativa ao serviço público." showEffect="clip" hideEffect="clip" position="bottom" styleClass="tooltipQuest"/>
							<p:tooltip id="tooltipElogio" for="btnElogio" value="Demonstração, reconhecimento ou satisfação sobre o serviço oferecido ou atendimento recebido." showEffect="clip" hideEffect="clip" position="bottom" styleClass="tooltipQuest"/>
							<p:tooltip id="tooltipDenuncia" for="btnDenuncia" value="Comunicação de prática de ato ilícito cuja solução dependa da atuação de órgãos de controle interno ou externo." showEffect="clip" hideEffect="clip" position="bottom" styleClass="tooltipQuest"/>

						</p:panel>
	        		
	        		</p:tab>

					<p:tab id="identificacao" title="Identificação">
						<p:panel header="Escolha o tipo de identificação da manifestação">
							<h:panelGroup id="panelIdentificacao" styleClass="column-nowrap items-center">
								<p style="margin-bottom:0; text-align: left;">A Ouvidoria garante que os seus dados servirão para avaliar melhor as políticas públicas e propor melhorias voltadas para você ou para sua comunidade.</p>
								
								<p:selectOneRadio id="sigilo" value="#{cadManifestacaoBean.manifestacaoCadastro.sigilo}" style="margin-top:1em" rendered="#{cadManifestacaoBean.manifestacaoCadastro.tipo ne 'Informação' and loginBean.perfilLogado ne 'logoff'}" required="#{cadManifestacaoBean.manifestacaoCadastro.tipo ne 'Informação' and loginBean.perfilLogado ne 'logoff'}">
						        	<f:selectItem itemLabel="Manifestação Identificada" itemValue="0" />
						       		<f:selectItem itemLabel="Manifestação Sigilosa" itemValue="1" />
									<f:selectItem itemLabel="Manifestação Anônima" itemValue="2"/>
									<p:ajax update="panelIdentificacao" event="change"/>
						        </p:selectOneRadio>
						        
						        <p:selectOneRadio id="sigilo2" value="#{cadManifestacaoBean.manifestacaoCadastro.sigilo}" style="margin-top:1em" rendered="#{cadManifestacaoBean.manifestacaoCadastro.tipo ne 'Informação' and loginBean.perfilLogado eq 'logoff'}" required="#{cadManifestacaoBean.manifestacaoCadastro.tipo ne 'Informação' and loginBean.perfilLogado eq 'logoff'}">
									<f:selectItem itemLabel="Manifestação Anônima" itemValue="2"/>
									<p:ajax update="panelIdentificacao" event="change"/>
						        </p:selectOneRadio>
						        
								<p:selectOneRadio id="sigilo3" value="#{cadManifestacaoBean.manifestacaoCadastro.sigilo}" style="margin-top:1em" rendered="#{cadManifestacaoBean.manifestacaoCadastro.tipo eq 'Informação'}" required="#{cadManifestacaoBean.manifestacaoCadastro.tipo eq 'Informação'}">
						        	<f:selectItem itemLabel="Manifestação Identificada" itemValue="0" />
									<p:ajax update="panelIdentificacao" event="change"/>
						        </p:selectOneRadio>
						        
						        <h:panelGroup id="panelTextoIdentificacao" style="margin: 1em; padding: 1em; background: #dae3f6; color: #0081c2; border-radius: 3px; max-width:" rendered="#{cadManifestacaoBean.manifestacaoCadastro.sigilo ne '0'}">
						        	<h:outputText rendered="#{cadManifestacaoBean.manifestacaoCadastro.sigilo eq '2'}" value="As manifestações registradas de maneira anônima são consideradas &quot;Comunicações&quot; e não é possível o seu acompanhamento. Caso deseje acompanhar o andamento da sua manifestação e receber uma resposta do órgão ou entidade, por favor identifique-se." />
						        	<h:outputText rendered="#{cadManifestacaoBean.manifestacaoCadastro.sigilo eq '1'}" value="As manifestações sigilosas são aquelas em que as informações pessoais do manifestante são protegidas pelos órgãos e entidades públicas por força da Lei nº 12.527/11 (Lei de Acesso à Informação), restringindo o acesso a quaisquer dados relativos à intimidade, vida privada, honra e imagem, exceto nos casos em que é obrigada a divulgá-las por previsão em lei ou ordem judicial." />
						        </h:panelGroup>
						        
								<h:panelGroup rendered="#{(loginBean.perfilLogado eq 'logoff' and cadManifestacaoBean.manifestacaoCadastro.sigilo eq '2') or (loginBean.perfilLogado eq 'logoff' and cadManifestacaoBean.manifestacaoCadastro.tipo eq 'Informação')}" styleClass="column nowrap">
						        	<h:outputText value="Deseja identificar-se?" style="color: gray;text-align: center; margin: 1em 0 .5em 0;" />
						        	<h:commandLink styleClass="botaoLink" action="/pagina/login.xhtml">
										<i class="fa fa-form" style="color: white; padding-left: 3px" />
						        		<h:outputText value="Acesse-se o sistema aqui" />
						        	</h:commandLink>
					        	</h:panelGroup>
						        	
					        </h:panelGroup>
						</p:panel>
					</p:tab>
					
					<p:tab id="orgao" title="Órgão/Entidade">
						<p:panel header="Selecionar Órgão / Entidade">
							<p style="text-align: left; align-self: center;">Caso não saiba para onde deseja encaminhar sua manifestação, preencha os campos de assunto e categoria abaixo para identificar os órgãos relacionados.</p>
						
							<h:panelGroup styleClass="inline">
								<p:outputLabel value="Já sei a que órgão/entidade quero enviar" style="font-weight: bold" />
								<p:selectBooleanCheckbox value="#{cadManifestacaoBean.selecionaOrgao}">
									 <p:ajax update="panel" event="change"/>
								</p:selectBooleanCheckbox>
							</h:panelGroup>
						
							<h:panelGroup id="panel" styleClass="row-nowrap justify-between">
								<h:panelGroup styleClass="column" rendered="#{!cadManifestacaoBean.selecionaOrgao}" style="margin-top: 15px; width: 100%;">
									<p>Realize a busca do órgão a ser realizado a manifestação de acordo com o assunto e categoria desejados.</p>
									<p:outputLabel value="Buscar Órgão/Entidade:" style="font-weight: bold" />
								
									<p:outputLabel value="Tema:" for="selectTema1" />
			        				<p:selectOneMenu id="selectTema1" value="#{cadManifestacaoBean.idTema}" filter="true" filterMatchMode="contains" disabled="#{cadManifestacaoBean.selecionaOrgao}" styleClass="field buscaField">
										 <p:ajax event="change" listener="#{cadManifestacaoBean.filtrarEntidades}" update="selectOrgao1" />
										 <f:selectItem itemLabel="Selecione" itemValue="0" noSelectionOption="true"/>
										 <f:selectItems value="#{cadManifestacaoBean.listTemas}" var="tema" itemLabel="#{tema.titulo}" itemValue="#{tema.idTema}"/>
									</p:selectOneMenu>
									
									<p:outputLabel value="Selecione o Órgão/Entidade:" for="selectOrgao1" />
			        				<p:selectOneMenu id="selectOrgao1" value="#{cadManifestacaoBean.idEntidade}" filter="true" filterMatchMode="contains" disabled="#{cadManifestacaoBean.selecionaOrgao}" styleClass="field buscaField">
										 <f:selectItem itemLabel="Selecione" itemValue="0"/>
										 <f:selectItems value="#{cadManifestacaoBean.listEntidadesFiltradas}" var="ent" itemLabel="#{ent.sigla} - #{ent.nome}" itemValue="#{ent.idEntidade}"/>
									</p:selectOneMenu>
								</h:panelGroup>
							
								<h:panelGroup id="select_orgao" styleClass="column" rendered="#{cadManifestacaoBean.selecionaOrgao}" style="margin-top: 15px;width: 100%;">
									<p>Selecione diretamento o órgão a qual deseja direcionar a manifestação.</p>
									<p:outputLabel value="Selecionar Órgão/Entidade:" for="selectOrgao2"  style="font-weight: bold" />
		   				            <p:selectOneMenu id="selectOrgao2" value="#{cadManifestacaoBean.idEntidade}" disabled="#{!cadManifestacaoBean.selecionaOrgao}" styleClass="field selectField" filter="true" filterMatchMode="contains">
		                                <p:ajax event="change" listener="#{cadManifestacaoBean.filtrarTemas}" update = "selectTema2" />
										<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true"/>
										<f:selectItems value="#{cadManifestacaoBean.listEntidades}" var="ent" itemLabel="#{ent.sigla} - #{ent.nome}" itemValue="#{ent.idEntidade}"/>
									</p:selectOneMenu>
									
									<p:outputLabel value="Tema:" for="selectTema2" />
			        				<p:selectOneMenu id="selectTema2" value="#{cadManifestacaoBean.idTema}" filter="true" filterMatchMode="contains" disabled="#{!cadManifestacaoBean.selecionaOrgao}" styleClass="field buscaField">
										 <f:selectItem itemLabel="Selecione" itemValue="0" noSelectionOption="true"/>
										 <f:selectItems value="#{cadManifestacaoBean.listTemasFiltrados}" var="tema" itemLabel="#{tema.titulo}" itemValue="#{tema.idTema}"/>
									</p:selectOneMenu>
								</h:panelGroup>
							</h:panelGroup>
						</p:panel>
					</p:tab>
					
					<p:tab id="manifestacao" title="Manifestação">
						<p:panel header="Realizar Manifestação" >
							<h:panelGroup styleClass="column-nowrap justify-center" rendered="#{cadManifestacaoBean.renderConteudoManifestacao}">
								<h:panelGroup id="panelTexto" style="margin: 1em; padding: 1em; background: #dae3f6; color: #0081c2; border-radius: 3px; max-width: 700px;" rendered="#{cadManifestacaoBean.manifestacaoCadastro.sigilo eq '2'}">
									<h:outputText value="As manifestações registradas de maneira anônima são consideradas &quot;Comunicações&quot; e não é possível o seu acompanhamento. Caso deseje acompanhar o andamento da sua manifestação e receber uma resposta do órgão ou entidade, por favor identifique-se." />
								</h:panelGroup>
								
								<p:outputLabel value="Tipo:"/>
								<h:outputText id="tipoText" value="#{cadManifestacaoBean.manifestacaoCadastro.tipo}" rendered="#{cadManifestacaoBean.manifestacaoCadastro.tipo ne 'Informação'}" style="color:#a8a8a8;" />
								<h:outputText id="tipoInfoText" value="Pedido de Informação" rendered="#{cadManifestacaoBean.manifestacaoCadastro.tipo eq 'Informação'}" style="color:#a8a8a8;" />
								
								<p:outputLabel value="Órgão:" for="orgaoText"/>
								<h:outputText id="orgaoText" value="#{cadManifestacaoBean.manifestacaoCadastro.entidade.sigla} - #{cadManifestacaoBean.manifestacaoCadastro.entidade.nome}" style="color:#a8a8a8;" />
		
								<p:outputLabel value="Tema:" for="temaText" />
								<h:outputText id="temaText" value="#{cadManifestacaoBean.manifestacaoCadastro.tema.titulo}" style="color:#a8a8a8;" />
								
								<p:outputLabel value="Assunto:" for="titulo" />
								<p:inputText id="titulo" maxlength="100" style="width:100%" value="#{cadManifestacaoBean.manifestacaoCadastro.titulo}" />
								
								<p:outputLabel value="Protocolo Externo:" for="protocoloAgrese" rendered="#{cadManifestacaoBean.renderProtocoloAgrese}"/>
								<p:inputText id="protocoloAgrese" maxlength="45" style="width:100%" value="#{cadManifestacaoBean.manifestacaoCadastro.protocoloAgrese}" requiredMessage="Preencha protocolo da distribuidora" rendered="#{cadManifestacaoBean.renderProtocoloAgrese}" required="#{cadManifestacaoBean.renderProtocoloAgrese}"/>
		
								<p:outputLabel value="Mensagem:" for="mensagem" />
								<p:inputTextarea id="mensagem" rows="10" style="width:100%; margin-bottom:1em" autoResize="true" value="#{cadManifestacaoBean.mensagemCadastro.texto}" required="true" requiredMessage="Adicione mensagem da manifestação"/>
	
								<h:outputText rendered="#{!cadManifestacaoBean.liberarAnexo}" value="Anexos temporariamente indisponíveis. Tente novamente mais tarde." style="color:red"/>
	
								<p:dataTable id="anexoTable" var="anx" value="#{cadManifestacaoBean.anexosList}" emptyMessage="Não há arquivos anexados" style="width:100%;">
									<p:column headerText="" width="25">
										<h:panelGroup rendered="#{anx.formato eq 'image/jpeg' or anx.formato eq 'image/jpg' or anx.formato eq 'image/png'}">
											<i class="fa fa-file-image-o" />
										</h:panelGroup>
									</p:column>
									<p:column headerText="Arquivo">
										<h:outputText value="#{anx.nome}" />
									</p:column>
									<p:column headerText="Tamanho" width="150">
										<h:outputText value="#{cadManifestacaoBean.anexoSizeMB(anx.tamanho)}" />
									</p:column>
									<p:column width="50">
										<p:commandLink class="botaoLinkIcon" process="@this" ajax="true" update="anexoTable growl" actionListener="#{cadManifestacaoBean.removerAnexo(anx)}">
											<i class="fa fa-trash" />
										</p:commandLink>
									</p:column>
								</p:dataTable>
								<h:outputText value="O tamanho de cada arquivo não deve exceder 15 MB" style="font-size:.8em; margin-bottom:1em; color:gray" />
								
								<p:fileUpload label="Adicionar arquivo" mode="advanced" auto="true" fileUploadListener="#{cadManifestacaoBean.fileUploadListener}" update="anexoTable growl" disabled="#{!cadManifestacaoBean.liberarAnexo}" />
								
								<p:commandLink action="#{cadManifestacaoBean.salvar()}" ajax="false" styleClass="botaoLink" >
									<h:outputText value="Finalizar" />
									<i class="fa fa-check" style="color: white; padding-left: 3px" />
								</p:commandLink>
							</h:panelGroup>
						</p:panel>
					</p:tab>

				</p:wizard>
				
				
			</h:form>
			
				<p:dialog widgetVar="confirmDialog" modal="true" showEffect="fade" hideEffect="fade" responsive="true" showHeader="false" resizable="false" closeOnEscape="false">
					<h:panelGroup styleClass="column items-center" style="text-align: justify; text-align-last: center; color:#4d4d4d">
						<h:panelGroup styleClass="inline justify-center" style="margin-bottom:1em;color:#f24400">
							<i class="fa fa-exclamation-triangle" style="margin-right:.5em;" />
							<h:outputText value="Atenção" style="font-weight:bold; font-size:1.5em;" />
						</h:panelGroup>
						<h:outputText value="Manifestações direcionadas à AGRESE com o tema selecionado devem apresentar obrigatoriamente número de protocolo, RA (Registro de Atendimento) ou matrícula do referido Órgão." />
						<h:outputText value="Caso não possua os números para sua manifestação, selecione outro tema para prosseguir" style="margin-top:.5em" />
			            <p:commandLink value="Entendi" onclick="PF('confirmDialog').hide(); return false;" styleClass="botaoLink" style="margin-top:1em;-ms-flex-item-align: inherit;-ms-grid-row-align: inherit;align-self: inherit;"/>
					</h:panelGroup>
		        </p:dialog>
		        
		        <p:dialog widgetVar="confirmDialogBanese" modal="true" showEffect="fade" hideEffect="fade" responsive="true" showHeader="false" resizable="false" closeOnEscape="false" closable="false">
					<h:panelGroup styleClass="column items-center" style="text-align: justify; text-align-last: center; color:#4d4d4d">
						<h:panelGroup styleClass="inline justify-center" style="margin-bottom:1em;color:#f24400">
							<i class="fa fa-exclamation-triangle" style="margin-right:.5em;" />
							<h:outputText value="Atenção" style="font-weight:bold; font-size:1.5em;" />
						</h:panelGroup>
						<h:outputText value="Você será redirecionadao para o sistema de ouvidoria do BANESE" />
			            <h:outputLink value="https://www.banese.com.br/ajuda/ouvidoria/ocorrencias" styleClass="botaoLink" style="margin-top:1em;-ms-flex-item-align: inherit;-ms-grid-row-align: inherit;align-self: inherit;">Entendi</h:outputLink>
					</h:panelGroup>
		       </p:dialog>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>
