#footer {
    position: relative;
    width: 100%;
    margin-top: auto;
}

.footer {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    color: white;
    
    -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    
	padding: 2em 0 0 0;
    margin: 0;
    
/*     Cor Produção */
	background-color: #040c31;
	background: -webkit-gradient(linear, left top, right top, from(#3179bc), to(#040c31));
	background: -webkit-linear-gradient(left, #3179bc, #040c31);
	background: -o-linear-gradient(left, #3179bc, #040c31);
	background: linear-gradient(to right, #3179bc, #040c31);
	
}

.footer p, .footer h1, .footer h2, .footer h3 {
	color:white;
	margin: 0;
}

a:hover.footerLink {
    text-decoration: underline white;
}
a.footerLink {
    text-decoration: none;
}

.notice {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
     -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
	
	margin-top: 10px;
	
	background-color: #213b56;
	width: 100%;
}

.notice p {
	color: #6384ab;
}