#header{
    width: 100%;
}

	/* Menu Acessibilidade */

.menuAcess{
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    -webkit-justify-content: flex-end;
	justify-content: flex-end;

	-moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
	align-content: center;

	margin-left: 0px;
}

#menuAcess ul li { display: inline; }

#menuAcess ul li a {
	font-size: .75em;
	padding: 2px 5px;
	
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
 
	/* visual do link */	
/* 	color: #3e4e86; */
	color: #bacee2;
/* 	font-weight: bold; */
	text-decoration: none;	
	border-right:1px solid #bacee2;
}

#menuAcess ul li a:hover {
	text-decoration: underline;
}

.divMenu {
	display: -ms-flexbox;
    display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    -webkit-justify-content: flex-start;
	justify-content: flex-start;

	-moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
	align-items: center;
	
/* 	background-image: linear-gradient(to top right, #040c31, #3d6ea9); */
/* 	background-color: #0f487b; */
/* 	background-color: #ededed; */
	
/* 	border-top: 1px solid #0d3e6a; */
/* 	border-bottom: 3px solid #3c6da8; */
	
	background-color: #f8f8f8;
    border-bottom: 1px solid #e3e3e3;
}



}

#divMenuDown {
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;	
	
	-webkit-box-orient: horizontal;	
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;	
	flex-flow: row nowrap;
	
	background-color: transparent;
	background-image: none;
	
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

	/* Barra de Navegação */

/* .barraNav { */
/* 	margin: 0px; */
	
/* /* 	Cores Produção */ */
/* 	background-color: #040c31; */
/* 	background: -webkit-gradient(linear, left top, right top, from(#3179bc), to(#040c31)); */
/* 	background: -webkit-linear-gradient(left, #3179bc, #040c31); */
/* 	background: -o-linear-gradient(left, #3179bc, #040c31); */
/* 	background: linear-gradient(to right, #3179bc, #040c31); */

/* } */

/* #barraNav ul { */
/* 	font-size: 110%; */
/* 	padding: 2px 5px; */
/* 	margin:0px;	 */
/* 	list-style:none; */
/* } */

/* #barraNav ul li { display: inline; } */

/* #barraNav ul li a { */
/* 	padding: 7px 17px; */
	
/* 	display: -webkit-inline-box; */
/* 	display: -ms-inline-flexbox; */
/* 	display: inline-flex; */
 
/* 	/* visual do link */	 */
/* 	color: white; */
/* 	text-decoration: none; */
/* /* 	border-bottom: 3px solid rgba(0, 0, 0, 0);	 */ */
/* } */

/* #barraNav ul li a:hover { */
/* 	font-weight: bold; */
/* } */

.perfilBtn {
	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
    flex-flow: column nowrap;
	
    min-width: 120px;
	height: 100px !important;
	
    text-align: center;
    
    padding: 8px 0 0 0 !important;
    
	width: 50% !important;
}


/* New Menu ========================================================================================================================================================================================================*/
#navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

#navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

/* .dropdown a { */
/* 	color: white; */
/* 	text-decoration: none; */
/* 	padding: 10px 15px; */
/* } */

.dropdown .dropbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    font-size: 16px;    
    border: none;
    outline: none;
    color: #333333;
    background-color: inherit;
    
	margin-left: auto;
	margin-right: auto;
	
	border-right: 1px solid #ececec;
	
	text-decoration: none;
	padding: 10px 15px;
}


.dropbtn a {
	text-decoration: none;
    color: black;
}

.dropbtn:hover a {
    color: white !important;
}

#navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3c6da8;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #3c6da8;
	color: white;
}

.dropdown-content a:hover > dropdown{
	backgrond-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: 1px solid #e3e3e3;
	border-bottom: 3px solid #3c6da8;
	-webkit-box-shadow:none;
	box-shadow:none;
	z-index: 2000;
}

/* .dropdown span { */
/*   max-width: 0; */
/*   transition-delay: 0; */
/*   display: inline-block; */
/*   vertical-align: top; */
/*   white-space: nowrap; */
/*   overflow: hidden; */
/* } */

/* .dropdown:hover span { */
/*   max-width: 15em; */
/*   -webkit-transition: max-width 1s; */
/*   transition: max-width 1s; */
/* /*   max-width: max-content; */ */
/* } */

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-content {
/* 	visibility: hidden; */
	display: none !important;
}

.dropdown-submenu:hover > .dropdown-content {
/* 	visibility: visible; */
	display: block !important;
    top: 0;
    left: 100%;
    border-top: 1px solid #b0b0b0 !important;
}
  
.dropdown-submenu > a:after {
	border-color: transparent transparent transparent #333;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
	display: block;
	float: right;  
	height: 0;     
	margin-right: -10px;
	margin-top: 5px;
	width: 0;
}

.dropdown-submenu:hover > a:after {
	border-color: transparent transparent transparent #fff;
}

/*======*/
/* .dropdown-menu > li.kopie > a { */
/*     padding-left:5px; */
/* } */
 
/* .dropdown-submenu { */
/*     position:relative; */
/* } */
/* .dropdown-submenu>.dropdown-menu { */
/*    top:0;left:100%; */
/*    margin-top:-6px;margin-left:-1px; */
/*    -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px; */
/*  } */
  
/* .dropdown-submenu > a:after { */
/*   border-color: transparent transparent transparent #333; */
/*   border-style: solid; */
/*   border-width: 5px 0 5px 5px; */
/*   content: " "; */
/*   display: block; */
/*   float: right;   */
/*   height: 0;      */
/*   margin-right: -10px; */
/*   margin-top: 5px; */
/*   width: 0; */
/* } */
 
/* .dropdown-submenu:hover>a:after { */
/*     border-left-color:#555; */
/*  } */

/* .dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover { */
/*   text-decoration: underline; */
/* }  */

.logoText {
	color:white;
	text-decoration:none;
}

.logoText > .logoTitulo {
	font-size:1.5em;
/* 	font-family:gotham; */
	font-family: "lato", Sans-serif;
	font-variant-caps: all-small-caps;
	font-weight: bold;
	text-transform: uppercase;
}

.logoText > .logoSubtitulo {
	font-size:1em;
/* 	font-family:prometo-light; */
	font-family: "lato", Sans-serif;
	word-wrap: break-word;
	font-variant-caps: all-small-caps;
}


/* ========================== */
/* ====  RESPONSIVIDADE  ==== */
/* ========================== */
@media only screen and (max-width: 768px) {

	.barraNav {
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		-webkit-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}
	
	.barraNav > .inline {
    	display: none;
	}
	
	#barraNav ul {
/* 		display:-webkit-box; */
/* 		display:-ms-flexbox; */
/* 		display:flex */
	}
	
	.divMenu {
		margin-bottom: 15px;
	}
	
	.dropdown {
		overflow: inherit;
	}
	
	.dropdown a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
	}
	
	.dropbtn > span {
		display: none;
	}
	
	.dropbtn > i {
		margin: 0 5px;
	}
}