body{
	margin: 0;	
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	background: url("https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/background.jpg") !important;
	 background-image: linear-gradient(#fcfcfc, #c3c3c3);
	background-color: #e4e4e4;
	background-position: top;
	background-size: auto 100%;
	background-attachment: fixed;
/* 	background: red !important; */
}