/* <-- Menu Principal --> */

.mainMenuPanel {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	
	width: 100%;
}

.mainMenu { 
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	-webkit-align-items: center;
	align-items: center;
	
	padding: 5vh 0;
	
    width: 100%;
}

.tituloInicio {
	margin-bottom:3em;
}

.tituloInicio .titulo {	
	.corTexto;
	text-align: center;
  	font-size: 4em;
  	font-family: 'Lato', sans-serif;
	font-variant-caps: normal;
	font-weight: 500;
}

.tituloInicio .subTitulo {	
  	.corTextoSecundario;
	text-align: center;
  	font-size: 3em;
  	font-family: 'Lato', sans-serif;
  	font-weight: 300;
  	margin-bottom: .3em;
}

.menu {
	list-style: none;
	  
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
  
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	width: 100%;
	margin-top: 5vh;
}

.menuBtn {
	list-style: none;
	  
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
  
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	width: 100%;
    margin: 1em 0;
}

.botao {
	list-style: none;
	margin: 1vh 2vw;
	
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
  
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
  	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	width: 220px;
	
/* 	Estilo do link */
	text-decoration: none;
	color: #1b4882;
	text-decoration: none;	
	font-size: 25px;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: center;
    text-align-last: center;
}

.botao a {
	color: #1b4882;
	text-decoration: none;	
	font-size: 25px;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: center;
    text-align-last: center;
    text-decoration: none;
}

/* .link { */
/* 	display: -webkit-box; */
/* 	display: -ms-flexbox; */
/* 	display: flex; */
	
/* 	-webkit-box-orient: vertical; */
/* 	-webkit-box-direction: normal; */
/* 	-ms-flex-direction: column; */
/* 	flex-direction: column; */
	
/* 	-webkit-box-align: center; */
/* 	-ms-flex-align: center; */
/* 	align-items: center; */
/* } */

.botao p {
	color: #5b5b5b;
	font-size: 20px;
	margin: 0;
	text-align: center;
}

.botao:hover .icone {
	width: 155px !important;
/* 	filter:brightness(105%); */
}

.botao:hover .tituloMenu {
	color: #1d72cf;
	font-weight: 700;
}

.botao:hover p {
/* 	color: #808080; */
}

.tituloMenu {
	font-size: 35px;
    padding: 5px 0 10px 0;
    line-height: 25px;
	font-weight: bold;
	font-variant: small-caps;
	font-variant-caps: all-petite-caps;
	color: #1b4882;
}

.subTitulo {
	font-size: 20px;
	color: #333;
	padding-right: 20px
}

.btnConsulta {
	list-style: none;
	margin: 1vh 2vw;
	
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
  
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
  	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	-moz-align-self: center;
 	-ms-align-self: center;
 	-o-align-self: center;
 	-webkit-align-self: center; 
 	align-self: center;
	
	width: 400px;
	
/*	Estilo do botão */
	border: 1px solid #c0c0c0;
    border-radius: 7px;
    background-size: 200% 100%;
    
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #165389));
    background-image: -webkit-linear-gradient(left, white 50%, #165389 50%);
    background-image: -o-linear-gradient(left, white 50%, #165389 50%);
    background-image: linear-gradient(to right, white 50%, #165389 50%);
    
    -webkit-transition: background-position 1s;
    -o-transition: background-position 1s;
    transition: background-position 1s;
    
	
/* 	Estilo do link */
	text-decoration: none;
	color: #1b4882;
	text-decoration: none;	
	font-size: 25px;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: left;
}

.btnConsulta .titulo {
	color: #1b4882;
	font-size: 35px;
	font-weight: bold;
	font-variant-caps: all-petite-caps;
}

.btnConsulta > .column {
    margin-left: 1.7em;
}

.btnConsulta > img {
    background-color: #165389;
    padding: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.btnConsulta:hover {
    background-position: -100% 0;
}

.btnConsulta:hover .titulo {
	color: white !important;
	-webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

 .btnConsulta:hover .subTitulo {
	color: #cfdff1 !important;
	-webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
 }

/* <-- Menu Secundário --> */
.menuSec {
	background-color: white;

	padding-top: 1%;
	list-style: none;

	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;

	clear: both;
    position: relative;

	width: 100% !important;
	height: 100%;

	border-top: 7px solid #c0c0c0;
	bottom: 0;
	overflow: hidden;
}

.menuAcesso{
	background-color: white;

	padding: 1%;
	list-style: none;

	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;

	clear: both;
    position: relative;

	width: 100%;

	border-top: 1px solid #d7d7d7;
	bottom: 0;
	overflow: hidden;
}

.botaoFoot{
	list-style: none;
	padding: 1vw;
	margin: 2vw;
	
	width: 300px;
	border: 1px solid #ebebeb;
	border-radius: 10px;
	
	background-size: 200% 100%;
    
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #165389));
    background-image: -webkit-linear-gradient(left, white 50%, #165389 50%);
    background-image: -o-linear-gradient(left, white 50%, #165389 50%);
    background-image: linear-gradient(to right, white 50%, #165389 50%);
    
    -webkit-transition: background-position 1s;
    -o-transition: background-position 1s;
    transition: background-position 1s;
    
    color: #1b4882;
	text-decoration: none;	
	font-size: 200%;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: center;
    text-align-last: center;
}


/* .botaoFoot a{ */
/* 	color: #1b4882; */
/* 	text-decoration: none;	 */
/* 	font-size: 200%; */
/*   	font-family: "lato", Sans-serif; */
/*   	font-weight: 100; */
/*   	text-align: center; */
/*     text-align-last: center; */
/* } */

.botaoFoot:hover {
	background-position: -100% 0;
	color: white !important;
}

.botaoFoot:hover a, .botaoFoot:hover p {
	color: white !important;
}

.form-group{
	padding: 1%;
	margin-bottom: 0px !important;
}

.form-control{
	border-radius: 0px !important;
	padding-right: 0 !important;
	margin-bottom: 5px;
}

.ui-carousel-header{
	border: none;
	background: none;
}

/* ===== TOOLTIP GIRATÓRIO ===== */
.container {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	position: relative;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
    margin: 10px 20px;
	
	width: 180px;
	height: 180px;
}

.container a {
	color: #1b4882;
	text-decoration: none;	
	font-size: 18px;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: center;
    text-align-last: center;
    text-decoration: none;
}

.card {
   position: relative;
   
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   
	width: 180px;
	height: 180px;
}

.disabled {
   -webkit-filter: grayscale(90%) contrast(30%) brightness(1.5);
   filter: grayscale(90%) contrast(30%) brightness(1.5);
}

.container:hover .card {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);	
   transform: rotateY(180deg);				
}

.face {
	position: absolute;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
   
   top: 0;
   left: 0;
   text-align: center;
	width: 180px;
	height: 180px;
}


/* .container:hover .face { */
/* 	-webkit-backface-visibility: visible; */
/*    -moz-backface-visibility: visible; */
/*    -ms-backface-visibility: visible; */
/*    -o-backface-visibility: visible; */
/* 	backface-visibility: visible; */
/* } */

/* .front { */
/*    background: red; */
/*    z-index: 10; */
/* } */

.back {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	
	background: #2b629a;
    border-radius: 10px;
	width: 180px;
	height: 180px;
}

.back p {
	margin: 0;
	padding: 20px;
	color: white;
	line-height: 1.4em;
	font-size: 18px;
	font-family: "lato", Sans-serif;
    font-weight: 100;
    text-align: center;
}

.container:hover .front {
   z-index: 0;
}


/* Bracket Border */

.bracket {
  position: relative;
  text-align: center;
}

/* .bracket { */
/*   padding: .2em 1em; */
/*   max-width: 80%;force that at least some of vertical stripe is still shown */
/* } */

.bracket:before {/*left bracket*/
  content: " ";
  border: solid 3px #165389;
  border-right: 0px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: .8em;
  right: 0;
  margin-left:1.5em;
}

.bracket:after {/*right bracket*/
  content: " ";
  border: solid 3px #165389;
  border-left: 0px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: .8em;
  right: 0;
  margin-right:1.5em;
}

@media only screen and (max-width: 768px) {

	.menu {
		padding: 0 !important;
	}
	
	.menu > span {
		text-align: center;
	}
	
}
