
/* ------------- FONTES ----------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


@font-face {
  font-family: 'prometo';
  src: url("http://arquivos.setc.se.gov.br/SE-Ouv/fonts/Prometo Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'prometo';
  src: url("http://arquivos.setc.se.gov.br/SE-Ouv/fonts/Prometo Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'prometo-medium';
  src: url("http://arquivos.setc.se.gov.br/SE-Ouv/fonts/Prometo Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'prometo-light';
  src: url("http://arquivos.setc.se.gov.br/SE-Ouv/fonts/Prometo Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src: url("http://arquivos.setc.se.gov.br/SE-Ouv/fonts/Gotham Nights Bold.otf");
  font-weight: bold;
  font-style: normal;
}


/* ------------- GERAL ----------------------------------------------------------------------- */

body {
	margin: 0;
}

/* ********************************** */
/* ************** CORES ************* */
/* ********************************** */

.cor {
	background-color: #044193;
	background: #044193;
}

.gradiente {
	background: #044193;
	background: -moz-linear-gradient(90deg, rgba(49,121,188,1) 0%, rgba(4,65,147,1) 50%, rgba(4,12,49,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(49,121,188,1) 0%, rgba(4,65,147,1) 50%, rgba(4,12,49,1) 100%);
	background: linear-gradient(90deg, rgba(49,121,188,1) 0%, rgba(4,65,147,1) 50%, rgba(4,12,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3179bc",endColorstr="#040c31",GradientType=1);
}

.corTexto {
	color: #044193;
}

.corTextoSecundario {
	color: #333333;
}

/* ------------- FLEXBOX ----------------------------------------------------------------------- */

/* *************************** */
/* ******* ALIGN-SELF ******* */
/* *************************** */
.self-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.self-start {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: start;
	-ms-grid-row-align: start;
	align-self: start
}


/* *************************** */
/* ******* ALIGN-ITEMS ******* */
/* *************************** */

.items-start {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.items-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.items-end {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.items-around {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-align: space-around;
	-ms-flex-align: space-around;
	align-items: space-around;
}

.items-between {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-align: space-between;
	-ms-flex-align: space-between;
	align-items: space-between;
}


/* *************************** */
/* ***** JUSTIFY-CONTENT ***** */
/* *************************** */

.justify-start {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    -webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.justify-center {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.justify-end {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    -webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.justify-between {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.justify-around {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

	-ms-flex-pack: distribute;
	justify-content: space-around
}


/* *************************** */
/* ******** FLEX-WARP ******** */
/* *************************** */

.row-nowrap {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.row-wrap {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.column-wrap {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
        
    -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
		
}

.column-nowrap {
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}


/* ------------- COMPONENTES ----------------------------------------------------------------------- */

/* *************************** */
/* ********* MENU BAR ******** */
/* *************************** */

.menuBar {
    background: none !important;
    background-image: none !important;
    border: none !important;
    padding:0 !important;
    
    min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}


.menuBar.ui-menu .ui-menu-list .ui-menuitem {
	display: flex;
	margin: 0;
}

/* Item */
.menuBar.ui-menu .ui-menu-list .ui-menuitem > .ui-menuitem-link {
	padding: 1em 1.2em;
	color:white;
	font-weight: 500;
}

.menuBar.ui-menu .ui-menu-list .ui-menuitem > .ui-menuitem-link:hover {
	background-image: none;
	background: none;
}

.menuBar.ui-menu .ui-menu-list .ui-menuitem > .ui-menuitem-link > .ui-icon {
	filter: brightness(100);
}

.menuBar.ui-menu .ui-menu-list .ui-menuitem > .ui-menuitem-link:hover {
	background: rgba(0,0,0,0.2);
	background-image: none;
	
	-webkit-box-shadow: 0px -3px 0px #68a5e1 inset;
	box-shadow: 0px -3px 0px #68a5e1 inset;
	
	color: #68a5e1;
	
	transition: 0.2s;
}

.menuBar.ui-menu .ui-menu-list .ui-menuitem .ui-submenu-link .ui-state-hover {
	background:none;
	color:#68a5e1;
}


/* Submenu */
.ui-menuitem.ui-menu-parent > .ui-menu-list.ui-menu-child {
  padding: 0;
}

.ui-menuitem.ui-menu-parent > .ui-menu-list.ui-menu-child > .ui-menuitem {
  margin: 0;
  border-bottom: 1px solid #ebebeb !important;
}

.ui-menuitem.ui-menu-parent > .ui-menu-list.ui-menu-child > .ui-menuitem > .ui-menuitem-link {
	color: #333333;
	background-image: none;
	background: none;
}

.ui-menuitem.ui-menu-parent > .ui-menu-list.ui-menu-child > .ui-menuitem > .ui-menuitem-link:hover {
	background: red;
	background: rgba(0,0,0,0.05);
	box-shadow: none !important;
	transition: 0.2s;
}


/* ************************************* */
/* ***** DATATABLE LISTA DE ANEXOS ***** */
/* ************************************* */

.anexoListTable thead th {
	border: none !important; 
    background: none !important; 
}

.anexoListTable tr {
	border: white;
	border-bottom: 1px solid #ddd !important;
	margin-bottom: 3px;
}


/* ***************************************** */
/* ********* DATATABLE TRANSLUCENT ********* */
/* ***************************************** */

.translucent .ui-datatable-data .ui-datatable-headerrow {
    background: none !important;
    color: #333;
}

.translucent .ui-widget-content {
    background: none !important;
    border: none !important;
}

.ui-datatable.translucent tbody td {
    border: none !important;
}

.ui-datatable.translucent thead th {
    display: none;
}


/* ***************************************** */
/* ********* DASHBOARD VENCIMENTOS ********* */
/* ***************************************** */

.seletorFiltro {
	background: white;
	border-bottom: 5px solid #165389;
	border-radius: 5px;
	border-bottom-right-radius: 0;
}

.seletorFiltro > a {
  text-decoration: none !important;
}

.seletorFiltro :hover {
	background-color: rgba(163, 235, 255, 0.18);
	background-blend-mode: multiply;
 	-webkit-transition: all .75s ease;
}

.seletorFiltro > a:nth-child(n) {
	border-right: 1px solid silver;
}

.seletorFiltro > a:nth-last-child(1) {
	border: none;
}

.dashboardBox {
  width: 200px;
}

.dashboardBox {
  font-size: 2.5em;
  background: white;
}

.dashboardBox > .titulo {
	color: white;
	padding: 5px;
	text-align:center;
	width: -webkit-fill-available;
	width: -moz-available;
	width: fill-available;
}

.dashboardBox > .valor {
	color: #333333;
	margin: .5em 0;
	transition: margin-top 1s, margin-bottom 2s, height 2s, opacity .5s, font-size 1s;
	transition-timing-function: ease
}

.dashboardTotal > .titulo {
	background: #327bbe;
	-webkit-transition: all .75s ease;
}

.dashboardVencendo > .titulo {
	background: #df7231;
	-webkit-transition: all .75s ease;
}

.dashboardNaoVisualizadas > .titulo {
	background: #3aba3a;
}

.dashboardInativas > .titulo {
	background: #777;
}

.filtroAtivo > .valor {
	color: white !important;
}

.valor:hover {
	background: inherit !important;
}

.filtroTotal {
	background: #5193ce !important;
}

.filtroVencendo {
	background: #e6874f;
}

.filtroNaoVisualizadas {
	background: #69cb69;
}

.filtroInativas {
	background: #999;
}

.accordionActive > i.fa.fa-chevron-up:before {
	content: "\f078";
}

.hidden {
	margin:  !important;
	opacity: 0;
	font-size: 0;
}

.accordionBtn {
	background: #165389;
	color: white;
	padding: .5em;
	display: flex;
	text-decoration: none;
	align-items: center;
	border-radius: 0 5px 5px 0;
}

.refreshDashboardBtn {
	height: fit-content;
	background: #e1e1e1;
	padding: 5px;
	border-radius: 15px;
	color: #777;
	margin-right: 5px;
}

.fileBtn {
	display: inline-block;
    padding: 7px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none !important;
    border: 1px solid transparent;
    border-radius: 2px;
	color: #333;
    background-color: #fff !important;
    border-color: #ccc;
    border-bottom: 3px solid #165389;
    text-decoration: none;
    font-variant:small-caps;
}
/* ***************************************** */
/* *********** MENU DE NAVEGAÇÃO *********** */
/* ***************************************** */

.navBar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #f5f5f5 !important;
  border: none !important;
  border-bottom: 1px solid #c4bcbc !important;
}

.navBar .ui-menuitem {
	margin: 0 !important;
}

.navBar .ui-menuitem-link {
	padding: 10px !important;
	width: auto !important;
	color: #333333 !important;
	
	border: 1px solid rba(63, 128, 207);
    border-image: linear-gradient(to bottom, rgba(63, 128, 207,0) 25%,rgba(63, 128, 207,1) 25%,rgba(63, 128, 207,1) 75%,rgba(63, 128, 207,0) 75%);
    border-image-slice: 9;
}

.navBar .ui-menuitem-link.ui-state-hover {
	color: white !important;
	
	background: #78acdc !important;
	background-image: none !important;
	-webkit-box-shadow: 0px -3px 0px #3179bc inset;
	box-shadow: 0px -3px 0px #3179bc inset;
	color: #68a5e1;
	transition: 0.2s;
}

.ui-menuitem-icon.fa-desktop {
  width: 1.2em;
}

/* @media screen and (min-width : 1000px) { */
/*     .verticalmenu { */
/*         display: none !important; */
/*     } */
/* } */

/* @media screen and (max-width : 999px) { */
/*     .horizontalmenu { */
/*         display: none !important; */
/*     } */
/* } */