#page {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
    
    height: 100%;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: fill-available;
}

#content1 {
    background: rgba(255, 255, 255, 0.2);
}

#content2 {
    background: rgba(255, 255, 255, 0.2);
}

.cad_form {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
	
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: space-evenly;
 	-ms-justify-content: space-evenly;
 	-o-justify-content: space-evenly;
 	-webkit-justify-content: space-evenly;
 	justify-content: space-evenly;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
 	
}

.ficha {
	list-style: none;
	padding: 1vw;
	margin: 0.5vw;
	
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: space-evenly;
 	-ms-justify-content: space-evenly;
 	-o-justify-content: space-evenly;
 	-webkit-justify-content: space-evenly;
 	justify-content: space-evenly;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
}

.box {
	padding: 1.5em;
	margin-bottom: 1vh;
	margin-top: 1vh;
	
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: flex-start;
 	-ms-justify-content: flex-start;
 	-o-justify-content: flex-start;
 	-webkit-justify-content: flex-start;
 	justify-content: flex-start;
	
 	-moz-align-items: flex-start;
 	-ms-align-items: flex-start;
 	-o-align-items: flex-start;
 	-webkit-align-items: flex-start; 
 	align-items: flex-start;
 	
 	border: 1px solid silver;
    background: white;
    
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;   
}

/* .box label { */
/* 	color: #1a568c; */
/* 	margin-top: 1em; */
/* } */

.tituloBox {
	color: #1a568c;
	font-size:30px;
	margin-bottom: 15px;
	
	-moz-align-self: center;
 	-ms-align-self: center;
 	-o-align-self: center;
 	-webkit-align-self: center; 
 	align-self: center;
 	
 	text-align: center;
}

.box p {
	color: #707070;
	font-size:15px;
	
	text-align: center;
}

.box a {
	text-decoration: none;
}


.column.link.box {
	height: -webkit-fill-available;
	height: -moz-available;
	height: auto;
}

.column.link.box:hover img {
	width: 110px;
}

.inline {
	display: -ms-inline-flexbox; 
 	display: -moz-inline-flexbox;
 	display: -webkit-inline-flex;
 	display: -o-inline-flex;
 	display: inline-flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
 	
    -moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;

}

.column {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: column nowrap;
 	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-flex-flow: column nowrap;
 	flex-flow: column nowrap;
 	
/*     -moz-align-items: center; */
/*  	-ms-align-items: center; */
/*  	-o-align-items: center; */
/*  	-webkit-align-items: center;  */
/*  	align-items: center; */
 	
}

.align {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
 	
 	-moz-justify-content: center;
 	-ms-justify-content: center;
 	-o-justify-content: center;
 	-webkit-justify-content: center;
 	justify-content: center;
	
}

.organize {
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    
    -moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

.botaoLink {
	display: -ms-flexbox; 
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
	-ms-flex-item-align: end;
	align-self: flex-end;
	
	background-color: #040c31;
	background: -webkit-gradient(linear, left top, right top, from(#2966a3), to(#153565));
	background: -webkit-linear-gradient(left, #2966a3, #153565);
	background: -o-linear-gradient(left, #2966a3, #153565);
	background: linear-gradient(to right, #2966a3, #153565);
	
	text-decoration: none; 
	color: white !important;
	padding: 10px;
	border-radius: 3px;
	margin: 0;
	   
	width: -webkit-fit-content;
	width: fit-content;
	width: -moz-fit-content;
	
	height: -webkit-fit-content;
	height: fit-content;
	height: -moz-fit-content;
}

.botaoLinkIcon {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	
	background-color: #040c31;
	background: -webkit-gradient(linear, left top, right top, from(#2966a3), to(#153565));
	background: -webkit-linear-gradient(left, #2966a3, #153565);
	background: -o-linear-gradient(left, #2966a3, #153565);
	background: linear-gradient(to right, #2966a3, #153565);
	
	text-decoration: none; 
	color: white !important;
/* 	padding: 0.1vw 0.45vw; */
	padding: 10px;
	border-radius: 3px;
	word-wrap: normal; 
}

.botaoLink label {
	color: white !important;
	margin: 0 !important;
}

.ui-state-disabled {
	background:#c4c4c4;
}

.blankSquareBtn .ui-state-disabled  {
	background: none;
}

.ui-tooltip {
	max-width: 300px !important;
	text-align: justify;
/* 	background-color: red; */
}


/* #tabela{ */
/* 	display: -ms-flexbox;  */

/*  	display: -moz-flexbox; */
/*  	display: -webkit-flex; */
/*  	display: -o-flex; */
/*  	display: flex; */
 	
/* 	-moz-flex-flow: row nowrap; */
/*  	-ms-flex-flow: row nowrap; */
/*  	-o-flex-flow: row nowrap; */
/*  	-webkit-flex-flow: row nowrap; */
/*  	flex-flow: row nowrap; */
	
/*    	-moz-justify-content: center; */
/*  	-ms-justify-content: center; */
/*  	-o-justify-content: center; */
/*  	-webkit-justify-content: center; */
/*  	justify-content: center; */
 	
/*  	width: 80vw; */
/* } */

.linha{
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
	
   	-moz-justify-content: flex-start;
 	-ms-justify-content: flex-start;
 	-o-justify-content: flex-start;
 	-webkit-justify-content: flex-start;
 	justify-content: flex-start;
 	
 	 -moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
 	
 	width: 80vw;
 	padding: 1vw;
}

.divBtn {
	margin: 1em 0;
    width: 100%;
    
    display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
 	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
    
    -moz-justify-content: space-between;
 	-ms-justify-content: space-between;
 	-o-justify-content: space-between;
 	-webkit-justify-content: space-between;
 	justify-content: space-between;
}

/* Configurações do Step */

.dois .ui-steps-item {
    width: 50%;
}

.tres .ui-steps-item {
    width: 33%;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
	margin-top: 0;
    margin-bottom: 5vw;
/*     width: 100%; */
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: 100 !important;
}
 
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}

/* .ui-steps.custom .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { */
/*     padding: 0; */
/* } */


/* Configurações do PanelGrid */

.ui-panelgrid {
	border-collapse: separate !important;	
}

.ui-widget-header {
    border: none;
    background: white;
    font-weight: inherit;
    text-shadow: none;
}

.ui-panelgrid.ui-widget {
	border: 1px solid lightgray;
    background: white;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-style: none !important;
	padding: 0.5vw 1vw !important
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
    width: auto;
}

.ui-grid-responsive{
	border: none;
}

.blank.ui-panelgrid, .blank.ui-widget-content.ui-panelgrid, .blank.ui-widget-content {
	border: none;
	background: none !important;
}

.blank .ui-panelgrid .ui-panelgrid-cell {
	padding: 0 !important;
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
	align-self: center;
}

/* ============================= */

/* .ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield { */
/* 	font-weight: normal; */
/* 	box-shadow: none; */
/* 	padding: 0; */
/* 	width: -webkit-fill-available; */
/* 	width: -moz-available; */
/* } */

/* .ui-inputfield { */
/* 	margin: 0 !important; */
/* } */

/* .ui-inputfield .ui-state-focus, .ui-widget-content .ui-inputfield-state-focus { */
/*     box-shadow: none; */
/* } */

/* Calendario */

.date{
	width: 100%;
	
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
}

.ui-datepicker {
    background-color: white;
    box-shadow: none !important;
    border: 1px solid lightgray;
}
    
.ui-datepicker .ui-datepicker-header {
    background-color: white;
}

/* Dialog */

.consultaDialog.ui-dialog {
	height: -webkit-fit-content !important;
	height: fit-content !important;
	height: -moz-fit-content !important;
	
    width: 90% !important;
    left: 5% !important;
    top: 3vh !important;
    border: 1px solid #040c31;
}

.consultaDialog.ui-dialog .ui-dialog-content {
	height: auto !important;
	width: auto !important;
	max-height: 85vh;
}

.solicitacaoDialog.ui-dialog {
	height: auto !important;
	height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    
    width: 90% !important;
    
    left: 5% !important;
    top: 3vh !important;
    border: 1px solid #040c31;
}

.solicitacaoDialog.ui-dialog .ui-dialog-content {
	height: auto !important;
	width: auto !important;
	max-height: 85vh !important;
	padding: 0;
}

.customDialog.ui-dialog{
	height: auto !important;
	width: auto !important;
	max-height: 85vh;
}

.ui-dialog .ui-dialog-titlebar {
    background: linear-gradient(to bottom right, #040c31, #3d6ea9);
    color: white;
    font-weight: bold;
}

/* .ui-dialog .ui-dialog-titlebar-close span, .consultaDialog.ui-dialog .ui-dialog-titlebar-minimize span, .consultaDialog.ui-dialog .ui-dialog-titlebar-maximize span { */
/*     background-color: white; */
/*     border-radius: 4px; */
/* } */

.ui-dialog .ui-dialog-content {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	flex-flow: column nowrap;	
}

.ui-confirm-dialog.hideMessage .ui-dialog-content {
	display: none;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em !important;
}

.ui-dialog .ui-dialog-buttonpane {
    display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
    -moz-justify-content: center;
 	-ms-justify-content: center;
 	-o-justify-content: center;
 	-webkit-justify-content: center;
 	justify-content: center;
 	
 	-moz-flex-flow: column nowrap;
 	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-flex-flow: column nowrap;
 	flex-flow: column nowrap;
 	
 	margin: 0 !important;
 	padding: 0 !important;
 	
 	border: none !important;
}

.ui-confirmdialog-yes {
    background-color: #c3f361 !important;
    background-image: none !important;
}

.ui-confirmdialog-yes .ui-state-hover {
	background-color: #79cf1b!important;
}

.ui-confirmdialog-no {
    background-color: #ffb5ae !important;
    background-image: none !important;
}

.ui-confirmdialog-no .ui-state-hover {
	background-color: #f4756f !important;
}

/* Outros */
.ui-panelgrid .ui-widget-content {
    background: none;
}

/* .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { */
/* 	border-radius: 0; */
/* 	border-color: silver; */
/* 	background-color: #ffffff; */
/* 	-webkit-box-shadow: none; */
/* 	box-shadow: none; */
/* 	padding: 5px; */
/* 	color: #555; */
/* 	background-image: none; */
/* /* 	overflow-y: auto; */ */
/* } */

/* .ui-widget-header .ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus{ */
/* 	box-shadow: none; */
/* } */

/* .ui-radiobutton .ui-radiobutton-box { */
/*     width: 10px !important; */
/*     height: 10px !important; */
/*     line-height: 16px; */
/*     -moz-border-radius: 10px; */
/*     -webkit-border-radius: 10px; */
/*     border-radius: 10px; */
/* } */

/* .ui-selectoneradio label { */
/* 	margin-top: 0 !important; */
/* 	margin-left: 10px !important; */
/* } */

.ui-selectonemenu {
	min-width: auto !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	border: 1px solid #c0c0c0 !important;
	cursor: pointer !important;
	right: -1px !important;
	top: -1px !important;
	padding: 0 3px;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
/*     max-width: 50vw; */
    width: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    white-space: normal !important;
    border-bottom: 1px solid silver !important;
	border-radius: 0;
	padding: 10px 0 !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 60% !important;
	white-space: nowrap !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	width: 98%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 94% !important;
/* 	padding-right: 5px !important; */
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
	max-height: 450px !important;
	height: auto !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
	top: 13px !important;
	right: 15px !important;
}

.ui-button-icon-only{
	padding: 0 !important;
	left: -1px;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
    border: 1px solid #156090;
    background: #186ba0;
    color: #fff;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-hover {
    background: #ebebeb;
    border: none;
    
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-selectonemenu.ui-state-default.ui-state-hover{
	box-shadow:none;
}

/* .ui-radiobutton-icon { */
/*     margin-left: -3px !important; */
/*     margin-top: -4px; */
/* } */

/* span.ui-radiobutton-icon.ui-icon.ui-c.ui-icon-bullet { */
/* 	-webkit-filter: none !important; */
/* 	filter: none !important; */
/* } */

.ui-overlaypanel {
    background-color: white;
    box-shadow: none !important;
    border: 1px solid lightgray;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	background: -webkit-gradient(linear, left top, right bottom, from(#040c31), to(#3179bc));
	background: -webkit-linear-gradient(top left, #040c31, #3179bc);
	background: -o-linear-gradient(top left, #040c31, #3179bc);
	background: linear-gradient(to bottom right, #040c31, #3179bc);
	
	color: white;
	border: none;
	border-radius: 3px;
	font-weight: normal;
	text-shadow: none;
}

.ui-selectonemenu-panel {
	box-shadow: none !important;
    border: 1px solid lightgray;
    margin-top: -1px;
/*     width: auto !important; */
}

.notaDataList .ui-datalist .ui-datalist-header, .notaDataList .ui-datalist .ui-datalist-footer {
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 0;
    background-color: #dddddd;
    color: #676767;
    padding: 0 !important;
    font-variant-caps: all-petite-caps;
}

.consultaDatalist .ui-datalist {
	max-height:	200px !important;
	overflow-y: auto;
}

.consultaDatalist .ui-datalist-content {
	border: none;
}

.consultaDatalist .ui-datalist-data {
	max-height: 50vh;
	overflow: auto;
	margin: 0;
}

.consultaDatalist .ui-datalist-data {
/* 	background: red !important; */
}

/* .ui-selectonemenu-label.ui-inputfield.ui-corner-all { */
/* 	box-shadow: none; */
/* 	padding: 0; */
/* 	white-space: normal; */
/* 	margin-right: 25px !important; */
/* } */

.ui-tooltip .ui-tooltip-text {
    background-color: #c0c0c0;
    color: #fff;
    text-align: justify;
    
	-webkit-box-shadow:none;
	box-shadow:none;
}


.ui-outputlabel.ui-state-error {
    border: 0 none;
    text-decoration: underline #cd0a0a;
    background: none;
    color: #cd0a0a;
}

.ui-datascroller .ui-datascroller-content {
    display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

/*     margin-bottom: 2vw; */
/*     border: 1px solid #a8a8a8 !important; */
}

.ui-datascroller-content.ui-widget-content.ui-corner-all {
    border: none !important;
    max-height: 300px;
    overflow-y: auto;
}

.ui-datascroller .ui-datascroller-item {
	
}

.ui-widget .ui-outputpanel{
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.searchPanel {
	display: -ms-flexbox !important; 
 	display: -moz-flexbox !important;
 	display: -webkit-flex !important;
 	display: -o-flex !important;
 	display: flex !important;
 	
 	-moz-flex-flow: row nowrap !important;
	-ms-flex-flow: row nowrap !important;
	-o-flex-flow: row nowrap !important;
	-webkit-flex-flow: row nowrap !important;
	flex-flow: row nowrap !important;
	
	-moz-justify-content: flex-end !important;
 	-ms-justify-content: flex-end !important;
 	-o-justify-content: flex-end !important;
 	-webkit-justify-content: flex-end !important;
 	justify-content: flex-end !important;
 	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center;
 	align-items: center;
}

.ui-inplace .ui-inplace-editor {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
}

.ui-state-hightlight, .ui-widget-content.ui-state-hightlight  {
	background: #b4bed6 !important;
	border: 1px solid #fff;
}

.ui-widget-overlay {
	background: rgb(42, 45, 68);
	opacity: 0.5;
}

.ui-panelgrid-cell .ui-outputlabel, .ui-outputlabel, label {
    color: #155288;
/*     margin-top: .5em; */
/*     font-variant-caps: all-petite-caps; */
/*     font-size: 20px; */
}

.mensagem {
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: row wrap;
 	-ms-flex-flow: row wrap;
 	-o-flex-flow: row wrap;
 	-webkit-flex-flow: row wrap;
 	flex-flow: row wrap;
	
   	-moz-justify-content: space-between;
 	-ms-justify-content: space-between;
 	-o-justify-content: space-between;
 	-webkit-justify-content: space-between;
 	justify-content: space-between;
	
 	-moz-align-items: flex-start;
 	-ms-align-items: flex-start;
 	-o-align-items: flex-start;
 	-webkit-align-items: flex-start;
}

/* Data Table */
.ui-datatable tbody td {
/*     border: 1px solid #a7acb1 !important; */
}

.ui-datatable th {
    background-color: #f2f5f9 !important;
/*     border: 1px solid #a7acb1; */
}

.ui-datatable .ui-widget-header {
    background-color: #f2f5f9 !important;
/*     border: 1px solid #d2d6de !important; */
}

.ui-datatable-header {
	background-color: #eaeff4 !important;
}

.ui-datatable-odd {
    background-color: #ffffff;
}

.ui-state-highlight .ui-icon{
/* 	-webkit-filter: brightness(100); */
/* 	filter: brightness(100); */
}


/* Paginator */
.ui-paginator {
	background-color: #040c31;
	background: -webkit-gradient(linear, left top, right top, from(#3179bc), to(#040c31));
	background: -webkit-linear-gradient(left, #3179bc, #040c31);
	background: -o-linear-gradient(left, #3179bc, #040c31);
	background: linear-gradient(to right, #3179bc, #040c31);
	
/* 	border: 1px solid #040c31; */
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-rpp-options {
	background-color: #3179bc;
    border: 1px solid #040c31;
    border-radius: 3px;
    
    color: white;
    text-shadow: none;
}

a.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {
	background: #3179bc;
}

a.ui-paginator-page.ui-state-default.ui-corner-all {
    background: #153565;
}

.ui-paginator .ui-paginator-next .ui-icon, .ui-paginator .ui-paginator-prev .ui-icon, .ui-paginator .ui-paginator-first .ui-icon, .ui-paginator .ui-paginator-last .ui-icon{
	background-position-y: -158px;
    filter: brightness(100);
}

.ui-widget-header .ui-icon {
/*     filter: brightness(100); */
}


.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
	color: white;
    text-shadow: none;
}
 
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #799cd0;
	background: -webkit-gradient(linear, left top, right bottom, from(#799cd0), to(#5b87bd)) !important;
	background: -webkit-linear-gradient(top left, #799cd0, #5b87bd) !important;
	background: -o-linear-gradient(top left, #799cd0, #5b87bd) !important;
	background: linear-gradient(to bottom right, #799cd0, #5b87bd) !important;
	
	color: #fff;
	text-shadow: none !important;
	border-color: #3d5f87;
}

.ui-datatable tr.ui-state-hover, .ui-widget-header .ui-state-hover {
	background: -webkit-gradient(linear, left top, right bottom, from(#f2f5f9), to(#f2f5f9)) !important;
	background: -webkit-linear-gradient(top left, #f2f5f9, #f2f5f9) !important;
	background: -o-linear-gradient(top left, #f2f5f9, #f2f5f9) !important;
	background: linear-gradient(to bottom right, #f2f5f9, #f2f5f9) !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.titulo {
	font-size: 20px;
	font-weight: bold;
	font-variant-caps: all-petite-caps;
}

.consultaTable.ui-datatable .ui-datatable-header {
    border: none !important;
    background: none !important;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
	background-color: #040c31;
	background: -webkit-gradient(linear, left top, right top, from(#3179bc), to(#040c31));
	background: -webkit-linear-gradient(left, #3179bc, #040c31);
	background: -o-linear-gradient(left, #3179bc, #040c31);
	background: linear-gradient(to right, #3179bc, #040c31);
/*     border: 1px solid #040c31; */
	color: white;
	min-height: 35px;
}

/* Accordion */
.ui-accordion .ui-accordion-header {
	background-color: #040c31;
	background: -webkit-gradient(linear, left top, right top, from(#3179bc), to(#040c31));
	background: -webkit-linear-gradient(left, #3179bc, #040c31);
	background: -o-linear-gradient(left, #3179bc, #040c31);
	background: linear-gradient(to right, #3179bc, #040c31);
	border: 1px solid #040c31;
	
	color: white;
	text-shadow: none;
	text-align: center;
	
	margin-top: 2vh !important;
}

.ui-helper-reset {
	width: -webkit-fill-available;
	width: -moz-available;
}

.ui-accordion .ui-accordion-content {
	padding: 0 !important;
	overflow: inherit !important;
}

.ui-accordion .ui-accordion-header .ui-icon {
	background-color: white;
}


 /* Cores de prazo */
td.prazo.verde {
/*     background-color: #c8f5c8; */
/* 	border-bottom: 3px solid #00aa00; */
}

td.prazo.amarelo {
    background-color: #fff9ae;
	border-bottom: 3px solid #d0ad00;
}

td.prazo.vermelho {
    background-color: #ffb9b9;
	border-bottom: 3px solid #dc143c;
}

td.prazo.branco {
	background-color: #ffffff;
/* 	color: #c0c0c0; */
	border: 1px solid #a8a8a8
}

/* Mensagens */
.ui-tabs {
	border: none;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
    padding: .2em .2em 0;
    background: white !important;
    border-bottom: 1px solid silver;
}

.ui-tabs .ui-tabs-panel {
	padding: 0 .7em !important;
	border: 1px solid silver !important;
	border-top: none !important;
	border-radius: 0;
	padding: 0 0 0 .7em;
}

.ui-tabs .ui-tabs-nav li {
	background: #e4e4e4;
}

/* .ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal { */
/*     border: 1px solid; */
/*     margin: 10px 0; */
/*     padding: 10px 10px 10px 10px; */
/*     border: none !important; */
/*     background: rgba(0, 0, 0, 0) !important; */
/* 	font-family: "lato", Sans-serif; */
/* } */

/* .ui-messages-info, .ui-message-info { */
/* 	color: #3a5cad; */
/* 	background-color: #d9edf7; */
/* 	border-color: #bce8f1; */
/* } */

.solicitacao {
	padding: 0;
}

#conteudo {
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
/* 	border-right: 1px solid silver; */
}

#barraBtns {
/* 	width: 100px; */
/* 	margin-left: 5px; */
	
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column nowrap;
 	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-flex-flow: column nowrap;
 	flex-flow: column nowrap;
 	
	background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(white));
	background: -webkit-linear-gradient(#c4c4c4, white);
	background: -o-linear-gradient(#c4c4c4, white);
	background: linear-gradient(#c4c4c4, white);
}

.blankSquareBtn {
/* 	background-color: black; */
	
	width: 100px;
	height: 100px;
	
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: center;
 	-ms-justify-content: center;
 	-o-justify-content: center;
 	-webkit-justify-content: center;
 	justify-content: center;
	
 	-moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;
 	
 	text-decoration: none !important;
 	font-size: 15px;
 	text-align: center;
 	color: gray;
/*  	border-bottom: 1px solid #e4e4e4; */
	background: none;
}

a.blankSquareBtn:hover  {
	text-decoration: none;
	background-color: #396ba6 !important;
	color: white;
}

a.blankSquareBtn:hover .fa-inverse {
	color: #4f4f4f;
}

.active {
	background-color: white;
	outline: 1px solid white;
	color: #4f4f4f;
}

.blankSquareBtn .ui-state-disabled {
	background-color: #e4e4e4;
	outline: none;
	color: silver;
}

/* Breadcrumb */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
	display: -webkit-box;
	
	background: #727374;
	border: none;
	border-radius: 3px;
	
	-webkit-box-shadow: none;
	box-shadow: none;
	
	overflow: hidden;
	
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	
	margin: 2vh 0 0 2vw;
	
	-ms-align-self: flex-start;
	-o-align-self: flex-start;
	-webkit-align-self: flex-start; 
	-ms-flex-item-align: start; 
	align-self: flex-start;
}

.breadcrumbs li{
  float: left;
  margin-top: 0 ;
}

.breadcrumbs a{
	padding: .5em 1em .5em 2em;
	padding: 10px 15px 10px 30px;
	float: left;
	text-decoration: none;
	color: #ffffff;
	position: relative;
	text-shadow: none;
	border: none;
	
	background-color: #155288;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#376aa4), to(#376aa4));
	background-image: -webkit-linear-gradient(#376aa4, #376aa4);
	background-image: -o-linear-gradient(#376aa4, #376aa4);
	background-image: linear-gradient(#376aa4, #376aa4);
}

.breadcrumbs li:first-child a{
  padding-left: 1em;
  padding-right: 0.5em;
  border-radius: 5px 0 0 5px;
}

.breadcrumbs a::after,
.breadcrumbs a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.breadcrumbs a::after{ 
  z-index: 2;
  border-left-color: #376aa4;  
}

.breadcrumbs a::before{
  border-left-color: #155288;  
  right: -1.1em;
  z-index: 1; 
}

.breadcrumbs .current {
	background-image: none;
}

.breadcrumbs .current::after,
.breadcrumbs .current::before{
  content: normal;  
}

.breadcrumbs li:hover {
/*  filter: brightness(120%) saturate(90%); */
    font-weight: bold;
}

i.fa.fa-home {
    font-size: 18px;
}

.inlineLogin{
	display: -ms-inline-flexbox; 
 	display: -moz-inline-flexbox;
 	display: -webkit-inline-flex;
 	display: -o-inline-flex;
 	display: inline-flex;
 	
	-moz-flex-flow: row nowrap;
 	-ms-flex-flow: row nowrap;
 	-o-flex-flow: row nowrap;
 	-webkit-flex-flow: row nowrap;
 	flex-flow: row nowrap;
 	
    -moz-align-items: center;
 	-ms-align-items: center;
 	-o-align-items: center;
 	-webkit-align-items: center; 
 	align-items: center;

 	-moz-justify-content:center;
 	-ms-justify-content:center;
 	-o-justify-content:center;
 	-webkit-justify-content:center; 
 	justify-content:center;
 	
 	width: 100%;
/*  	min-height: 86vh */
}

.loginForm {
	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
 	
	-moz-flex-flow: column nowrap;
 	-ms-flex-flow: column nowrap;
 	-o-flex-flow: column nowrap;
 	-webkit-flex-flow: column nowrap;
 	flex-flow: column nowrap;
 	
    -moz-align-items: baseline;
 	-ms-align-items: baseline;
 	-o-align-items: baseline;
 	-webkit-align-items: baseline; 
 	align-items: baseline;
 	
 	border: 1px solid silver;
 	border-radius: 3px;
 	padding: 25px;
 	background: white;
 	
 	margin: 2vh 2vw;
 	min-height: 400px;
    width: 270px;
}

.loginForm .titulo {
	color: #1a568c;
	font-size:35px;
	margin-bottom: .1em;
}

/* .loginForm .ui-inputfield, .loginForm span { */
/* 	margin-bottom: 1em !important; */
/* } */

.loginForm label {
	color: #1a568c;
/* 	margin-top: 20px; */
}

.btnAnon {
	list-style: none;
	margin: 1vh 2vw;
	
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
  
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	
  	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	-moz-align-self: center;
 	-ms-align-self: center;
 	-o-align-self: center;
 	-webkit-align-self: center; 
 	align-self: center;
	
	width: 350px;
	
	padding: .5em;
	
/*	Estilo do botão */
	border: 1px solid #c0c0c0;
    border-radius: 7px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #fad55c 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
	
/* 	Estilo do link */
	text-decoration: none;
	color: #1b4882;
	text-decoration: none;	
	font-size: 25px;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: left;
  	
  	-ms-flex-pack: distribute;justify-content: space-around;
}

.btnAnon i {
	color: #040c31;
}

/* .btnAnon > .column { */
/*     margin-left: 1.7em; */
/* } */

/* .btnAnon > img { */
/*     background-color: #040c31; */
/*     padding: 15px; */
/*     border-top-left-radius: 7px; */
/*     border-bottom-left-radius: 7px; */
/* } */

.btnAnon:hover {
	background-position: -100% 0;
}

.btnAnon:hover i {
	color: white;
}

.tituloAnon {
    color: #040c31;
    font-size: 35px;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
}

.btnAnon:hover .tituloAnon, .btnAnon:hover .tituloMenu{
	color: white !important;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	transition: color 1s;
}

.btnAnon:hover .subTitulo {
	color: #a4dff2 !important;
	-webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
}
 
.anexo {
	border: 1px solid silver;
	width: -webkit-fit-content;
	width: fit-content;
	width: -moz-fit-content;
	padding: 3px;
	margin-top: 10px;
	text-decoration: none;
}

.anexo:hover {
	text-decoration: underline;
}

.ui-chkbox {
	margin-bottom: -20px;
	margin-left: 5px;
}

.noHover{
    pointer-events: none !important;
}

.togglerBtn {
    color: white !important;
    text-decoration: none;
    background: #4e7db5;
    padding: .2em .5em;
/*     margin-top: 10px; */
    border: 1px solid #155288;
    border-radius: 2px;
    
    background: #040c31;
    background: -webkit-gradient(linear, left top, right bottom, from(#3d6ea9), to(#5b87bd));
    background: -webkit-linear-gradient(top left, #040c31, #3179bc);
    background: -o-linear-gradient(top left, #040c31, #3179bc);
    background: linear-gradient(to bottom right, #040c31, #3179bc);
}

.togglerBtn i {
	margin-right: .4em;
/*     background: #155288; */
    border-radius: 5px;
}

.ui-columntoggler {
	min-width: 150px !important;
	min-height: 300px !important;
}

.ui-commandlink.ui-widget.togglerBtn.ui-state-focus {
    background: -webkit-gradient(linear, left top, right bottom, from(#3179bc), to(#040c31));
    background: -webkit-linear-gradient(top left, #3179bc, #040c31);
    background: -o-linear-gradient(top left, #3179bc, #040c31);
    background: linear-gradient(#3179bc, #040c31);
    
    border-color: #040c31;
    box-shadow: none !important;
}

.ui-datatable .ui-column-filter {
	width: 95% !important;
}

.ui-datatable-tablewrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.ui-datatable-tablewrapper::-webkit-scrollbar-thumb {
  background-color: #ff0080 !important;
  outline: 1px solid slategrey;
}

.ui-separator {
	width: 100%;
	padding: 0px;
	border-color: #e3e3e3;
	margin: 1em 0;
}

.separator {
	margin-top: 0;
    margin-bottom: 2em;
    border: 2px solid #4086d8;
}

.separator2 {
	width: 30%;
	margin-top: 0;
    margin-bottom: 2em;
    border: 1px solid #4086d8;
}

.sobre {
/* 	width: 90%; */
	padding: 3vh;
	background: white;
	margin: 2vw 2vh;
	align-self: center;
	border: 1px solid silver;
	max-width: 800px;
}


.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
	margin-bottom: 5px !important;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label{
	padding-left: 3em !important;
}

.ui-selectcheckboxmenu-label.ui-corner-all.ui-state-hover, .ui-selectcheckboxmenu-label.ui-corner-all{
	color: inherit !important;
	background: none !important;
	font-weight: normal !important;
	box-shadow: none !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin: 0 !important;
} 


p {
	margin-top: 0;
}

h1, h2, h3 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1a568c;
	font-weight: normal;
}

.ui-button-icon-left {
	left: .9em !important;
	border-radius: 0;
}

.legendaButton {
	background: #145187;
	padding: 2px 2px 2px 0px;
	color: white;
	border-radius: 50px;
	border: 2px solid #ffffff;
	box-shadow: 0 0 0 2pt #145187;
	width: 35px;
	height: 35px;
	text-align: center;
	margin-bottom: 1em;
}

.legendaButton:hover {
	background: #5b87bd;
    box-shadow: 0 0 0 2pt #5b87bd;
}

.legendaButton:focus {
	outline: none;
}

.legendaPanel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
		
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	
/* 	max-width: 450px; */
	padding: 1em;
}

.legendaBox {
	padding: 1.5em;
	margin-bottom: 1vh;
	margin-top: 1vh;
	
 	display: -ms-flexbox; 
 	display: -moz-flexbox;
 	display: -webkit-flex;
 	display: -o-flex;
 	display: flex;
  
	-moz-flex-flow: column wrap;
 	-ms-flex-flow: column wrap;
 	-o-flex-flow: column wrap;
 	-webkit-flex-flow: column wrap;
 	flex-flow: column wrap;
	
   	-moz-justify-content: flex-start;
 	-ms-justify-content: flex-start;
 	-o-justify-content: flex-start;
 	-webkit-justify-content: flex-start;
 	justify-content: flex-start;
	
 	-moz-align-items: flex-start;
 	-ms-align-items: flex-start;
 	-o-align-items: flex-start;
 	-webkit-align-items: flex-start; 
 	align-items: flex-start;
 	
 	border: 1px solid silver;
    background: white;
    
    min-width: 200px;
}

/* td.Aberta > .statusBox { */
/* 	background: #2196f3; */
/* 	color: white !important; */
/* } */

/* td.Atendida > .statusBox  { */
/* 	background: #5cb85c; */
/* 	color: white !important; */
/* } */

/* td.Negada > .statusBox  { */
/* 	background: #d9534f; */
/* 	color: white !important; */
/* } */

/* td.Reencaminhada > .statusBox  { */
/* 	background: #5bc0de; */
/* 	color: white !important; */
/* } */

/* td.Finalizada > .statusBox  { */
/* 	background: #858f9c; */
/* 	color: white !important; */
/* } */

/* td.Recurso > .statusBox  { */
/* 	background: #eab90f; */
/* 	color: white !important; */
/* } */

/* td.Prorrogada > .statusBox  { */
/* 	background: #824fbf; */
/* 	color: white !important; */
/* } */

/* td.Transição > .statusBox { */
/* 	background: #0039ff; */
/* 	color: white !important; */
/* } */

/* td.Sem-Resposta > .statusBox { */
/* 	background: #e77b40; */
/* 	color: white !important; */
/* } */

.aberta {
	background: #2196f3;
	color: white !important;
}

.tramitando {
	background: #13c5d9;
	color: white !important;
}

.atendida {
	background: #5cb85c;
	color: white !important;
}

.negada {
	background: #d9534f;
	color: white !important;
}

.reencaminhada {
	background: #3460f3;
	color: white !important;
}
.finalizada {
	background: #858f9c;
	color: white !important;
}

.recurso {
	background: #eab90f;
	color: white !important;
}

.prorrogada {
	background: #824fbf;
	color: white !important;
}

.semResposta {
	background: #e77b40;
	color: white !important;
}

.transicao {
	background: #0066ff;
	color: white !important;
}

.reformulacao {
	background: #ff80c0;
	color: white !important;
}

.statusBox {
/* 	color: white; */
	color: #c0c0c0;
	padding:0 3px;
	border-radius: 3px;
}

.legendaTooltip > .ui-tooltip-text {
    padding: 10px;
    background-color: #ffffff !important;
    color: #4c4c4c !important;
    border: 1px solid #808080;
    text-align: center;
}


.legendaTooltip > .ui-tooltip-bottom .ui-tooltip-arrow {
    left: initial !important;
    right: 8% !important;
    border-bottom-color: white;
}

.legendaTooltip > .ui-tooltip-bottom.ui-tooltip-arrow:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-right: 3px solid red;
	position: absolute;
	right: 8% !important;
}

.relatorioBtn {
	
}

.dashboardSmallPannel {
	-moz-justify-content: space-evenly;
 	-ms-justify-content: space-evenly;
 	-o-justify-content: space-evenly;
 	-webkit-justify-content: space-evenly;
 	justify-content: space-evenly;
 	
/*  	width: 100%; */
}

.menuDashboard {
	border: 1px solid silver;
	border-top: 5px solid #165389;
	border-radius: 3px;
	
	margin-bottom: 3vh;
}

.menuDashboardSmall {
	border: 1px solid silver;
	border-bottom: 5px solid #165389;
	border-radius: 3px;
	
/* 	margin-bottom: 3vh; */
	background: white;
	
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	
	height: 100%;
	min-height: 200px;
}

.menuDashboardSmall > .panel {
	margin: 1.5em 1em;
}

.menuDashboardSmall .panel > .ui-separator {
	border-bottom: 0;
	margin: .5em 0;
	padding: 0 !important;
}

.dashBoardHeader {
	background: #165389;
	 
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	padding: .3em 0;
	
/* 	Estilo do link */
	text-decoration: none;
	color: white;
	text-decoration: none;	
	font-size: 1.2em;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: left;
}

.dashboard {
/* 	border: 1px solid silver; */
/* 	border-top: 5px solid #165389; */
/* 	border-radius: 3px; */
	background: white;
/* 	padding: 1em; */
}

.dashboard > .panel {
	margin: 2em 1.5em;
	text-align: center;
	min-width: 100px;
}

.dashboardSmall {
    padding: 0 1em;
    height: inherit;
}

.dashboardSmall > .panel {
/* 	margin: 1.5em 1em; */
	text-align: center;
	min-width: 100px;
}

.panel > .ui-separator {
	border: 1px solid #e3e3e3;
	border-bottom: none;
	margin: .5em 0
}

.btnConsulta2 {
    background-color: #296099;
    background: -webkit-gradient(linear, left top, right bottom, from(#040c31), to(#3d6ea9));
    background: -webkit-linear-gradient(top left, #040c31, #3d6ea9);
    background: -o-linear-gradient(top left, #040c31, #3d6ea9);
    background: linear-gradient(to bottom right, #040c31, #3d6ea9);
    
    -webkit-transition: background-position 1s;
    -o-transition: background-position 1s;
    transition: background-position 1s;
    
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	padding: .3em;
	
/* 	Estilo do link */
	text-decoration: none;
	color: white;
	text-decoration: none;	
	font-size: 25px;
  	font-family: "lato", Sans-serif;
  	font-weight: 100;
  	text-align: left;
}
 	
.btnConsulta2:hover {
   	background-position: -100% 0;
   	background: linear-gradient(to bottom right, #040c31, #3078cf);
   	color: #040c31 #3078cf;
}

.link {
	text-decoration: none;
	font-weight: bold;
	color: #040c31; 
}

.link:hover {
	color: #3078cf; 
}

/* .rating-2x > .ui-rating-star a, .ui-rating-cancel a { */
/* 	background: url("https://images.weserv.nl/?url=http://arquivos.setc.se.gov.br/SE-Ouv/img/rating.png") no-repeat 0 0 !important; */
/* 	width: 50px !important; */
/* 	height: 50px !important; */
/* } */


/* .rating-2x > .ui-rating-star a { */
/* 	background-position: 0 -100px !important; */
/* } */

/* .rating-2x > .ui-rating-star-on a { */
/* 	background-position: 0 -150px !important; */
/* } */

/* .rating-2x > .ui-rating-cancel a { */
/* 	background-position: 0 0 !important; */
/* } */

/* .rating-2x > .ui-rating-cancel-hover a { */
/* 	background-position: 0 -50px !important; */
/* } */

.ui-fileupload-content {
	display: none;
}

.ui-button.ui-widget.ui-state-active {
    background-color: #1b4478;
/*     background: -webkit-gradient(linear, left top, right bottom, from(#040c31), to(#3d6ea9)); */
/*     background: -webkit-linear-gradient(top left, #040c31, #3d6ea9); */
/*     background: -o-linear-gradient(top left, #040c31, #3d6ea9); */
/*     background: linear-gradient(to bottom right, #040c31, #3d6ea9); */
    
    color: white;
    text-shadow: none
}

.ui-button-text-only .ui-button-text {
	padding: .15em 1em;
}

/* ========================== */
/* ====  RESPONSIVIDADE  ==== */
/* ========================== */


	.show-mobile {
		display: none;
	}

@media only screen and (max-width: 600px) {
	
	.hide-mobile {
		display: none !important;
	}
	
	.show-mobile {
		display: -ms-flexbox; 
	 	display: -moz-flexbox;
	 	display: -webkit-flex;
	 	display: -o-flex;
	 	display: flex;
	}
	
	#title {
		font-size: 1.5em;
		margin: 0;
	}
	
	.botao {
		margin: 3vh 0;
	    padding: 10px;
	    
	    border: 1px solid white;
	    border-radius: 7px;
	    
	    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 75%, rgba(255,255,255,0.85) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 75%,rgba(255,255,255,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 75%,rgba(255,255,255,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */
	}
	
	.btnConsulta {
		width: -webkit-fill-available;
		width: -moz-available;
		max-width: 320px;
	}
	
	.btnConsulta > img {
		width: -webkit-fill-available;
		width: -moz-available;
	}
	
	.btnConsulta > .column {
		margin: 0 5px;
	}
	
	.box {
/* 		width: -webkit-fill-available !important; */
/*    		width: -moz-available !important;    */
		width: 80vw !important;
	}
	
	.box p {
		text-align: left;
/* 		align-self: center; */
	}
	
	.box span {
		width: 100%;
	}
	
	.btnConsulta .subTitulo {
		padding: 0 10px;
	}
	
/* 	.ui-widget-header .ui-inputfield { */
/* 	    width: 75% !important; */
/* 	} */
	
	.column-responsive {
		-moz-flex-flow: column nowrap;
	 	-ms-flex-flow: column nowrap;
	 	-o-flex-flow: column nowrap;
	 	-webkit-flex-flow: column nowrap;
	 	flex-flow: column nowrap;
	}
	
/* 	.ui-inputfield { */
/* 		width: 95% !important; */
/* 	} */
	
	.ui-selectonemenu {
/* 		width: 60% !important; */
		width: auto !important;
	}
	
}


@media (min-width: 1200px)
.ficha {
    width: 1000px;
}

@media (min-width: 1200px)
.ficha {
    width: 1170px;
}

@media (min-width: 992px)
.ficha {
    width: 970px;
}

@media (min-width: 768px)
.ficha {
    width: 750px;
}

/* CSS ADMIN LOGIN */

html {
    height: 100%;
}

body {
	height: 100%;
}

#content3 {
/*     min-height: 100%; */
    background: #103b61;
    background: #0b1e42bd;
    
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: fill-available;
   	min-height: 100%;
   	
   	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   	
   	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#LoginformAdmin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: fill-available;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.loginFormAdmin {
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -o-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 25px;
    background: white;
    margin: 2vh 2vw;
    height: auto;
	width: auto;
}

.over {
	z-index: 1000;
}

.under {
}

.ui-autocomplete-panel .ui-autocomplete-list {
	overflow-y: scroll;
	max-height: 300px;
}

.ui-blockui-content {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}

.jqplot-point-label {
	text-shadow:
	   -1px -1px 0 white,  
	   1px -1px 0 white,
	   -1px 1px 0 white,
	   1px 1px 0 white;
}

.bigChart .jqplot-series-canvas {
	background: transparent;
}

.bigChart .jqplot-cursor-tooltip {
	color: white;
	background-color: red;
}

.tooltipDialog {
	border: 0;
	box-shadow: none
}

.tooltipDialog .ui-dialog-content {
	padding: 0 !important;
	border: none !important;
}

.ui-column-customfilter > .ui-selectonebutton > .ui-button .ui-button-text {
	padding: 0.1em !important;
}

.ui-dialog.ui-widget-content.loadDialog {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    background: rgba(250, 250, 255, 0.7);
}

.img > .loadDialog  {
	-ms-flex-item-align:center;
    -ms-grid-row-align:center;
    align-self:center;
}

/* .input-date-relatorio .ui-inputfield { */
/* 	padding: 5px !important; */
/* 	border-top-left-radius: 10px; */
/* 	border-bottom-left-radius: 10px; */
/* } */

.input-date-relatorio .ui-button {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.input-icon-relatorio .ui-button-icon-only .ui-icon {
	margin-left: -4px;
}

.input-icon-relatorio .ui-selectonemenu-trigger{
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.btnSimples {
	background: #6897cd !important;
}
